<rc-numbers-pills></rc-numbers-pills>

<rc-page-title icon="phone" title="NUMBERS" sub-title="OUTGOING CALLER IDS"></rc-page-title>

<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <button class="btn btn-primary" ng-click="showRegisterOutgoingCallerIDModal()"><i class="fa fa-plus"></i> Register Caller ID </button>
        </div>

        <div ng-show="outgoingList.length > 0"><rc-list-filter filter="query.phone_number"></rc-list-filter></div>

        <div ng-hide="(outgoingList | filter:query).length > 0" class="jumbotron no-records-alert">
            <h2><i class="fa fa-exclamation-circle"></i> No outgoing caller ids <span ng-show="outgoingList.length == 0">registered</span><span ng-show="outgoingList.length > 0">matching query</span>. <small>Register one now!</small></h2>
        </div>

        <table ng-show="(outgoingList | filter:query).length > 0" class="table table-striped table-hover" ng-cloak>
            <thead>
            <th class="width-20pc">NUMBER</th>
            <th class="width-20pc" colspan="2">NAME</th>
            <th>STATUS</th>
            <th class="width-10pc">&nbsp;</th>
            </thead>
            <tbody>
            <tr ng-repeat="pn in outgoingList">
                <td><h4 class="text-center">{{ pn.phone_number  }}</h4></td>
                <td><h5 class="text-center">{{ pn.friendly_name  }}</h5></td>
                <td><h5><i class="fa fa-pencil clickable" ng-click="editingFriendlyName = pn.phone_number"></i></h5></td>
                <td>
                    <span ng-hide="{{ pn.verified }}"><h5><i class="fa fa-remove-circle unavailable-feature"></i> <small> NOT VERIFIED</small></h5></span>
                    <span ng-show="{{ pn.verified }}"><i class="fa fa-check-sign available-feature"></i> <small> VERIFIED</small></span>
                </td>
                <td class="text-right">
                    <div class="btn-delete-div"><button class="btn btn-danger" ng-click="confirmOutgoingNumberDelete(pn)">Delete</button></div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<!-- Register New Number Modal -->
<div modal="registeringNewNumber" close="closeRegisterOutgoingNumber()" options="modalOpts">
</div>
