@CHARSET "UTF-8";

html, body {
  height: 100%;
}

body {
  font-family: arial, sans-serif;
  font-size: 12px;
  
  margin: 0px;
  padding: 0px;
}

#canvas {
  position: relative;
  min-height: 100%;
}

#header {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#footer {
  background-color: #194e91;
  color: #ffffff;
  
  font-weight: bold;
  
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 0;
}
