<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>RVD</display-name>

	<servlet>
		<servlet-name>RVD Initialization Servlet</servlet-name>
		<servlet-class>org.restcomm.connect.rvd.bootstrap.RvdInitializationServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>RVD Services</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		
		<!-- automatic package scanning for some reason does not work with Jersey 
			in JBoss -->
		<!-- <init-param> <param-name>com.sun.jersey.config.property.packages</param-name> 
			<param-value>org.restcomm.connect.rvd</param-value> </init-param> -->
		<!-- In order to add a resource class add it manually from Application 
			class specified below -->
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>org.restcomm.connect.rvd.bootstrap.RvdRestApplication</param-value>
		</init-param>
		<!--
		<init-param>
  			<param-name>com.sun.jersey.spi.container.ResourceFilters</param-name>
  			<param-value>org.restcomm.connect.rvd.security.RvdResourceFilterFactory</param-value>
  		</init-param>
  		-->
		
		<!-- Enable resource matching trace for Jersey. Very handy. It uses HTTP headers in the REST response. -->
		<!-- 
		<init-param>
            <param-name>com.sun.jersey.config.feature.Trace</param-name>
            <param-value>true</param-value>
        </init-param>
         -->
		<load-on-startup>1</load-on-startup>
	</servlet>

	
	<servlet-mapping>
		<servlet-name>RVD Services</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>

	<!-- Disable JBoss RESTeasy JAX-RS implementation as it conflicts with Jersey -->
	<context-param>
		<param-name>resteasy.scan</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>resteasy.scan.providers</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>resteasy.scan.resources</param-name>
		<param-value>false</param-value>
	</context-param>

	<!--security-constraint>
    <web-resource-collection>
        <web-resource-name>RestComm</web-resource-name>
        <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
    </security-constraint-->
</web-app>
