
	<div class="step say-step panel panel-rvdstep">
		<div class="panel-heading"><h4 class="panel-title"><i ng-click='step.isCollapsed = !step.isCollapsed' class="fa rvd-clickable" ng-class="{'fa-caret-right': step.isCollapsed, 'fa-caret-down': !step.isCollapsed}"></i>&nbsp; &nbsp;<span  tooltip='{{step.name}}'>{{step.title}}</span> <em><small ng-show='step.isCollapsed'>{{step.phrase}}</small></em><i ng-click='stepService.removeStep(steps,stepnames,step,orderedSteps)' class='fa fa-trash-o pull-right rvd-clickable'></i></h4></div>
		<div class="panel-body" ng-hide='step.isCollapsed'>
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="form-group">
						<!--<label for="phraseTextInput">Phrase</label>-->
						<span class="help-block">Type the text that will be read to the user</span>
						<!--<input ng-model='step.phrase' type="text" id="phraseTextInput" class="small form-control" placeholder="say something..." tooltip="The text that will be read to the user" required>-->
						<textarea ng-model='step.phrase' class="form-control"></textarea>	
					</div>
				</div>
			</div>
					
			<i ng-click="step.iface.optionsVisible = !step.iface.optionsVisible" class='fa fa-cog rvd-clickable' ng-class="{'rvd-active': step.iface.optionsVisible }"></i>
			<div ng-show="step.iface.optionsVisible" class="row "> <!--  add step_options class  -->
				<br/>
				<div class="col-lg-12">
					<div class="input-group form-group input-group-sm">
						<span class="input-group-addon ">Language</span>
						<!-- <select name="next" ng-model='mapping.next' ng-options='target.name as target.label for target in getAllTargets()' class="form-control input-sm" required></select> -->
						<select ng-model='step.language' ng-options='language.name as language.text for language in languages'  id="languageSelect" class="form-control input-sm say-language-dropdown" ></select>  <!--  tooltip="The 'language' attribute allows you pick a specific language for speech synthesis" -->
					</div>
					<div class="btn-toolbar" role="toolbar">
						
					  
					  <span class="btn-group">
						<button ng-click='step.voice="man"' ng-class="{active:step.voice=='man'}"  type="button" class="btn btn-default btn-sm"><i class='fa fa-male'></i></button>
						<button ng-click='step.voice="woman"' ng-class="{active:step.voice=='woman'}" type="button" class="btn btn-default btn-sm"><i class='fa fa-female'></i></button>
						<!-- <button ng-click='step.voice=""' ng-class="{active:step.voice==''}" type="button" class="btn btn-default btn-sm">auto</button> -->
					  </span>
					</div>
				</div>
				<!-- 
				<div class="col-lg-6">
					
				</div>
				 -->
			</div>
		</div>
	</div>
