<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--
  @author thomas.quintana@telestax.com (Thomas Quintana)
-->
<configuration>
  <environments default="production">
    <environment id="production">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.hsqldb.jdbcDriver"/>
		<property name="url" value="jdbc:hsqldb:file:///MYBATIS_SANDBOX_PATH/restcomm;create=true;hsqldb.write_delay=false;shutdown=true"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
      </dataSource>
    </environment>
  </environments>
  
  
  <mappers>
  	<mapper  url="file:MYBATIS_SANDBOX_PATH/accounts.xml"/>
	<mapper  url="file:MYBATIS_SANDBOX_PATH/permissions.xml"/>
  </mappers>
</configuration>