@CHARSET "UTF-8";

.dashboard {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.dashboard-main-menu-bar {
  background-color: #194e91;
  height: 50px;
}

.dashboard-sub-menu-bar {
  background-color: #888888;
  height: 30px;
}

.dashboard-main-menu-panel, .dashboard-sub-menu-panel, .dashboard-content {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.dashboard-main-menu, .dashboard-sub-menu {
  margin-left: 0px;
  padding-left: 0px;
}

a.dashboard-main-menu-item, a.dashboard-main-menu-help, a.dashboard-main-menu-item-selected, a.dashboard-main-menu-help-selected {
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  
  margin: 0px;
  padding: 0px;
}

a.dashboard-main-menu-item, a.dashboard-main-menu-help {
  color: #ffffff;
}

a.dashboard-main-menu-item-selected, a.dashboard-main-menu-help-selected {
  color: #333333;
}

.dashboard-main-menu-item, .dashboard-main-menu-help {
  margin-top: 16px;
}

.dashboard-main-menu-item {
  margin-right: 50px;
  float: left;
}

.dashboard-main-menu-help {
  float: right;
}

.dashboard-sub-menu-item, .dashboard-sub-menu-item-selected {
  float: left;
  margin-top: 8px;
  margin-right: 20px;
}

a.dashboard-sub-menu-item, a.dashboard-sub-menu-item-selected {
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  
  margin: 0px;
  padding: 0px;
}

a.dashboard-sub-menu-item {
  color: #ffffff;
}

a.dashboard-main-menu-item-selected, a.dashboard-sub-menu-item-selected {
  color: #333333;
}

.dashboard-content-header {
  color: #eb4821;
}

.dashboard-busy-indicator {
  visibility: hidden;
}