@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Hairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-HairlineItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    font-family: Lato, sans-serif;
}

body {
    background: #ffffff !important;
}

@media(max-width:768px) {
    body {
        overflow: hidden;
    }
}

/* -- Override yellow background on auto-filled fields ---------------------- */

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #babbbb;
    font-weight: 300;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #babbbb;
    opacity:  1;
    font-weight: 300;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #babbbb;
    opacity:  1;

}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #babbbb;
    font-weight: 300;
}

a:link,
a:active,
a:visited {
    color: #4a4a4b;
    text-decoration: none;
}

.fit-to-size {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rc-btn {
    background: #9f9f9f;
    color: #ffffff;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 3px;
    padding: 10px 25px;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
}

.rc-btn.rc-btn-sm {
    font-size: 15px;
    padding: 6px 15px;
}

/* -- Skeleton -------------------------------------------------------------- */

@media(max-width:768px) {
    #wrap .container {
        padding-top: 10px !important;
    }
}

#footer {
    padding-top: 10px;
    padding-left: 10px;
}

@media(max-width:768px) {
    #footer {
        padding-top: 10px;
    }
}

.footer-social-media {
    padding-right: 20px;
}

.footer-social-media a+a {
    padding-left: 10px;
}

.telestax-rights {
    color: #a3a3a3;
    text-align: center;
    margin-top: -7px;
}

@media(max-width:768px) {
    .telestax-rights {
        display: none;
    }
}

/* -- Sign in --------------------------------------------------------------- */

#console-logo {
    width: 280px;
}

@media(max-width:768px) {
    #console-logo {
        width: 200px;
    }
}

#sign-in {
    float: left;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    color: #6d6e70;
    padding-bottom: 30px;
}

@media(max-width:768px) {
    #sign-in {
        font-size: 20px;
        font-weight: normal;
        padding-bottom: 5px;
    }
}

.sign-in-label {
    color: #45a5ab;
    font-weight: normal;
    margin-top: 20px;
}

@media(max-width:768px) {
    .sign-in-label {
        margin-top: 15px;
        margin-bottom: 3px;
    }
}

form[role=login] {
    font: 16px/1.6em Lato, serif;
    background: transparent;
    padding: 0 10px 25px 10px;
}

form[role=login] input {
    color: #6d6e70;
    border: none;
    border-bottom: 2px solid #45a5ab;
    margin-bottom: 20px;
    padding-bottom: 0;
    border-radius: 0;
    box-shadow: none;
    font-weight: 300;
    height: auto;
    font-size: 20px;
}

@media(max-width:768px) {
    form[role=login] input {
        padding-top: 5px;
    }
}

form[role=login] input::-webkit-input-placeholder {
    color: #c1c4c5;
}
form[role=login] input:-moz-placeholder {
    color: #c1c4c5;
}
form[role=login] input::-moz-placeholder {
    color: #c1c4c5;
}
form[role=login] input:-ms-input-placeholder {
    color: #c1c4c5;
}

form[role=login] input:-webkit-autofill,
form[role=login] input:-webkit-autofill:focus{
    box-shadow: 0 0 0 1000px white inset;
    transition-property: background-color;
    -webkit-text-fill-color: #6d6e70;
}

.login-form .form-control {
    padding-left: 3px;
}

.login-form .form-control:focus {
    box-shadow: inset 0 0 6px #ffffff;
    -webkit-box-shadow: 0 0 6px #ffffff;
    -moz-box-shadow: 0 0 6px #ffffff;
}

.sign-in-btn {
    margin-top: 40px;
    width: 180px;
}

#forgot-password {
    float: right;
    color: #bdbdbd;
    font-size: 14px;
    font-weight: 300;
    margin-right: 15px;
    margin-top: -20px;
}

#sign-up {
    text-align: center;
    color: #aaa;
    margin-top: 10px;
}

/* -- Main Container -------------------------------------------------------- */
.main-container {
    // height: calc(100vh - 163px);
    // overflow: auto;
    padding: 40px 80px 0;
}

@media(max-width:768px) {
    .main-container {
        height: calc(100vh - 163px);
        overflow: auto;
        padding: 20px 15px 0;
    }
}

/* -- Top Bar --------------------------------------------------------------- */

.logo-container {
    width:100%;
    height:150px;
    padding-right: 0;
    padding-left: 130px;
    padding-top: 40px;
    margin-right: auto;
    margin-left: auto;
}

@media(max-width:768px) {
    .logo-container {
        text-align: center;
        height: 110px;
        padding-left: 0;
    }
}

.logo-container-inside{
    padding-top: 10px;
}

@media(max-width:768px) {
    .logo-container-inside{
        position: sticky;
        top: 0;
    }
}

.logo-inside {
    margin-top: 15px;
    padding-left: 5%;
}

.user-menu {
    font-size: 16px;
    margin-top: 26px;
    margin-bottom: -10px;
    padding-right: 50px;
}

.user-dropdown-menu {
    position: absolute !important;
    min-width: 150px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.user-dropdown-menu i {
    min-width: 20px;
    text-align: center;
    margin-right: 10px;
}

.user-dropdown-menu a:hover {
    font-weight: bold;
}

.primary-tabs {
    background-color: #eeeeee;
    margin-top: 15px;
}

.primary-tabs-container {
    display: table;
    table-layout: fixed;
    font-size: 18px;
    height: 31px;
    /* padding: 0px; */
    margin-top: 9px;
    margin-bottom: -2px;
}

.primary-tabs-container span {
    display: table-cell;
    text-align: center;
}

@media(max-width:768px) {
    /* to have the items evenly spaced */
    .primary-tabs-container {
        display: block;
        text-align: justify;
    }
    .primary-tabs-container:after {
        display: inline-block;
        width: 100%;
        content: '';
    }
    .primary-tabs-container span {
        display: inline-block;
    }

    .user-menu {
        display: none;
    }
    .primary-tabs-container {
        display: none;
    }

    .primary-tabs-mobile {
        display: block;
    }
}

.primary-tabs-mobile {
    display: none;
}

@media(max-width:768px) {
    .primary-tabs-mobile {
        display: block;
    }
}

.primary-tabs-container span.active {
    border-bottom: 2px solid #44a5ab;
}

.primary-tabs-container span a,
.primary-tabs-container span a:active,
.primary-tabs-container span a:visited {
    color: #6d6e70;
    text-decoration: none;
}

.primary-tabs-container span a:hover {
    color: #4a4a4b;
    font-weight: bold;
}

.mobile-menu {
    background-color: #eee;
    padding-bottom: 2000px;
    font-size: 1.5em;
    margin-left: -15px;
    margin-right: -15px;
    padding-right: 15px;
    padding-left: 15px;
}

.mobile-menu > ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.mobile-menu > ul > li {
    border-bottom: 1px solid #ddd;
}

.mobile-menu > ul > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.mobile-menu > ul > li > a:hover {
    // background-color: #aaa;
    font-weight: bold;
}



/* -- Home ------------------------------------------------------------------ */

.cards {
    padding: 25px 50px;
}

.card {
    padding: 0 50px;
}

@media(max-width:768px) {
    .card {
        padding: 0;
    }
    .card+.card {
        padding-top: 50px;
    }
}
.card-hot-title {
    color: #df3d00;
}

.card-title {
    color: #4a4a4b;
}

.card-body {
    color: #6d6e70;
}

.card-tip {
    font-size: 2em;
    float: left;
    margin: 7px 10px;
}

.carousel-dots {
    text-align: left;
}

.carousel-dots li button:before {
    font-size: 12px;
    color: #44A5AB;
}

.briefs {
    background-color: #EEEEEE;
    padding: 25px 100px;
    margin-left: -80px;
    margin-right: -80px;
}

@media(max-width:768px) {
    .briefs {
        background-color: #EEEEEE;
        padding: 25px 50px;
    }
}

.briefs-title {
    color: #CBC9C9;
    font-size: 2em;
    padding-bottom: 10px;
}

.brief-card {
    background-color: white;
    border: 2px solid #e6e6e6;
    border-radius: 3px;
    padding: 20px;
}

@media(max-width:768px) {
    .brief-card {
        margin-top: 10px;
    }
}

/* -- Accounts -------------------------------------------------------------- */

.accounts-tabs {
    padding: 3%;
}

.accounts-tabs > div+div {
    margin-top: 30px;
}

.accounts-tabs a,
.accounts-tabs-mobile a {
    color: #aaa;
    font-size: 1.2em;
}

.accounts-tabs-mobile {
    padding: 20px 20px;
    font-weight: normal;
    text-align: center;
}

.accounts-tabs-mobile .active  {
    border-bottom: 2px solid #44a5ab;
}

.accounts-tabs .active a,
.accounts-tabs-mobile .active a {
    color: #555;
    font-weight: bold;
}

.profile-form {
    font-size: 1.25em;
}

.profile-form .row {
    margin-bottom: 30px;
}

.account-logo {
    font-size: 7em;
    font-weight: bolder;
    line-height: 120px;
    background-color: #12506C;
    color: white;
    border-radius: 15px 45px;
    height: 125px;
    width: 125px;
    text-align: center;
    float: left;
}

.account-info {
    margin-left: 150px;
}

.account-name {
    font-size: 1.6em;
    font-weight: bold;
}

.account-type {
    font-size: 1.25em;
    color: #949494;
}

.account-status {
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    width: fit-content;
    margin-top: 15px;
    display: inline-block;
}
.account-status + .account-status {
    margin-left: 5px;
}

.account-status-active {
    border: 3px solid #7EBA5A;
    color: #7EBA5A;
}

.account-status-active-text {
    color: #7EBA5A;
}

@media(max-width:768px) {
    .account-logo {
        font-size: 4em;
        line-height: 90px;
        border-radius: 10px 35px;
        height: 95px;
        width: 95px;
    }

    .account-info {
        margin-left: 115px;
    }

    .account-name {
        font-size: 1.2em;
    }

    .account-type {
        font-size: 1em;
    }

    .account-status {
        padding: 5px;
        border: 2px solid #7EBA5A;
        border-radius: 7px;
        font-size: 1em;
    }
}

.account-field-title {
    font-weight: bold;
    text-align: right;
}

@media(max-width:768px) {
    .account-field-title {
        text-align: left;
    }
}


.account-field-value {
    color: #6d6e70;
}

.account-sid-auth-token-input {
    width: calc(100% - 25px);
    border: none;
    background-color: transparent;
}

.auth-token-toggle {
    cursor: pointer;
}

/* -- Sub-Accounts ---------------------------------------------------------- */

.sub-accounts-row {
    border-bottom: 2px solid #eee;
    font-size: 1.25em;
    color: #AAA;
    font-weight: 300;
    padding: 10px 0;
    line-height: 35px;
    cursor: pointer;
}

@media(max-width:768px) {
    .sub-accounts-row > div:first-child {
        line-height: 25px;
    }
}

.sub-accounts-row .account-logo {
    font-size: 1.4em;
    line-height: 35px;
    border-radius: 5px 13px;
    height: 35px;
    width: 35px;
    margin-right: 20px;
}

.sub-account-role-mobile {
    font-size: 0.6em;
    line-height: 0.6em;
}


.search-form .search-icon {
    margin-right: -30px;
    padding-bottom: 6px;
}

.search-form input[type="text"] {
    background: transparent;
    font-size: 15px;
    color: #bebebe;
    width: 150px;
    padding: 6px 15px 2px 35px;
    border: none;
    border-bottom: 1px solid #e4e4e4;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

.dashboard-form input[type="text"] {
    background: transparent;
    font-size: 15px;
    color: #bebebe;
/*    width: 150px;*/
    padding: 6px 15px 2px 8px;
    border: none;
    border-bottom: 1px solid #e4e4e4;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

.search-form input[type="text"]:focus {
    width: 100%;
}

@media(max-width:768px) {
    .search-form {
        margin-left: 10px;
    }

    .search-form input[type="text"] {
        width: 120px;
    }

}

/* -- Analytics ------------------------------------------------------------- */

.analytics-title {
    color: #4a4a4b;
    font-weight: 300;
}

@media(max-width:768px) {
    .nv-x.nv-axis .tick:nth-of-type(even) > text {
        display: none;
    }
}

/* -- Clients --------------------------------------------------------------- */

.rc-list {
    font-size: 1.4em;
    table-layout: fixed;
}

.clients-list {
}

.clients-list .clients-list-username {
    width: 20%;
    vertical-align: middle;
}

.clients-list .clients-list-edit-icon {
    width: 30px;
    opacity: 0;
    vertical-align: middle;
}

.number-row:hover .clients-list-edit-icon {
    opacity: 1;
}

.clients-list .clients-list-friendly-name {
    width: 25%;
    vertical-align: middle;
}

.clients-list .clients-list-applications {
    width: 40%;
    vertical-align: middle;
}

.clients-list .clients-list-delete-icon {
    width: 10%;
    vertical-align: middle;
}


@media(max-width:768px) {
    .clients-list {
        font-size: 1.1em;
    }

    .clients-list .clients-list-username > div {
        font-size: 1.25em;
    }
    .clients-list .clients-list-username > div+div {
        font-size: 0.8em;
        color: #bbbbbb;
    }

}

/* -- Applications -----------------------------------------------------*/

.apps-list {
    font-size: 1.5em;
    border-bottom: 1px solid #ddd;
}

.apps .apps-list-navigation {
    color: #abacad;
    text-align: right;
    padding-right: 50px;
    margin-bottom: 20px;
}

.apps-list .apps-list-kind {
    width: 20%;
}

.apps-list .apps-list-type {
    width: 20%;
}

.apps-list .apps-list-number {
    width: 20%;
}

.app-details .app-details-content {
    font-size: 1.1em;
}

.app-details .app-numbers-section {
    font-size: 0.9em;
}

.app-details h3 {
    margin-bottom: 20px;
}

.app-details .app-details-subheader {
    margin-bottom: 40px;
}

.app-details .url-section {
    margin-bottom: 30px;
}

.app-details .app-numbers-section {
    margin-bottom: 20px;
}

.app-details .app-details-content {
    min-height: 250px;
}

/* temporary settings until properly implement app creation-wizzard */
.apps-wizzard .pick-rvd-area {
    min-height: 300px;
    background-color: lightgoldenrodyellow;
}

.apps-wizzard .pick-external-area {
    min-height: 300px;
    background-color: lightgoldenrodyellow;
}

.app-creation .name-param input {
    width: 80%;
}

.app-creation .params-section {
    font-size: 1.2em;
    margin-top: 50px;
}

.app-creation .kind-selection > button {
    min-width: 50px;
}


/* -- Numbers --------------------------------------------------------------- */

.numbers-list {
}

.numbers-list .number-row {
    height: 77px;
}

.numbers-list .numbers-list-number {
    width: 20%;
    vertical-align: middle;
}

.numbers-list .numbers-list-edit-icon {
    width: 30px;
    opacity: 0;
    vertical-align: middle;
}

.number-row:hover .numbers-list-edit-icon {
    opacity: 1;
}

.numbers-list .numbers-list-friendly-name {
    width: 80%;
    vertical-align: middle;
}

.numbers-list .numbers-list-features {
    width: 20%;
    vertical-align: middle;
}

.numbers-list .numbers-list-features div {
    width: 34px;
    display: inline-block;
    text-align: center;
}

.numbers-list .numbers-list-features div > i {
    font-size: 1.1em;
}

.numbers-list-features div:nth-child(2n) {
    margin-right: calc(100% - 85px);
}

.numbers-list .numbers-list-delete-icon {
    width: 10%;
    vertical-align: middle;
}

.numbers-list-summary {
    font-size: 0.75em;
    opacity: 0.33;
}

.buttons-per-page button {
    border: none;
    border-radius: 0;
    background-color: transparent;
}

.buttons-per-page button.active, .buttons-per-page button:active  {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.buttons-per-page button.active {
    border-bottom: 2px solid #44a5ab;
}

.buttons-per-page button:hover {
    background-color: transparent;
    font-weight: bold;
}


@media(max-width:768px) {
    .numbers-list {
        font-size: 1.1em;
    }

    .numbers-list .numbers-list-number {
        width: 80%;
        font-size: 1em;
    }

    .numbers-list .numbers-list-number > div+div {
        font-size: 0.8em;
        color: #bbbbbb;
    }

    .numbers-list .numbers-list-features div {
        width: 22px;
        display: inline-block;
        text-align: center;
    }

    .numbers-list-features div:nth-child(2n) {
        margin-right: calc(100% - 50px);
    }

}

/* -- Details --------------------------------------------------------------- */


.rc-btn.delete-btn {
    background-color: #F44336;
}

.rc-btn.delete-btn:hover {
    background-color: #d34039;
}

.rc-btn.close-btn {
    background-color: #d1d1d1;
    color: #7f7e7e;
}
.rc-btn.close-btn:hover {
    background-color: #c8c7c7;
}

.rc-btn.save-btn {
    background-color: #44a4ab;
}
.rc-btn.save-btn:hover {
    background-color: #3b8f96;
}

.rc-btn.close-btn + .rc-btn.save-btn {
    margin-left: 50px;
}

.details-section-title {
    color: #44a5ab;
    padding-top: 25px;
}

.details-advanced-link {
    font-size: 0.75em;
    margin-top: -20px;
    margin-right: 20px;
}

.details-box {
    width: 100%;
    background-color: #f0f0f0;
    border: 1px #d5d5d5;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.details-box.advanced {
    background-color: #faeee6;
}

@media(max-width:768px) {
    .details-section-title {
        padding-top: 0;
    }

    .details-box, .details-box.advanced {
        background-color: transparent;
        margin: 0;
        padding: 0;
    }
}

.details-field-title {
    color: #4a4a4b;
    font-weight: 300;
    font-size: 19px;
}

.rc-selection-picker {
    background-color: #ffffff;
    border: 2px solid #e4e3e3;
    border-radius: 20px;
    height: 42px;
    font-size: 17px;
    font-weight: 400;
    color: #6d6e70;
    width: 100%;
}

.rc-selection-picker.rc-selection-picker-advanced {
    border: 2px solid #ffdacb;
}

.rc-textbox {
    background-color: #ffffff;
    border: 2px solid #e4e3e3;
    border-radius: 5px;
    padding-left: 10px;
    width: 100%;
    height: 42px;
    font-size: 17px;
    font-weight: 400;
    color: #6d6e70;
}

.rc-textbox.rc-textbox-advanced {
    border: 2px solid #ffdacb;
}

button.btn-selection {
    background-color: white;
    border: none;
    box-shadow: none !important;
    border-bottom: 1px solid #e4e4e4;
}
































/* -- Override UI Bootstrap Pagination Styles ------------------------------- */

/* Regular page/link */
.pagination > li > a, .pagination > li > span {
    border: none;
    font-size: 0.8em;
    color: #bbbbbb;
}

.pagination > li > a:hover, .pagination > li > span:hover,
.pagination > li > a:focus, .pagination > li > span:focus {
    background-color: transparent;
    color: #000;
}

/* Current page/link */
.pagination > .active > a, .pagination > .active > span,
.pagination > .active > a:hover, .pagination > .active > span:hover,
.pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #44a5ab;
    color: #6d6e70;
}

/* Disabled page/link */
.pagination > .disabled > span, .pagination > .disabled > span:hover,
.pagination > .disabled > span:focus, .pagination > .disabled > a,
.pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #eeeeee;
}


/* -- Old classes for cleanup ----------------------------------------------- */


.clearfix {
    clear: both;
}

input, button, select, textarea {
    font-family: Lato, sans-serif;
    font-size: inherit;
    line-height: inherit;
}

.form-group  {
    margin-bottom: 0;
    font-family: Lato, sans-serif;
}

.dropdown {
    float: left;
    margin-left: 30px;
    margin-top: 5px;
    position: relative;
    display: inline-block;
}
