/* Bootstrap customization classes ------------------------------------------ */
.modal-large {
    width: 680px;
    margin-left: -340px;
}

.input-med-small {
    width: 135px;
}

.input-med-large {
    width: 180px;
}

.text-bottom {
    vertical-align: text-bottom;
}

/* Common classes ----------------------------------------------------------- */

body {
    background-image: url('../img/background.png')
}

.hidden {
    display: none !important;
}

.clickable {
    cursor: pointer;
}

.navbar-logo {
    vertical-align: bottom;
}

.navbar-telestax {
    margin-top: -9px;
}

.navbar-restcomm {
    margin-left: 10px;
    margin-top: -6px;
    height:24px;
}

.page-header {
    color: dimgrey;
    display: inline;
}

.page-subheader {
    color: darkgrey;
    display: inline;
}

.record-filter-div {
    margin-bottom: 20px;
}

.no-records-alert {
    margin-top: 50px;
}

hr.small {
    margin: 10px 0;
}

a.clean-link {
    text-decoration: none;
}

input.ng-dirty.ng-invalid {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}


.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-margins {
    margin: 0;
}

.margin-left-10 {
    margin-left: 10px;
}

.width-5pc {
    width: 5%;
}

.width-10pc {
    width: 10%;
}

.width-15pc {
    width: 15%;
}

.width-20pc {
    width: 20%;
}

.width-30pc {
    width: 30%;
}

.opacity30 {
    opacity: 0.3;
}
.opacity40 {
    opacity: 0.4;
}
.opacity50 {
    opacity: 0.5;
}
.opacity60 {
    opacity: 0.6;
}
.opacity70 {
    opacity: 0.7;
}

.form-dl > dt, .form-dl > dd {
    height: 36px;
    margin-top: 5px;
}

/* Index.html classes ------------------------------------------------------- */

ul#rightMenu > li i {
    margin-right: 5px;
    opacity: 0.5;
}

/* Dashboard Page classes --------------------------------------------------- */

.dashboard-container {
    height: 260px;
    width: 48.5%;
    margin-left: 5px;
    margin-right: 5px;
}

.dashboard-container > h1 {
    margin: 45px;
}

/* Accounts Page classes ---------------------------------------------------- */

.grey-tab > a {
    background-color: rgba(230, 230, 230, 0.3) !important;
    font-weight: bold;
}

.btn-configure {
    margin: 0 0 2px 10px;
}

/* Calls Logs classes ------------------------------------------------------- */

.table-condensed tr > td > dl {
    margin: 0;
}

.details-header {
    margin-top: -10px;
}

/* Messages Logs classes ---------------------------------------------------- */

.filter-field {
    margin-right: 15px;
}

/* Numbers classes ---------------------------------------------------------- */

.available-feature {
    color: #2e8b57;
}

.unavailable-feature {
    color: #8b0000;
}

.btn-delete-div {
    opacity: 0.8;
    margin-top: 6px;
}

.no-top-margin {
    margin-top: 0;
}

.account-details {
    margin-top: 5px;
}

.account-details-field {
    margin-right: 10px;
}

.account-details-field > h4 {
    margin-top: 5px;
}

.account-detail-field-name {
    margin-top: 5px;
}

/* Providers classes -------------------------------------------------------- */

.dl-small {
    margin: 3px 3px 3px -60px;
}

.dl-small > dt, .dl-small > dd {
    margin-top: 10px;
    margin-bottom: 10px;
}

.font-as-icon {
    font-size: 1.2em;
}

.notifications-wrapper {
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1500;
}

.navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}
.navbar {min-height:24px; height: 40px;}
.navbar-brand {padding: 10px; min-height: 24px;}




/* BOOTSTRAP 3 has no side tabs.. why? :\ */
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tabs-below > .nav-tabs {
    border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
    border-top-color: #ddd;
    border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
    border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
    border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
    border-color: #ddd #ddd #ddd transparent;
    *border-left-color: #ffffff;
}

.form-group + .form-group {
    padding-left: 0;
}

.date-group-sm {
    width: 210px;
}

.date-group-sm input.input-sm[type=date] {
    width: 140px;
}

.temp-modal-lg > .modal-dialog {
    width: 900px;
}

.provider-container {
    width: 48.5%;
    margin-left: 5px;
    margin-right: 5px;
}

.provider-container dd.form-inline > select {
    width: 80%;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}