.classpath
.settings
.project
.idea
pom.xml.versionsBackup
restcomm.dao/src/test/resources/data/restcomm.log
restcomm.dao/src/test/resources/data/restcomm.properties
target
bin
logs
**/*.iml
**/*~
.DS_Store
.checkstyle
