<div ussd-module>
	<div class="ussd-letter-counter"><span class="label" ng-class="{'label-default':node.iface.remainingChars>10,'label-warning':node.iface.remainingChars<=10 && node.iface.remainingChars>=0, 'label-danger':node.iface.remainingChars < 0}"><span ng-show='node.iface.remainingChars>=0'>{{node.iface.remainingChars}} characters left</span>  <span ng-show='node.iface.remainingChars<0'>{{-node.iface.remainingChars}} characters will be truncated</span>   </span></div>
	<div class='sortable-steps root' sortable-steps>
		<div class='step' ng-repeat='step in orderedSteps'>
			<ng-include src="'templates/' + step.kind + 'Step.html'"></ng-include>
		</div>
	</div>
</div>
