<div class="step control-step panel panel-rvdstep">
	<div class="panel-heading">
		<step-heading></step-heading>
	</div>
	<div class="panel-body" ng-hide='step.iface.isCollapsed'>
		<div class="row">
			<div class="conditions col-lg-6 col-md-6">
				<h4>Condition</h4>
				<button ng-click="addCondition()" class="btn btn-default"><i class="fa fa-plus"></i></button>
				<div ng-repeat="condition in stepModel.conditions" class="row condition">
                    <div class="col-md-10 col-lg-10 form-inline">
                        <div class="form-group operand">
                            <input ng-model="condition.operand1" type="text" class="form-control" placeholder="operand 1">
                        </div>
                        <div class="form-group operator">
                            <select ng-model="condition.operator" class="form-control">
                                <option value="equals">equals</option>
                                <option value="greater">greater</option>
                                <option value="less">less</option>
                                <option value="isTrue">is True</option>
                                <option value="isFalse">is False</option>
                            </select>
                        </div>
                        <div class="form-group operand">
                            <input ng-model="condition.operand2" type="text" class="form-control" placeholder="operand 2">
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <button ng-click="removeCondition(condition.name)" class="btn btn-default"><i class="fa fa-trash-o"></i></button>
                    </div>
                    <!--
                    <div class="col-md-2 col-lg-2">

                    </div>
                    -->
				</div>
			</div>
			<div class="action col-lg-6 col-md-6">
				<h4>Actions</h4>
				<button class="btn pull-right"></button>
			</div>
		</div>
	</div>
</div>
