<div class="input-group-btn">
  <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>-->
  <button type="button" class="btn {{addedClasses}} dropdown-toggle" data-toggle="dropdown">
	  {{selectedOption}}
	  <span class="caret"></span>
  </button>
  <!-- <button type="button" class="btn {{addedClasses}} dropdown-toggle" data-toggle="dropdown">
	<span class="caret"></span>
	<span class="sr-only">Toggle Dropdown</span>
  </button>
  -->
  <ul class="dropdown-menu" role="menu">
	<li ng-repeat="option in buttonOptions"><a ng-click='selectOption(option)'>{{option}}</a></li>
  </ul>
</div>
