<div class="panel rvd-panel">
	<div class="panel-heading rvd-handle">
		<h4 class="panel-title">
			<i ng-click='panel.isCollapsed = !panel.isCollapsed' class="fa rvd-clickable" ng-class="{'fa-caret-right': panel.isCollapsed, 'fa-caret-down': !panel.isCollapsed}"></i>
			&nbsp; &nbsp;
			<span ng-show='title' tooltip='{{title}}'>{{title}}</span> 
			<span ng-hide='title' tooltip='Untitled'>{{'rvdPanelUntitledLabel' | translate}}</span> 
			<i ng-click='closePanel()' class='fa fa-trash-o pull-right rvd-clickable'></i>
		</h4>
	</div>
	<div class="panel-body" ng-hide='panel.isCollapsed'>
		<div ng-transclude></div>
	</div>
</div>
