<div class="modal-header">
    <h3 class="no-margins"><i class="fa fa-phone"></i> Register Number</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <dl class="dl-horizontal form-dl">
            <dt>Account SID</dt>
            <dd>
                <input type="text" class="form-control input-xlarge" id="new-number-account-sid" ng-model="sid" placeholder="Account SID" disabled />
            </dd>
            <!--<hr class="small" />-->
            <dt>Phone Number</dt>
            <dd>
                <input id="new-number-number" class="form-control" ng-model="newNumber.phone_number" type="tel" placeholder="eg: 305 543987012" popover-placement="bottom" popover-trigger="focus" popover="The phone number you want to purchase. The number should be formatted starting with a '+' followed by the country code and the number in E.164 format."/>
            </dd>
            <!-- Area Code not supported currently
            <dt>&nbsp;</dt><dd><div class="text-muted"><small class="text-bottom">OR</small></div></dd>
            <dt>Area Code</dt>
            <dd><input id="new-number-areacode" ng-model="newNumber.area_code" type="tel" placeholder="eg.: 305" popover-placement="top" popover-trigger="focus" popover="The area code in which you'd like a new incoming phone number. Any three digit, US area code is valid. RestComm will provision a random phone number within this area code for you." /></dd>
            -->
        </dl>
        <div class="text-right">
            <button type="button" ng-click="isCollapsed = !isCollapsed" class="btn btn-default btn-sm"><i class="fa fa-ellipsis-h"></i> Optional Parameters</legend></button>
        </div>
        <div collapse="isCollapsed">
            <hr />
            <dl class="dl-horizontal form-dl">
                <dt>Friendly Name</dt>
                <dd class="form-inline">
                    <input type="text" class="form-control input-large" id="new-number-friendly-name" placeholder="Hot Line Number" ng-model="newNumber.friendly_name" />
                </dd>
            </dl>
            <h4>Voice</h4>
            <dl class="dl-horizontal form-dl">
                <dt>Voice Request URL</dt>
                <dd>
                    <rc-endpoint-url method-var="newNumber.voice_method" url-var="newNumber.voice_url" apps="availableApps"></rc-endpoint-url>
                </dd>
                <dt>Voice Fallback URL</dt>
                <dd>
                    <rc-endpoint-url method-var="newNumber.voice_fallback_method" url-var="newNumber.voice_fallback_url" apps="availableApps"></rc-endpoint-url>
                </dd>
                <dt>Status Callback URL</dt>
                <dd>
                    <rc-endpoint-url method-var="newNumber.status_callback_method" url-var="newNumber.status_callback_url"></rc-endpoint-url>
                </dd>
            </dl>
            <h4>SMS Messaging</h4>
            <dl class="dl-horizontal form-dl">
                <dt>SMS Request URL</dt>
                <dd>
                    <rc-endpoint-url method-var="newNumber.sms_method" url-var="newNumber.sms_url"></rc-endpoint-url>
                </dd>
                <dt>SMS Fallback URL</dt>
                <dd>
                    <rc-endpoint-url method-var="newNumber.sms_fallback_method" url-var="newNumber.sms_fallback_url"></rc-endpoint-url>
                </dd>
            </dl>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default cancel" ng-click="closeRegisterIncomingNumber()">Cancel</button>
    <button class="btn btn-primary" ng-click="registerIncomingNumber(newNumber)">Register</button>
</div>
