<div class="modal-header">
	<h3 class="modal-title"><i class="fa fa-cog"></i> {{'designerSettingsModalSettingLabel' | translate}}</h3>
</div>
<div class="modal-body">

	<p class="lead">{{'designerSettingsModalRestcommAPILabel' | translate}}</p>

	<form name="settingsForm" novalidate>
		<div class="help-block">{{'designerSettingsModalCredencialsLabel1' | translate}} <i>{{'designerSettingsModalCredencialsLabel2' | translate}}</i> {{'designerSettingsModalCredencialsLabel3' | translate}}</div>
		<div class="row form-group">
			<div class="col-md-6 input-group">
				<span class="input-group-addon">{{'designerSettingsModalUsernameInput' | translate}}</span>
				<input ng-model="settings.apiServerUsername" type="text" class="form-control">
			</div>
			<div class="col-md-6 input-group">
				<span class="input-group-addon">{{'designerSettingsModalPasswordInput' | translate}}</span>
				<input ng-model="settings.apiServerPass" type="password" class="form-control">
			</div>
		</div>
		{{watchForm(settingsForm.$valid)}}

	</form>
</div>
<div class="modal-footer">
	<button ng-disabled="preventSubmit" class="btn btn-primary" ng-click="ok()">{{'designerSettingsModalOkButton' | translate}}</button>
	<button class="btn btn-warning" ng-click="cancel()">{{'designerSettingsModalCancelButton' | translate}}</button>
	<div ng-show="alertMessage">{{alertMessage}}</div>
</div>
