
<div class="step panel panel-rvdstep">
		<div class="panel-heading"><h4 class="panel-title"><i ng-click='step.isCollapsed = !step.isCollapsed' class="fa rvd-clickable" ng-class="{'fa-caret-right': step.isCollapsed, 'fa-caret-down': !step.isCollapsed}"></i>&nbsp; &nbsp;<span  tooltip='{{step.name}}'>{{step.title}}</span> <small>{{step.phrase}}</small><i ng-click='stepService.removeStep(steps,stepnames,step,orderedSteps)' class='fa fa-trash-o pull-right rvd-clickable'></i></h4></div>
		<div class="panel-body" ng-hide='step.isCollapsed'>
			<div class='row'>
				<div class='col-md-12 form-group'>
					<div basic-draggable drop-target='.dial-nouns' class="dial-noun dial-noun-number label label-primary rvd-pickable"><i class='fa fa-phone'></i> &nbsp;Number</div>
					<div basic-draggable drop-target='.dial-nouns' class="dial-noun dial-noun-client label label-primary rvd-pickable"><i class='fa fa-user'></i> &nbsp;Client</div>
					<div basic-draggable drop-target='.dial-nouns' class="dial-noun dial-noun-conference label label-primary rvd-pickable"><i class='fa fa-group'></i> &nbsp;Conference</div>
					<div basic-draggable drop-target='.dial-nouns' class="dial-noun dial-noun-sipuri label label-primary rvd-pickable">Sip URI</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-md-12'>
					<div basic-sortable list-model='step.dialNouns' class='dial-nouns' item-added='addDialNoun(item,pos,listmodel)'>
						
						<div class="drop-area drop-area-nouns" ng-show="step.dialNouns.length == 0">
						    <div class="drop-prompt">
						        <em>Drag one or more Number/Client/Conference/SipURI nouns to add destinations</em>
						    </div>
						</div>
					
						<div ng-repeat='dialnoun in step.dialNouns'>
							<div ng-switch on="dialnoun.dialType">
								<div ng-switch-when="number">
									<div  class="input-group input-group-sm form-group">
										<span class="input-group-addon"><i class='fa fa-phone'></i></span>
										<input ng-model='dialnoun.destination' type='text' class='form-control' placeholder='1-444-555-6666' tooltip="Dial to number">
																			
										<span ng-show='dialnoun.advancedShown' class="input-group-addon" tooltip-popup-delay="1000" tooltip-trigger="mouseenter" tooltip="Send these DTMF tones after dialing the number">Send digits</span>
										<input ng-show='dialnoun.advancedShown' ng-model='dialnoun.sendDigits' type='text' class='form-control' placeholder='wwww1234' >
										
										<span ng-show='dialnoun.advancedShown' class="input-group-addon help-tooltip" tooltip-popup-delay="1000" tooltip-trigger="mouseenter" tooltip="Play or say information to the called party, or provide a chance to decline the phone call using 'Collect' and 'Hangup'">Before connect</span>
										<select ng-show='dialnoun.advancedShown' sync-model name='beforeConnectModule' ng-model='dialnoun.beforeConnectModule' ng-options='target.name as target.label for target in getAllTargets()' class="form-control">
											<option value=""></option>
										</select>
										
										<div class="validation-error" ng-show="form.next.$invalid">Choose a target</div>
										
										<span  class="input-group-addon fa fa-cog rvd-clickable" ng-click="dialnoun.advancedShown = !dialnoun.advancedShown"></span>
										<span class="input-group-addon fa fa-times rvd-clickable" ng-click="removeDialNoun(step,dialnoun)"></span>
									</div>
								</div>
								<div ng-switch-when="client">
									<div  class="input-group input-group-sm form-group">
										<span class="input-group-addon"><i class='fa fa-user'></i></span>
										<input ng-model='dialnoun.destination' type='text' class='form-control' placeholder='thomas' tooltip="Dial to client">
										<span class="input-group-addon fa fa-times rvd-clickable" ng-click="removeDialNoun(step,dialnoun)"></span>
									</div>
								</div>	
								<div ng-switch-when="conference">
									<div  class="input-group input-group-sm form-group">
										<span class="input-group-addon"><i class='fa fa-group'></i></span>
										<input ng-model='dialnoun.destination' type='text' class='form-control' placeholder='1234' tooltip="Dial to conference">
										
										<span ng-show='dialnoun.advancedShown' class="input-group-addon help-tooltip" tooltip-popup-delay="1000" tooltip-trigger="mouseenter" tooltip="Specify whether a participant can speak in the conference">Muted</span>
										<select ng-show='dialnoun.advancedShown' ng-model='dialnoun.muted' ng-options='pair.value as pair.caption for pair in yesNoBooleanOptions' class="form-control"></select>	

										<span ng-show='dialnoun.advancedShown' class="input-group-addon help-tooltip" tooltip-popup-delay="1000" tooltip-trigger="mouseenter" tooltip="A notification beep is played to the conference when a participant joins or leaves the conference">Beep</span>
										<select ng-show='dialnoun.advancedShown' ng-model='dialnoun.beep' ng-options='pair.value as pair.caption for pair in yesNoBooleanOptions' class="form-control"></select>	

										<span ng-show='dialnoun.advancedShown' class="input-group-addon help-tooltip" tooltip-popup-delay="1000" tooltip-trigger="mouseenter" tooltip="Start conference on enter">Start on enter</span>
										<select ng-show='dialnoun.advancedShown' ng-model='dialnoun.startConferenceOnEnter' ng-options='pair.value as pair.caption for pair in yesNoBooleanOptions' class="form-control"></select>	

										<span ng-show='dialnoun.advancedShown' class="input-group-addon help-tooltip" tooltip-popup-delay="1000" tooltip-trigger="mouseenter" tooltip="End conference on exit">End on exit</span>
										<select ng-show='dialnoun.advancedShown' ng-model='dialnoun.endConferenceOnExit' ng-options='pair.value as pair.caption for pair in yesNoBooleanOptions' class="form-control"></select>	
										
										<span  class="input-group-addon fa fa-cog rvd-clickable" ng-click="dialnoun.advancedShown = !dialnoun.advancedShown"></span>
										<span class="input-group-addon fa fa-times rvd-clickable" ng-click="removeDialNoun(step,dialnoun)"></span>
									</div>
								</div>		
								<div ng-switch-when="sipuri">
									<div  class="input-group input-group-sm form-group">
										<span class="input-group-addon">sip:</span>
										<input ng-model='dialnoun.destination' type='text' class='form-control' placeholder='1234' tooltip="Dial to SIP URI">
										<span class="input-group-addon fa fa-times rvd-clickable" ng-click="removeDialNoun(step,dialnoun)"></span>
									</div>
								</div>																								
							</div>	
						</div>	
					</div>
				</div>
			</div>


		
			<div class='row'>
				<!-- 
				<div class="col-lg-4">
					
					<input ng-show='step.dialType=="number"' ng-model='step.number' id='numberToCall' type='text' class='form-control' placeholder='1-444-555-6666' tooltip="Dial to number">
					<input ng-show='step.dialType=="client"' ng-model='step.client' id='numberToCall' type='text' class='form-control' placeholder='thomas' tooltip="Dial to client">
					<input ng-show='step.dialType=="conference"' ng-model='step.conference' id='numberToCall' type='text' class='form-control' placeholder='1234' tooltip="Dial to conference">
					<input ng-show='step.dialType=="sipuri"' ng-model='step.sipuri' id='numberToCall' type='text' class='form-control' placeholder='sip:thomas@127.0.0.1:5080' tooltip="Dial to  Sip URI">
				</div>
				
				<div class="col-lg-6">
				
					<div class="btn-toolbar" role="toolbar">
					  <div class="btn-group">
						<button ng-click='step.dialType="number"' ng-class="{active:step.dialType=='number'}"  type="button" class="btn btn-default"><i class='fa fa-phone'></i>&nbsp; Number</button>
						<button ng-click='step.dialType="client"' ng-class="{active:step.dialType=='client'}" type="button" class="btn btn-default"><i class='fa fa-user'></i>&nbsp; Client</button>
						<button ng-click='step.dialType="conference"' ng-class="{active:step.dialType=='conference'}" type="button" class="btn btn-default"><i class='fa fa-group'></i>&nbsp; Conference</button>
						<button ng-click='step.dialType="sipuri"' ng-class="{active:step.dialType=='sipuri'}" type="button" class="btn btn-default">Sip Uri</button>
					  </div>
					</div>
				</div>	
				-->	
				<!--		
				<div class="form-group col-lg-3">
					<label for="timeLimit">Time limit</label>
					<input ng-model='step.timeLimit' id='timeLimit' type='number' class='form-control' tooltip="The 'timeLimit' attribute sets the maximum duration of the <Dial> in seconds">
				</div>
				<div class="form-group col-lg-4">
					<label for="callerId">Caller ID</label>
					<input ng-model='step.callerId' id='callerId' type='text' class='form-control' tooltip="The 'callerId' attribute lets you specify the caller ID that will appear to the called party when RestComm calls.">
				</div>												
				-->
			</div>	
			<!--		
			<div class='row'>
				<div class="form-group col-lg-6">
					<label for="actionURL">OnEnd URL</label>
					<input ng-model='step.action' type="text" id="actionURL" class="form-control" placeholder="http://server/action.php" tooltip="The 'action' attribute takes a URL as an argument. When the dialed call ends, RestComm will make a GET or POST request to this URL">
					<span class="help-block">Make this request when call ends</span>
				</div>
				<div class="form-group col-lg-3">
					<label for="actionMethod">Method</label>
					<select ng-model='step.method' ng-options='method for method in methods' id='actionMethod' class='form-control'></select>
				</div>
				<div class="form-group col-lg-3">
					<label for="gatherTimeout">Timeout</label>
					<input ng-model='step.timeout' type="number" id="gatherTimeout" class="form-control" placeholder="5" tooltip-placement='left' tooltip='Time (in seconds) to wait for the caller to press another digit'>
				</div>
			</div>
			-->

			<!--
			<small>
			<div ng-repeat='step in step.steps'>
				<div ng-switch on="step.kind">
					<div ng-switch-when="number">
						<ng-include src="'templates/numberNoun.html'"></ng-include>
					</div>
					<div ng-switch-when="client">
						<ng-include src="'templates/clientNoun.html'"></ng-include>
					</div>																										
				</div>
			</div>
			<div class="separator bs-callout bs-callout-droppable text-center" data-drop='true' ng-model='step.steps' jqyoui-droppable="{index:{{$index+1}}, insert:true}" data-jqyoui-options="{accept:'.kind-number,.kind-client', activeClass:'separator-active'}"><h5>Nest any <em>Number</em> or <em>Client</em> <strong>nouns</strong> here</h5></div>
			</small>
			-->
	
</div>
