<div class="modal-header">
	<h3 class="modal-title">{{'exceptionConfigModalExceptionsLabel' | translate}}</h3>
</div>
<div class="modal-body">
	<p>{{'exceptionConfigModalAddHandlerLabel' | translate}}</p>
	<div class="form-group">
		<button ng-click="addExceptionMapping()" type="button" class="btn btn-primary"><span>{{'exceptionConfigModalAddMappingButton' | translate}}</span></button>
	</div>
	<div ng-repeat="mapping in exceptionMappings" class="row" >
		<div class="input-group form-group col-md-11">
			<span class="input-group-addon">{{'exceptionConfigModalExceptionNameInput' | translate}}</span>
			<input ng-model="mapping.exceptionName" class="form-control" required>
			<span class="input-group-addon">{{'exceptionConfigModalContinueToSelect' | translate}}</span>
			<select name='next' ng-model='mapping.next' ng-options='module.name as module.label for module in moduleSummary' class="form-control height-fix" required>
				<option value=""></option>
			</select> 	
		</div>
		<div class="col-md-1">
			<span ng-click="removeExceptionMapping(mapping)" class="fa fa-times text-muted remove-button rvd-clickable"></span>
		</div>
	</div>
	<p>{{'exceptionConfigModalCatchAllLabel' | translate}}</p>
	<select name='next' ng-model='defaultNext' ng-options='module.name as module.label for module in moduleSummary' class="form-control height-fix" required>
		<option value=""></option>
	</select> 
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">{{'exceptionConfigModalOkButton' | translate}}</button>
	<button class="btn btn-warning" ng-click="cancel()">{{'exceptionConfigModalCancelButton' | translate}}</button>
</div>
