<div>

	<nav class="navbar navbar-default" role="navigation">
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<div class='navbar-text navbar-rvd-centered'>
				<em>{{'homeStartLabel' | translate}}</em>
			</div>
			<ul class="nav navbar-nav">
			</ul>
		</div>
	</nav>

	<div class="row">
		<div class="col-md-5 col-centered">
			<!--<h3 class="text-center">Existing projects</h3> -->
			<br/><br/>
			<div class="row">
				<div class="col-md-4 text-center voice-project">
					<a href="#/project-manager/voice">
						<div><i class="fa fa-volume-down project-kind-thumb"></i></div>
						<div>{{'homeVoiceLabel' | translate}}</div>
					</a>
				</div>
				<div class="col-md-4 text-center ussd-project">
					<a href="#/project-manager/ussd">
						<div><i class="fa fa-sitemap project-kind-thumb"></i></div>
						<div>{{'homeUssdLabel' | translate}}</div>
					</a>
				</div>
				<div class="col-md-4 text-center sms-project">
					<a href="#/project-manager/sms">
						<div><i class="fa fa-envelope-o project-kind-thumb"></i></div>
						<div>{{'homeSMSLabel' | translate}}</div>
					</a>
				</div>				
				
			</div>
		</div>
	</div>
	<br/><br/><br/><br/>


</div>
