<div>

	<nav class="navbar navbar-default" role="navigation">
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<div class='navbar-text navbar-rvd-centered'>
				<em>Start a new project</em>
			</div>
			<ul class="nav navbar-nav">
			</ul>
		</div>
	</nav>

	<div class="row">
		<div class="col-md-3 col-centered">
			<!-- <h3 class="text-center">Existing projects</h3> -->
			<div class="row">
				<div class="col-md-6"><i class="fa fa-volume-down"></i></div>
				<div class="col-md-6"><i class="fa fa-volume-down"></i></div>
				
			</div>
		</div>
	</div>


</div>
