<div class='alert-container'>
	<!-- navigation bar for errors -->
	<nav class="navbar navbar-default" role="navigation">
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<div class='navbar-text navbar-rvd-centered'>
				The requested resource was not found. Sorry about that.
				<!-- Project <em>{{projectName}}</em> not  found. <a href="#">View available projects</a> -->
			</div>
			<!-- 
			<div ng-switch-default class='navbar-text navbar-rvd-centered'>
				Unknown error. <a href="#">View available projects</a>
			</div>
			-->			
		</div>
	</nav>
</div>