<div>

	<nav class="navbar navbar-default" role="navigation">
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<div class='navbar-text navbar-rvd-centered'>
				<em>Package your application {{projectName}}</em>
			</div>
			<ul class="nav navbar-nav">
			</ul>
		</div>
	</nav>

	
	<div ng-hide='packageInfo' class="row">
		<div class="col-md-3 col-centered">
			Welcome the RAS packaging tool. It will help you package you application before submiting it to the application store.
		</div>
	</div>
	<br/><br/><br/><br/>
	
	<div ng-show='packageInfo' class="row">
	
		<div class="form-group">
			<span class="help-block">How to configure</span>
			<textarea class="form-control"></textarea>
			<span class="help-block">Type a small text describing general configuration guidelines</span>
		</div>
		
		<h4>Configuration options</h4>
		<span class="help-block">Create parameters editable by the end user will help your app fit in the user's premises.</span>
		<div basic-sortable list-model='packageInfo.config.options'>
			<div ng-repeat="configOption in listModel" class="row">
				<div class="form-group col-md-4">
					<label>Name</label>
					<input ng-model='configOption.name' class="form-control">
				</div>
				<div class="form-group col-md-4">
					<label>Label</label>
					<input ng-model='configOption.label' class="form-control">
				</div>				
			</div>
		</div>
		<button ng-click='addConfigurationOption()' type="button" class="btn btn-primary">Add option</button>
	</div>


</div>
