
<div class="step play-step panel panel-rvdstep">
	<div class="panel-heading"><h4 class="panel-title"><i ng-click='step.iface.isCollapsed = !step.iface.isCollapsed' class="fa rvd-clickable" ng-class="{'fa-caret-right': step.iface.isCollapsed, 'fa-caret-down': !step.iface.isCollapsed}"></i>&nbsp; &nbsp;<span  tooltip='{{step.name}}'>{{step.title}}</span><i ng-click='stepService.removeStep(steps,stepnames,step,orderedSteps)' class='fa fa-trash-o pull-right rvd-clickable'></i></h4></div>
	<div class="panel-body" ng-hide='step.iface.isCollapsed'>
		<form name="form" novalidate>
			<div class='form-group row'>
				<div class="col-md-12">
					<span class="help-block">Type the URL resource of the .wav file</span>
					<div class="input-group">
						<span class='input-group-addon'>Audio resource</span>
						<span class="input-group-addon">
							<span>local &nbsp;</span>
							<input ng-model='step.playType' value='local' type="radio">
						</span>
						<span class="input-group-addon">
							<span>remote &nbsp;</span>
							<input ng-model='step.playType' value='remote' type="radio">
						</span>		
						<input name='wavUrl' ng-show='step.playType=="remote"' null-if-empty ng-model='step.wavUrl' type='url' required class='form-control' placeholder='http://remoteserver/hello.wav'/>
						<select name='wavLocalFilename' ng-show='step.playType=="local"' ng-model='step.wavLocalFilename' ng-options='wavItem.filename as wavItem.filename for wavItem in wavList' class="form-control" required></select>
					</div>
					<div class="validation-error" ng-show="step.playType=='remote' && form.wavUrl.$invalid">Type a valid .wav resource URL</div>
					<div class="validation-error" ng-show="step.playType=='local' && form.wavLocalFilename.$invalid">Please select a file from the list</div>
				</div>	
			</div>	
			
			<div class="row">
				<div class='col-md-12'>
					<i ng-click='step.iface.optionsVisible = !step.iface.optionsVisible' class='fa fa-cog rvd-clickable' ng-class="{'rvd-active': step.iface.optionsVisible }"></i>
					<div collapse='!step.iface.optionsVisible'>
						<br/>
						<div class="input-group form-group loop">
							<span class='input-group-addon help-tooltip' tooltip-trigger='mouseenter' tooltip-popup-delay='1000' tooltip="How many times the file audio resource will be played. Default is '1'. '0' will loop until the call is hang up.">Loop</span>
							<input ng-model='step.loop' type='number' class='form-control' placeholder='1' />
						</div>
					</div>
				</div>
			</div>
		</form>	
	</div>
</div>
