<div class="rvd-project-manager">

	<nav class="navbar navbar-default" role="navigation">
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<div class='navbar-text navbar-rvd-centered'>
				<em>{{'projectManagerChooseProjectLabel1' | translate}} <strong>{{projectKind | translate}}</strong> {{'projectManagerChooseProjectLabel2' | translate}}</em>
			</div>
			<ul class="nav navbar-nav">
			</ul>
		</div>
	</nav>


	<div class="row">
		<div class="col-md-3 col-centered">

			<h3 class="text-center">{{'projectManagerExistingProjectsLabel1' | translate}} {{projectKind | translate}} {{'projectManagerExistingProjectsLabel2' | translate}}</h3>
			<br />
			<div class="text-center" ng-show="!retrievingApps && (appItems | projectFilter:projectKind).length==0"><em class="text-muted"><small>{{'projectManagerNoProjectFoundLabel' | translate}}</small></em></div>

			<div ng-repeat="appItem in appItems | projectFilter:projectKind" class='row rvd-project-item' >
				<div class="row">
					<div class="col-md-12 text-center" ng-show="appItem.viewMode=='view'" >
						<!--
						<i ng-show="projectItem.status == 'BAD'" class="fa fa-warning" title="Project seems broken"></i>
						<i ng-show="projectItem.status == 'SHOULD_UPGRADE'" class="fa fa-warning" title="Project is outdated"></i>
						<i ng-show="projectItem.status == 'UNKNOWN_VERSION'" class="fa fa-warning" title="Unknown project version."></i>
						-->
						<a href="#/designer/{{appItem.app.sid}}={{appItem.app.friendly_name}}" ng-click="openProject(appItem.app.sid)" style="margin-right:10px" title="{{appItem.app.sid}}">{{appItem.app.friendly_name}}</a>
						<i ng-click="editProjectName(appItem)" class="fa fa-pencil rvd-clickable" ></i>
						<a href ng-click='download(appItem.app.sid, appItem.app.friendly_name)'><i class="fa fa-download rvd-clickable" ></i></a>
						<i ng-click="appItem.viewMode='confirm-delete'" class="fa fa-trash-o rvd-clickable" ></i>
					</div>

					<div class="col-md-12 text-center confirm-delete " ng-show="appItem.viewMode=='confirm-delete'">
						{{'projectManagerDeleteLabel1' | translate}} <em>{{appItem.app.friendly_name}}</em> {{'projectManagerDeleteLabel2' | translate}} &nbsp;&nbsp;&nbsp;<i class="fa fa-trash-o rvd-clickable" ng-click="deleteProject(appItem, authInfo.rvdticket)"></i> &nbsp; <a class="rvd-clickable" ng-click="appItem.viewMode='view'">{{'projectManagerCalcelButoon' | translate}}</a>
					</div>

					<div class="col-md-12" ng-show="appItem.viewMode=='edit'" >
						<form name="form{{$index}}">
							<input name="newProjectName" type="text" class="form-control" ng-model="appItem.newName" ng-pattern="projectNameValidator" required />
							<div class="buttonarea text-right">
								<span class="validation-error pull-left" ng-show="appItem.errorMessage!=''">{{appItem.errorMessage}}</span>
								<i ng-click="appItem.viewMode='view'" class="fa fa-times rvd-clickable" ></i>
								<i ng-hide="form{{$index}}.newProjectName.$error.required || form{{$index}}.newProjectName.$invalid" ng-click="applyNewProjectName(appItem, authInfo.rvdticket)" class="fa fa-check rvd-clickable" ></i>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3 col-centered">
			<br />
			<h3 class="text-center">{{'projectManagerCreateNewLabel' | translate}}</h3>
			<br />
			<form ng-submit="createNewProject(newProjectName, projectKind, authInfo.rvdticket)" name="form" novalidate>
				<div class="row">
					<div class="col-md-12">
						<input name="newProjectName" type="text" class="form-control" ng-model="newProjectName" ng-pattern="projectNameValidator" required />
					</div>
				</div>
				<br />
				<div class="row form-group">
					<div class="col-md-12">
						<button type="submit" ng-disabled="form.newProjectName.$error.required || form.newProjectName.$invalid"
								class="btn btn-primary form-control">{{'projectManagerCreateButton' | translate}}</button>
					</div>
				</div>
				<!-- 
				<div class="row">
					<div ng-repeat="notification in notifications">
						<div class="error-message text-center">{{notification.message}}</div>
					</div>
				</div>
				-->
			</form>
			<br/>
		</div>
		<div class="col-md-3 col-centered">
			<div class="form-group">
				<div class='drop-area' ng-file-drop="onFileSelect_ImportProject($files, authInfo.rvdticket)"
					 ng-file-drag-over-class="dropping" ng-show="dropSupported">
					<div class="drop-prompt">{{'projectManagerDropProjectsLabel' | translate}}</div>
				</div>
				<div ng-file-drop-available="dropSupported=true"
					 ng-show="!dropSupported">{{'projectManagerHtml5DropLabel' | translate}}</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-3 col-centered">
			<div class="row text-center">
				<div class="col-md-12">
					{{'projectManagerChooseDifferentLabel1' | translate}} <a href="#/home">{{'projectManagerChooseDifferentLabel2' | translate}}</a>
				</div>
			</div>
			<br/>
		</div>
	</div>

</div>
