<div class="modal-header">
	<h3 class="modal-title"><i class="fa fa-cog"></i> {{projectName}} {{'projectSettingsModalSettingsLabel' | translate}}</h3>
</div>
<div class="modal-body">	
	<div class="row">
		<div class="col-md-6"><strong>{{'projectSettingsModalEnableAppLabel' | translate}}</strong></div>
		<div class="col-md-6">
			<input ng-model="projectSettings.logging" ng-change="changeLoggingSetting()" type="checkbox">
		</div>
	</div>
	<div class="row" ng-if="projectSettings.logging">
		<div class="col-md-5 col-md-offset-1">{{'projectSettingsModalLogRcmlLabel' | translate}}</div>
		<div class="col-md-6">
			<input id="loggingRCMLInput" ng-model="projectSettings.loggingRCML" type="checkbox">
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="save(applicationSid,projectSettings)">{{'projectSettingsModalSaveButton' | translate}}</button>
	<button class="btn btn-default" ng-click="cancel()">{{'projectSettingsModalCancelButton' | translate}}</button>
</div>
