<div class="step redirect-step panel panel-rvdstep">
	<div class="panel-heading"><h4 class="panel-title"><i ng-click='step.isCollapsed = !step.isCollapsed' class="fa rvd-clickable" ng-class="{'fa-caret-right': step.isCollapsed, 'fa-caret-down': !step.isCollapsed}"></i>&nbsp; &nbsp;<span  tooltip='{{step.name}}'>{{step.title}}</span> <small>{{step.phrase}}</small><i ng-click='stepService.removeStep(steps,stepnames,step,orderedSteps)' class='fa fa-trash-o pull-right rvd-clickable'></i></h4></div>

	<div class="panel-body" ng-hide='step.isCollapsed'>
		<div class="row">
			<div class="col-md-12">				
				<form name="form" novalidate>
					<div class="input-group input-group-sm">
						<span class="input-group-addon">Continue to</span>
						<input type='text' name='url' ng-model='step.url' class="form-control" required ></input>
						<span class='input-group-addon'>method</span>
						<select name="method" ng-model='step.method'  class="form-control">
							<option value=""></option>
							<option value="GET">GET</option>
							<option value="POST">POST</option>
						</select>
					</div>
					<div class="validation-error" ng-show="form.url.$invalid">Url is missing</div>
				</form>
				
			</div>
		</div>
	</div>
</div>
