<div class="step reject-step panel panel-rvdstep">
	<div class="panel-heading"><h4 class="panel-title"><i ng-click='step.iface.isCollapsed = !step.iface.isCollapsed' class="fa rvd-clickable" ng-class="{'fa-caret-right': step.iface.isCollapsed, 'fa-caret-down': !step.iface.isCollapsed}"></i>&nbsp; &nbsp;<span  tooltip='{{step.name}}'>{{step.title}}</span> <i ng-click='stepService.removeStep(steps,stepnames,step,orderedSteps)' class='fa fa-trash-o pull-right rvd-clickable'></i></h4></div>

	<div class="panel-body" ng-hide='step.iface.isCollapsed'>
		<div class="row">
			<div class="col-md-12">				
				<form name="form" novalidate>
					<div class="input-group input-group-sm">
						<span class="input-group-addon">Reason</span>
						<select name="method" ng-model='step.reason'  class="form-control">
							<option value=""></option>
							<option value="rejected">rejected</option>
							<option value="busy">busy</option>
						</select>
					</div>
				</form>
				
			</div>
		</div>
	</div>
</div>
