<div>

	<nav class="navbar navbar-default" role="navigation">
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<div ng-show="upgradeStatus=='pending'" class='navbar-text navbar-rvd-centered'>
				{{'upgradePendingStatusLabel' | translate}}
			</div>
			<div ng-show="upgradeStatus=='needsUpgrade'" class='navbar-text navbar-rvd-centered'>
				{{'upgradeNeedsUpgradeLabel1' | translate}} <em>{{projectName}}</em> {{'upgradeNeedsUpgradeLabel2' | translate}} <a class="rvd-clickable-text" ng-click="onUpgradePressed(projectName)">{{'upgradeNeedsUpgradeLabel3' | translate}}</a> {{'upgradeNeedsUpgradeLabel4' | translate}} <a href="#">{{'upgradeNeedsUpgradeLabel5' | translate}}</a>
			</div>
			<div ng-show="upgradeStatus=='alreadyUpgraded'" class='navbar-text navbar-rvd-centered'>
				{{'upgradeAlreadyUpgradedLabel1' | translate}}  <em>{{projectName}}</em> {{'upgradeAlreadyUpgradedLabel2' | translate}} <a href="#/designer/{{projectName}}">{{'upgradeAlreadyUpgradedLabel3' | translate}}</a> {{'upgradeAlreadyUpgradedLabel4' | translate}} <a href="#">{{'upgradeAlreadyUpgradedLabel5' | translate}}</a>
			</div>
			<div ng-show="upgradeStatus=='upgradeError'" class='navbar-text navbar-rvd-centered'>
				{{'upgradeUpgradeErrorLabel1' | translate}} <em>{{projectName}}</em>{{'upgradeUpgradeErrorLabel2' | translate}} <a href="#">{{'upgradeUpgradeErrorLabel3' | translate}}</a>
			</div>	
		</div>
	</nav>

	<div class="row">
		<div class="col-md-3 col-centered">
			<!--<h3 class="text-center">Existing projects</h3> -->
			<!-- 
			<br/><br/>
			<div class="row">
				<div class="col-md-6 text-center">
					<a href="#/project-manager/voice">
						<div><i class="fa fa-volume-down project-kind-thumb"></i></div>
						<div>Voice</div>
					</a>
				</div>
				<div class="col-md-6 text-center">
					<a href="#/project-manager/ussd">
						<div><i class="fa fa-sitemap project-kind-thumb"></i></div>
						<div>USSD</div>
					</a>
				</div>
			</div>
			 -->
		</div>
	</div>
	<br/><br/><br/><br/>


</div>
