<div class="step ussd-menu-step panel panel-rvdstep">
	<div class="panel-heading"><h4 class="panel-title"><i ng-click='step.isCollapsed = !step.isCollapsed' class="fa rvd-clickable" ng-class="{'fa-caret-right': step.isCollapsed, 'fa-caret-down': !step.isCollapsed}"></i>&nbsp; &nbsp;<span  tooltip='{{step.name}}'>{{step.title}}</span> <i ng-click='stepService.removeStep(steps,stepnames,step,orderedSteps)' class='fa fa-trash-o pull-right rvd-clickable'></i></h4></div>

	<div class="panel-body" ng-hide='step.isCollapsed'>
		<div class="row">
			<div class="col-md-12">				
				<form name="form" novalidate>
					<div class="form-group">
						<!--<label for="phraseTextInput">Phrase</label>-->
						<span class="help-block">Text &nbsp;<i class="fa fa-info-circle rvd-clickable" popover='Display some help message [...]' popover-placement='top'></i></span>
						<!--<input ng-model='step.phrase' type="text" id="phraseTextInput" class="small form-control" placeholder="say something..." tooltip="The text that will be read to the user" required>-->
						<textarea ng-model='step.text' class="form-control ussd-menu"></textarea>	
					</div>									
				</form>
				
			</div>
		</div>
	</div>
</div>
