<div class="step ussdLanguage-step panel panel-rvdstep">
	<div class="panel-heading"><h4 class="panel-title"><i ng-click='step.isCollapsed = !step.isCollapsed' class="fa rvd-clickable" ng-class="{'fa-caret-right': step.isCollapsed, 'fa-caret-down': !step.isCollapsed}"></i>&nbsp; &nbsp;<span  tooltip='{{step.name}}'>{{step.title}}</span> <i ng-click='stepService.removeStep(steps,stepnames,step,orderedSteps)' class='fa fa-trash-o pull-right rvd-clickable'></i></h4></div>

	<div class="panel-body" ng-hide='step.isCollapsed'>
		<div class="row">
			<div class="col-md-12 form-group">				
				<form name="form" novalidate>
					<select ng-model='step.language' null-if-empty ng-options='language.name as language.text for language in languages'  id="languageSelect" class="form-control say-language-dropdown" >
						<option value=""></option>
					</select>
				</form>
				
			</div>
		</div>
	</div>
</div>
