<div class="modal-header">
	<h3 class="modal-title"><i class="fa fa-cog"></i> Web Trigger</h3>
</div>
<div class="modal-body">
	<div class="help-block">Web trigger allows starting your application using a simple HTTP call</div>
	<div class="form-group">
			Enable Web Trigger &nbsp;<input ng-change="setWebTriggerStatus(webTriggerEnabled);" ng-model="webTriggerEnabled" type="checkbox">
	</div>

	<div ng-if="ccInfo!=null">
		
		<div class="form-group">
			<h5><strong>Web Trigger URL</strong></h5>
			<div>
				<i>http://{{getRvdHost()}}:{{getRvdPort()}}/restcomm-rvd/services/apps/{{projectName}}/start<span class="text-muted">?from=12345&amp;to=+1231231231&amp;token=mysecret</span></i>
			</div>
			<div class="help-block">
				<small>Note that <code>from</code> and <code>to</code> URL parameters can be omitted if <i>fallback</i> values have been defined. Also, additional parameters can be appended to the url. They will be available as <em>application scoped</em> RVD variables when the application starts</small>
			</div>			
		</div>
		<div class="rvd-spacer20"></div>
		
		<div class="form-group">
			<h5><strong>Access token</strong></h5>
			<div class="help-block">
				Protect your Web Trigger URL with an access token. If set, make sure you provide the same <code>token</code> parameter when making the HTTP call. Leave it blank to allow free access.
			</div>
			<div class="input-group">
				<span class="input-group-addon">Access token</span>
				<input ng-model="ccInfo.accessToken" auto-clear type="text" class="form-control">
			</div>				
		</div>
		<div class="rvd-spacer20"></div>	
		
		<div class="form-group">
			<h5><strong>Fallback parameters</strong></h5>
			<div class="help-block">You can optionally provide fallback <code class="help-tooltip" title="Origin of the outgoing call">From</code> and <code class="help-tooltip" title="Destination to get dialed when application starts">To</code> values in case they are not supplied in the HTTP call</div>
			<div class="row">
				<div class="input-group col-md-6">
					<span class="input-group-addon">To</span>
					<input ng-model="ccInfo.lanes[0].startPoint.to" type="text" class="form-control">
				</div>
				<div class="input-group col-md-6">
					<span class="input-group-addon">From</span>
					<input ng-model="ccInfo.lanes[0].startPoint.from" type="text" class="form-control">
				</div>
			</div>
			<div class="help-block ">
				<small>
					Note that <i>From</i> and <i>To</i> values use the Restcomm RCML dial syntax. For example:
					<code>+1232343294</code> or <code>client:bob</code> or <code>conference:1234</code> or <code>sip:+12839283849@server.com</code>
				</small>
			</div>
		</div>
		
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="save(projectName,ccInfo)">Save</button>
	<button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
