<div class="apps">
    <div class="row">
        <div class="col-md-4 col-xs-6">
            <form class="search-form">
                <img class="search-icon" src="resources/img/v2/search-icon.png">
                <input name="q" type="text" size="40" placeholder="Search..." ng-model="query.friendly_name">
            </form>
        </div>
        <div  class="col-md-4 col-md-offset-4 col-xs-6">
            <button class="rc-btn pull-right hidden-xs" ng-click=""><b>+</b> Add New App</button>
            <button class="rc-btn rc-btn-sm pull-right visible-xs" ng-click=""><b>+</b> Add New App</button>
        </div>
    </div>

    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-md-12">
            <div ng-hide="(appsList | filter:query).length > 0" class="jumbotron">
                <h2><i class="fa fa-exclamation-circle"></i> No applications found</h2>
            </div>

            <table ng-show="(appsList | filter:query).length > 0" class="table table-hover apps-list" style="table-layout: fixed;" ng-cloak>
                <thead style="color: #4a4a4b;">
                <th class="apps-list-name">Name</th>
                <th class="apps-list-type">Type</th>
                <th class="apps-list-kind" >(need name)</th>
                <th class="apps-list-number hidden-sm hidden-xs" >Number</th>
                </thead>
                <tbody style="color: #6d6e70;">
                <tr class="number-row" ng-repeat="app in filtered = (appsList | filter:query)" ng-click="$root.goTo('/applications/' + app.sid)">
                    <td class="apps-list-name">
                        <div><a href="#/applications/{{app.sid}}">{{ app.friendly_name }}</a></div>
                    </td>
                    <td class="apps-list-type">
                        <div>{{ app.rcml_url | appKind }}</div>
                    </td>
                    <td class="apps-list-kind">{{app.kind}}</td>
                    <td class="apps-list-number hidden-sm hidden-xs">{{app.numbers[0].phone_number}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-9 col-md-3 apps-list-navigation">Showing {{(appsList | filter:query).length}} from {{appsList.length}} Applications</div>
    </div>
</div>
