<div class="templates-view">

    <div class="row templates-head">
        <div class="col-md-3">
            <h2 class="templates-title">Template Galery</h2>
        </div>
        <div class="col-md-6 form-inline template-tags">
            <div class="checkbox"><label><input ng-model="queryTags.tagVoice" type="checkbox"> Voice</label></div>
            <div class="checkbox"><label><input ng-model="queryTags.tagSms" type="checkbox"> SMS</label></div>
            <div class="checkbox"><label><input ng-model="queryTags.tagUssd"  type="checkbox"> USSD</label></div>
        </div>
        <div class="col-md-3 template-search">
            <form class="search-form">
                <img class="search-icon" src="resources/img/v2/search-icon.png">
                <input name="q" type="text" size="40" placeholder="Search..." ng-model="query.name" uib-tooltip="Search by template name" tooltip-popup-delay="1000">
            </form>
        </div>
    </div>

    <div class="row">
        <application-template template="blankVoiceTemplate" class="col-md-3"></application-template>
        <div ng-repeat="template in templateList.results | filter:query | tagFilter:queryTags" class="col-md-3">
            <application-template template="template"></application-template>
        </div>
    </div>

</div>