<rc-page-title icon="lock" title="Identity" sub-title="Unregistered"></rc-page-title>

<form name="form" ng-submit="submitRegistrationDetails(details)">
    <div class="row">
        <div class="col-md-12">
            <alert>
                This restcomm instance is not registered with an identity server yet.
            </alert>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Redirect URL</span>
                    <input class="form-control" ng-model="details.RedirectUrl">
                </div>
                <p class="help-block">After login, authenticated cliends will be redirected under this URL.</p>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Initial access token</span>
                    <input class="form-control" ng-model="details.InitialAccessToken">
                </div>
                <p class="help-block">If you don't know what this is click <a href title="TODO">here</a>.</p>
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary pull-right">Register</button>
        </div>
    </div>
</form>
