<!--<rc-logs-pills></rc-logs-pills>-->

<!--<rc-page-title icon="file-text-o" title="LOGS" sub-title="MESSAGES"></rc-page-title>-->

<div class="row secondary-tabs">
    <div class="col-md-10 col-md-offset-1">
        <a href="#/logs/calls">Calls</a>
        <a href="#/logs/messages" class="active">Messages</a>
        <a href="#/logs/recordings">Recordings</a>
        <a href="#/logs/transcriptions">Transcriptions</a>
        <a href="#/logs/notifications">Notifications</a>
    </div>
</div>

<div class="row logs-search-container" ng-show="messagesLogsList.length > 0">
    <div class="row">
        <div class="col-md-6 logs-search-title">Peers</div>
        <div class="col-md-3 logs-search-title">Date</div>
        <div class="col-md-3 logs-search-title">Message Body</div>
    </div>
    <div class="row">
        <form>
            <div class="col-md-3">
                <input type="text" class="logs-search-input" placeholder="From" ng-model="query.from" />
            </div>
            <div class="col-md-3">
                <input type="text" class="logs-search-input" placeholder="To" ng-model="query.to" />
            </div>
            <div class="col-md-3">
                <input type="date" class="logs-search-input" placeholder="Date" ng-model="query.date_created" />
            </div>
            <div class="col-md-3">
                <input type="text" class="logs-search-input" placeholder="Message Body" ng-model="query.body" />
            </div>
            <!--
            <div class="col-md-2">
                <button class="logs-search-button" type="submit" ng-click="getCallsList()"></button>
            </div>
            -->
        </form>
    </div>
</div>

<p>&nbsp;</p>

<div ng-hide="(messagesLogsList | filter:query).length > 0" class="jumbotron no-records-alert">
    <h2><i class="fa fa-exclamation-circle"></i> No message records <span ng-show="messagesLogsList.length == 0"></span> <span ng-show="messagesLogsList.length > 0">matching query</span>. <small>Text your friends!</small></h2>
</div>

<div class="row">
    <table ng-show="(messagesLogsList | filter:query).length > 0" class="table table-hover" ng-cloak>
        <thead class="logs-table-header">
        <th class="width-20pc" ng-click="sortBy('date_created');toggleD=!toggleD;reverse=toggleD">Date<span class="pull-right" ng-show="predicate === 'date_created'"><i ng-class="{'fa fa-chevron-up':toggleD,'fa fa-chevron-down':!toggleD}"></i></span></th>
        <!--th class="width-20pc">DATE <button ng-click="toggle=!toggle"><span  ng-class="{'glyphicon glyphicon-arrow-up':toggle,'glyphicon glyphicon-arrow-down':!toggle}" ></span></button></th-->
        <th class="width-10pc">Direction</th>
        <th class="width-15pc">From</th>
        <th class="width-15pc">To</th>
        <th class="width-10pc">Status</th>
        <th class="width-20pc">Body</th>
        <th class="width-10pc">Cost</th>
        <!--<th class="width-15pc">&nbsp;</th>-->
        </thead>
        <tbody>
        <tr ng-repeat="message in filtered = (messagesLogsList | filter:query | orderBy:sort:reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit" class="logs-table-row">
            <td><a href="" ng-click="showMessageDetailsModal(message)">{{ message.date_created }}</a></td>
            <td><div class="text-center"><i ng-class="message.direction == 'inbound' ? 'fa fa-sign-in' : (message.direction == 'outbound-call' ? 'fa fa-sign-out' : '')"></i><!-- {{ message.direction ? message.direction : '?' }} --></div></td>
            <td><div class="text-center">{{ message.from ? message.from : '?' }}</div></td>
            <td><div class="text-center">{{ message.to ? message.to : '?' }}</div></td>
            <td><div class="text-center">{{ message.status ? message.status : '?' }}</div></td>
            <td><div class="text-center" title="{{ message.body }}">{{ message.body ? (message.body.length > 15 ? (message.body | limitTo:12) + '...' : message.body) : '. . .' }}</div></td>
            <td><div class="text-center">$ {{ message.price ? message.price : '0.00' }}</div></td>
        </tr>
        </tbody>
        <tfoot>
        <td><small class="pull-left">{{ filtered.length }} Messages{{ filtered.length == 1 ? "" : "s" }}</small></td>
        <td colspan=3>
            <form class="form-inline text-center">
                <h6>Items / Page</h6>
                <div class="btn-group buttons-per-page" data-toggle="buttons-radio">
                    <button type="button" class="btn btn-default btn-sm" ng-class="entryLimit == 10 ? 'active' : ''" ng-click="setEntryLimit(10)">10</button>
                    <button type="button" class="btn btn-default btn-sm" ng-class="entryLimit == 25 ? 'active' : ''" ng-click="setEntryLimit(25)">25</button>
                    <button type="button" class="btn btn-default btn-sm" ng-class="entryLimit == 50 ? 'active' : ''" ng-click="setEntryLimit(50)">50</button>
                </div>
            </form>
        </td>
        <td colspan="99">
            <uib-pagination class="pagination pagination-sm pull-right" total-items="filtered.length" items-per-page="entryLimit" ng-model="currentPage" data-boundary-links="true" data-current-page="currentPage" max-size="maxSize" previous-text="<" next-text=">" first-text="<<" last-text=">>"></uib-pagination>
        </td>
        </tfoot>
    </table>
</div>