<div class="row accounts-tabs-mobile visible-sm visible-xs">
    <div class="col-xs-2  col-xs-offset-1 active"><a href="#/logs/calls"><i class="fa fa-phone"></i></a></div>
    <div class="col-xs-2"><a href="#/logs/messages"><i class="fa fa-comments-o"></i></a></div>
    <div class="col-xs-2"><a href="#/logs/recordings"><i class="fa fa-dot-circle-o"></i> </a></div>
    <div class="col-xs-2"><a href="#/logs/transcriptions"><i class="fa fa-file-text-o"></i> </a></div>
    <div class="col-xs-2"><a href="#/logs/notifications"><i class="fa fa-exclamation-circle"></i> </a></div>
</div>

<div class="row text-center">
    <div class="col-xs-8 col-xs-offset-2">
        <h3 class="no-top-margin visible-sm visible-xs">Calls</h3>
    </div>
    <div class="col-xs-2" ng-show="showSearchToggle">
        <button class="btn btn-link logs-search-toggle pull-right" ng-click="showSearch = !showSearch">
            <i class="fa fa-search"></i><i class="fa fa-chevron-down" ng-hide="showSearch"></i><i class="fa fa-chevron-up" ng-show="showSearch"></i>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-2 accounts-tabs hidden-sm hidden-xs">
        <div class="active"><a href="#/logs/calls">Calls</a></div>
        <div><a href="#/logs/messages">Messages</a></div>
        <div><a href="#/logs/recordings">Recordings</a></div>
        <div><a href="#/logs/transcriptions">Transcriptions</a></div>
        <div><a href="#/logs/notifications">Notifications</a></div>
    </div>
    <div class="col-md-10">
        <!--
        <div class="row">
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Search by Call SID" ng-model="search.from" />
            </div>
        </div>
        <br>
        -->
        <form ng-show="!showSearchToggle || showSearch">
            <div class="row">
                <div class="clearfix visible-sm visible-xs">&nbsp;</div>
                <div class="col-md-2 col-xs-6 logs-search-field">
                    <input type="text" class="form-control" placeholder="From" ng-model="search.from" />
                </div>
                <div class="col-md-2 col-xs-6 logs-search-field">
                    <input type="text" class="form-control" placeholder="To" ng-model="search.to" />
                </div>
                <div class="clearfix visible-sm visible-xs">&nbsp;</div>
                <div class="col-md-5 col-xs-12 logs-search-field">
                    <input type="date" class="form-control logs-search-date" placeholder="Start Date" ng-model="search.start_time" />
                    <input type="date" class="form-control logs-search-date" placeholder="End Date" ng-model="search.end_time" />
                </div>
                <div class="clearfix visible-sm visible-xs">&nbsp;</div>
                <div class="col-md-2 col-xs-4 logs-search-field">
                    <select class="form-control" ng-model="search.status">
                        <option value="">All Statuses</option>
                        <option value="queued">Queued</option>
                        <option value="ringing">Ringing</option>
                        <option value="in-progress">In Progress</option>
                        <option value="completed">Completed</option>
                        <option value="busy">Busy</option>
                        <option value="failed">Failed</option>
                        <option value="no-answer">No Answer</option>
                    </select>
                </div>
                <div class="col-xs-6 text-center logs-search-field logs-search-checkbox visible-sm visible-xs">
                    <input type="checkbox" id="search-sub-accounts" class="logs-search-checkbox" ng-true-value="true" ng-false-value="false" ng-model="search.sub_accounts" title="Includes calls from sub-accounts and displays account info">
                    <label class="logs-search-checkbox-span" for="search-sub-accounts">&nbsp;Search Sub-Accounts</label>
                </div>
                <div class="col-md-1 col-xs-2">
                    <button class="logs-search-button rc-btn btn-primary" type="submit" ng-click="getCallsList()"><i class="fa fa-search"></i> </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 logs-search-field logs-search-checkbox hidden-sm hidden-xs">
                    <input type="checkbox" class="logs-search-checkbox" ng-true-value="true" ng-false-value="false" ng-model="search.sub_accounts" title="Includes calls from sub-accounts and displays account info">
                    <label class="logs-search-checkbox-span">&nbsp;Search Sub-Accounts</label>
                </div>
            </div>

            <br class="visible-sm visible-xs">
            <hr class=" small">
        </form>

        <div ng-show="!hasCriteria && (!callsLogsList || callsLogsList.length === 0)" class="jumbotron rc-no-items">
            <h1><i class="fa fa-phone"></i> </h1>
            <h2>No call records</h2>
            <h5>Call your friends!</h5>
        </div>

        <div ng-show="hasCriteria && (!callsLogsList || callsLogsList.length === 0)" class="jumbotron rc-no-items">
            <h1><i class="fa fa-search"></i> </h1>
            <h2>No calls matching your criteria</h2>
            <h5>Please update your search and try again.</h5>
        </div>

        <div class="row">
            <div class="col-md-12">
            <table ng-show="callsLogsList.length > 0" class="table table-hover rc-list logs-calls-list" ng-class="{'logs-calls-list-extra': search.sub_accounts}">
                <thead>
                <th class="logs-calls-list-date hidden-xs" rc-list-sort by="predicate" order="'date_created'" reverse="reverse" update="getCallsList()">Date <span ng-show="search.sub_accounts"> / Account SID</span></th>
                <th class="logs-calls-list-from hidden-xs">From</th>
                <th class="logs-calls-list-to hidden-xs">To</th>
                <th class="logs-calls-list-direction hidden-xs">Direction</th>
                <th class="logs-calls-list-status hidden-xs">Status</th>
                <th class="logs-calls-list-duration hidden-xs">Duration</th>
                <th class="logs-calls-list-price hidden-xs">Price</th>

                <th class="logs-calls-list-date visible-xs" rc-list-sort by="predicate" order="'date_created'" reverse="reverse" update="getCallsList()">Date <span ng-show="search.sub_accounts"> <br> Account SID</span></th>
                <th class="logs-calls-list-from visible-xs">From<br>To</th>
                <th class="logs-calls-list-direction visible-xs">Direction<br>Status</th>
                <th class="logs-calls-list-duration visible-xs">Duration<br>Price</th>
                </thead>
                <tbody>
                <tr ng-repeat="call in (callsLogsList | orderBy:predicate:reverse)" class="logs-table-row">
                    <td class="logs-calls-list-date rc-list-date hidden-xs">
                        <a href="" ng-click="showCallDetailsModal(call)">
                            {{ call.date_created  | toDate:'yyyy-MM-dd HH:mm:ss' }}
                            <div class="logs-calls-list-accountsid" ng-show="search.sub_accounts"><br>{{ call.account_sid }}</div>
                        </a>
                    </td>
                    <td class="logs-calls-list-date rc-list-date visible-xs">
                        <a href="" ng-click="showCallDetailsModal(call)">
                            <div>{{ call.date_created | toDate:'yyyy-MM-dd' }}</div>
                            <div>{{ call.date_created | toDate:'HH:mm:ss' }}</div>

                            <span class="logs-calls-list-accountsid" ng-show="search.sub_accounts">{{ call.account_sid }}</span>
                        </a>
                    </td>
                    <td class="logs-calls-list-from hidden-xs"><div class="text-center">{{ call.from ? call.from : '?' }}</div></td>
                    <td class="logs-calls-list-to hidden-xs"><div class="text-center">{{ call.to ? call.to : '?' }}</div></td>
                    <td class="logs-calls-list-from visible-xs">
                        <div class="text-center">{{ call.to ? call.to : '?' }}</div>
                        <div class="text-center">{{ call.from ? call.from : '?' }}</div>
                    </td>
                    <td class="hidden-xs"><div class="text-center" uib-tooltip="{{ call.direction }}"><i ng-class="call.direction == 'inbound' ? 'fa fa-sign-in' : (call.direction == 'outbound-api' ? 'fa fa-sign-out' : 'fa fa-cloud')"></i><!-- {{ call.direction ? call.direction : '?' }} --></div></td>
                    <td class="hidden-xs"><div class="text-center">{{ call.status ? call.status : '?' | lowercase }}</div></td>
                    <td class="visible-xs logs-calls-list-direction">
                        <div class="text-center" uib-tooltip="{{ call.direction }}"><i ng-class="call.direction == 'inbound' ? 'fa fa-sign-in' : (call.direction == 'outbound-api' ? 'fa fa-sign-out' : 'fa fa-cloud')"></i><!-- {{ call.direction ? call.direction : '?' }} --></div>
                        <div class="text-center">{{ call.status ? call.status : '?' | lowercase }}</div>
                    </td>
                    <td class="hidden-xs"><div class="text-center">{{ call.duration ? (call.duration | toDuration) : '-' }}</div></td>
                    <td class="hidden-xs"><div class="text-center">$ {{call.cost ? call.cost : '0.00' }}</div></td>
                    <td class="visible-xs logs-calls-list-duration">
                        <div class="text-center">{{ call.duration ? (call.duration | toDuration) : '-' }}</div>
                        <div class="text-center">$ {{call.cost ? call.cost : '0.00' }}</div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <td colspan="99">
                    <div class="row">
                        <div class="col-md-4">
                            <small class="rc-list-summary">{{ start }} to {{ end }} of {{ totalCalls }} Call{{ totalCalls == 1 ? "" : "s" }}</small>
                        </div>
                        <div class="col-md-4">
                            <form class="form-inline text-center">
                                <div class="btn-group buttons-per-page">
                                    <button type="button" class="btn btn-sm" ng-class="{'active':entryLimit === 10}" ng-click="setEntryLimit(10)">10</button>
                                    <button type="button" class="btn btn-sm" ng-class="{'active':entryLimit === 25}" ng-click="setEntryLimit(25)">25</button>
                                    <button type="button" class="btn btn-sm" ng-class="{'active':entryLimit === 50}" ng-click="setEntryLimit(50)">50</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <ul uib-pagination class="pagination pagination-sm pull-right" ng-change="pageChanged()" total-items="totalCalls" items-per-page="entryLimit" ng-model="currentPage" data-boundary-links="true" data-current-page="currentPage" max-size="maxSize" previous-text="<" next-text=">" first-text="<<" last-text=">>"></ul>
                        </div>
                    </div>
                </td>
                </tfoot>
            </table>
            </div>
        </div>
    </div>
</div>