<rc-logs-pills></rc-logs-pills>

<rc-page-title icon="file-text-o" title="LOGS" sub-title="MESSAGES"></rc-page-title>

<div class="row">
    <div class="col-md-12">
        <div ng-show="messagesLogsList.length > 0" class="pull-left record-filter-div">
            <form class="form-inline" role="form">
                <div class="form-group col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">From</span>
                        <input type="text" class="input-sm form-control" placeholder="From" ng-model="query.from" ng-change="filter()" />
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">To</span>
                        <input type="text" class="input-sm form-control" placeholder="To" ng-model="query.to" ng-change="filter()" />
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">Date</span>
                        <input type="date" class="input-sm form-control" placeholder="Date" ng-model="query.date_created" ng-change="filter()" />
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">Body</span>
                        <input type="text" class="input-sm form-control" placeholder="Message Body" ng-model="query.body" ng-change="filter()" />
                    </div>
                </div>
                <button class="btn btn-default btn-sm hidden" disabled><i class="fa fa-filter"></i> Filter</button>
            </form>
        </div>

        <div ng-hide="(messagesLogsList | filter:query).length > 0" class="jumbotron no-records-alert">
            <h2><i class="fa fa-exclamation-circle"></i> No message records <span ng-show="messagesLogsList.length == 0"></span> <span ng-show="messagesLogsList.length > 0">matching query</span>. <small>Text your friends!</small></h2>
        </div>

        <table ng-show="(messagesLogsList | filter:query).length > 0" class="table table-striped table-hover" ng-cloak>
            <thead>
            <th class="width-20pc">DATE</th>
            <th class="width-10pc">DIRECTION</th>
            <th class="width-15pc">FROM</th>
            <th class="width-15pc">TO</th>
            <th class="width-10pc">STATUS</th>
            <th class="width-20pc">BODY</th>
            <th class="width-10pc">COST</th>
            <!--<th class="width-15pc">&nbsp;</th>-->
            </thead>
            <tbody>
            <tr ng-repeat="message in filtered = (messagesLogsList | filter:query | orderBy:'date_created':true) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                <td><a href="" ng-click="showMessageDetailsModal(message)">{{ message.date_created | date:"EEE, yyyy-MM-dd H:mm:ss"  }}</a></td>
                <td><div class="text-center"><i ng-class="message.direction == 'inbound' ? 'fa fa-sign-in' : (message.direction == 'outbound-reply' ? 'fa fa-sign-out' : '')"></i><!-- {{ message.direction ? message.direction : '?' }} --></div></td>
                <td><div class="text-center">{{ message.from ? message.from : '?' }}</div></td>
                <td><div class="text-center">{{ message.to ? message.to : '?' }}</div></td>
                <td><div class="text-center">{{ message.status ? message.status : '?' }}</div></td>
                <td><div class="text-center" title="{{ message.body }}">{{ message.body ? (message.body.length > 15 ? (message.body | limitTo:12) + '...' : message.body) : '. . .' }}</div></td>
                <td><div class="text-center">$ {{ message.price ? message.price : '0.00' }}</div></td>
            </tr>
            </tbody>
            <tfoot>
            <td><small class="pull-left">{{ filtered.length }} Messages{{ filtered.length == 1 ? "" : "s" }}</small></td>
            <td colspan=3>
                <form class="form-inline text-center">
                    <h6>Items / Page</h6>
                    <div class="btn-group buttons-per-page" data-toggle="buttons-radio">
                        <button type="button" class="btn btn-default btn-sm" ng-class="entryLimit == 10 ? 'active' : ''" ng-click="setEntryLimit(10)">10</button>
                        <button type="button" class="btn btn-default btn-sm" ng-class="entryLimit == 25 ? 'active' : ''" ng-click="setEntryLimit(25)">25</button>
                        <button type="button" class="btn btn-default btn-sm" ng-class="entryLimit == 50 ? 'active' : ''" ng-click="setEntryLimit(50)">50</button>
                    </div>
                </form>
            </td>
            <td colspan="99">
                <pagination class="pagination pagination-sm pull-right" on-select-page="pageChanged(page)" total-items="totalMessages" items-per-page="entryLimit" page="currentPage" data-boundary-links="true" data-current-page="currentPage" max-size="maxSize" previous-text="<" next-text=">" first-text="<<" last-text=">>"></pagination>
            </td>
            </tfoot>
        </table>
    </div>
</div>