<!--<rc-logs-pills></rc-logs-pills>-->

<!--<rc-page-title icon="file-text-o" title="LOGS" sub-title="RECORDINGS"></rc-page-title>-->

<div class="row secondary-tabs">
    <div class="col-md-10 col-md-offset-1">
        <a href="#/logs/calls">Calls</a>
        <a href="#/logs/messages">Messages</a>
        <a href="#/logs/recordings" class="active">Recordings</a>
        <a href="#/logs/transcriptions">Transcriptions</a>
        <a href="#/logs/notifications">Notifications</a>
    </div>
</div>

<div class="row logs-search-container" ng-show="recordingsLogsList.length > 0">
    <div class="row">
        <div class="col-md-6 logs-search-title">Peers</div>
        <div class="col-md-3 logs-search-title">Date</div>
        <div class="col-md-3 logs-search-title">Call SID</div>
    </div>
    <div class="row">
        <form>
            <div class="col-md-3">
                <input type="text" class="logs-search-input" placeholder="From" ng-model="query.from" disabled />
            </div>
            <div class="col-md-3">
                <input type="text" class="logs-search-input" placeholder="To" ng-model="query.to" disabled />
            </div>
            <div class="col-md-3">
                <input type="date" class="logs-search-input" placeholder="Date" ng-model="query.date_created" />
            </div>
            <div class="col-md-3">
                <input type="text" class="logs-search-input" placeholder="Call SID" ng-model="query.call_sid" />
            </div>
            <!--
            <div class="col-md-2">
                <button class="logs-search-button" type="submit" ng-click="getCallsList()"></button>
            </div>
            -->
        </form>
    </div>
</div>

<p>&nbsp;</p>

<div ng-hide="(recordingsLogsList | filter:query).length > 0" class="jumbotron no-records-alert">
    <h2><i class="fa fa-exclamation-circle"></i> No recordings<span ng-show="recordingsLogsList.length == 0"></span><span ng-show="recordingsLogsList.length > 0"> matching query</span>. <small>Ask the NSA for some!</small></h2>
</div>

<div class="row">
    <table ng-show="(recordingsLogsList | filter:query).length > 0" class="table table-hover" ng-cloak>
        <thead class="logs-table-header">
        <th class="width-20pc" ng-click="sortBy('date_created');toggleD=!toggleD;reverse=toggleD">Date<span class="pull-right" ng-show="predicate === 'date_created'"><i ng-class="{'fa fa-chevron-up':toggleD,'fa fa-chevron-down':!toggleD}"></i></span></th>
        <th class="width-10pc">From</th>
        <th class="width-10pc">To</th>
        <th class="width-15pc">Duration</th>
        <th class="width-30pc">Call</th>
        <th class="width-5pc" >&nbsp;</th>
        </thead>
        <tbody>
        <tr ng-repeat="recording in filtered = (recordingsLogsList | filter:query | orderBy:sort:reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit" class="logs-table-row">
            <td><a href="" ng-click="showRecordingDetailsModal(recording)">{{ recording.date_created }}</a></td>
            <td><div class="text-center">{{ recording.from ? recording.from : '&lt;caller&gt;' }}</div></td>
            <td><div class="text-center">{{ recording.to ? recording.to : '&lt;callee&gt;' }}</div></td>
            <td><div class="text-center">{{ recording.duration ? (recording.duration + "s") : '. . .' }}</div></td>
            <td><div class="text-center"><a href="#/logs/calls/{{ recording.call_sid }}">{{ recording.call_sid }}</a></div></td>
            <!-- <td><div class="text-center"><a href="/restcomm/recordings/{{ recording.sid }}.wav" target="_blank" uib-tooltip="Download"><i class="fa fa-download"></i></a></div></td> -->
            <td><div class="text-center"><a href="{{ recording.file_uri }}" target="_blank" uib-tooltip="Download"><i class="fa fa-download"></i></a></div></td>
        </tr>
        </tbody>
        <tfoot>
        <td><small class="pull-left">{{ filtered.length }} Messages{{ filtered.length == 1 ? "" : "s" }}</small></td>
        <td colspan=3>
            <form class="form-inline text-center">
                <h6>Items / Page</h6>
                <div class="btn-group buttons-per-page" data-toggle="buttons-radio">
                    <button type="button" class="btn btn-default btn-sm" ng-class="entryLimit == 10 ? 'active' : ''" ng-click="setEntryLimit(10)">10</button>
                    <button type="button" class="btn btn-default btn-sm" ng-class="entryLimit == 25 ? 'active' : ''" ng-click="setEntryLimit(25)">25</button>
                    <button type="button" class="btn btn-default btn-sm" ng-class="entryLimit == 50 ? 'active' : ''" ng-click="setEntryLimit(50)">50</button>
                </div>
            </form>
        </td>
        <td colspan="99">
            <!--<pagination class="pagination pagination-sm pull-right" on-select-page="pageChanged(page)" total-items="recordingsLogsList.length" items-per-page="entryLimit" page="currentPage" data-boundary-links="true" data-current-page="currentPage" max-size="maxSize" previous-text="<" next-text=">" first-text="<<" last-text=">>"></pagination>-->
            <uib-pagination class="pagination pagination-sm pull-right" total-items="filtered.length" items-per-page="entryLimit" ng-model="currentPage" data-boundary-links="true" data-current-page="currentPage" max-size="maxSize" previous-text="<" next-text=">" first-text="<<" last-text=">>"></uib-pagination>
        </td>
        </tfoot>
    </table>
</div>
