<div class="row ">
    <div class="col-md-12 col-xs-12">
        <div class="account-logo">#</div>
        <div class="account-info">
            <div class="account-name">{{ numberDetails.phone_number }}</div>
            <div class="account-type">{{ numberDetails.friendly_name }}</div>
            <div class="account-status account-status-active" ng-show="numberDetails.voice_application_sid || numberDetails.voice_url"><i class="fa fa-microphone"></i> VOICE</div>
            <div class="account-status account-status-active" ng-show="numberDetails.sms_application_sid || numberDetails.sms_url"><i class="fa fa-comment"></i> SMS</div>
            <div class="account-status account-status-active" ng-show="numberDetails.ussd_application_sid || numberDetails.ussd_url"><i class="fa fa-sitemap"></i> USSD</div>
            <div class="account-status account-status-active" ng-show="numberDetails.refer_application_sid || numberDetails.refer_url"><i class="fa fa-retweet"></i> REFER</div>
        </div>
    </div>
</div>

<hr>

<div class="row ">
    <div class="col-md-12 col-xs-12">
        <form name="numberForm" class="form-horizontal profile-form">
            <h3 class="details-section-title">Voice</h3>
            <span class="pull-right details-advanced-link">
                <a href="" class="number-advanced-toggle" ng-click="showVoiceAdvanced = !showVoiceAdvanced"><span ng-show="!showVoiceAdvanced">show</span><span ng-show="showVoiceAdvanced">hide</span> advanced</a>
            </span>
            <div class="row details-box">
                <div class="col-md-2 col-sm-2 col-xs-12 account-field-title">
                    <h4 class="details-field-title">Voice Request</h4>
                </div>
                <rc-endpoint-url details-loaded="numberDetails.$resolved" sid-var="numberDetails.voice_application_sid" url-only-var="false" method-var="numberDetails.voice_method" url-var="numberDetails.voice_url" apps="localVoiceApps"></rc-endpoint-url>
            </div>
            <div class="row details-box advanced" ng-show="showVoiceAdvanced">
                <div class="col-md-2 col-sm-2 col-xs-12 account-field-title">
                    <h4 class="details-field-title">Voice Fallback URL</h4>
                </div>
                <div class="col-md-8">
                    <input class="rc-textbox rc-textbox-advanced" type="text" placeholder="http://restcomm-demo.appspot.com/app/voice/welcome.xml" ng-model="numberDetails.voice_fallback_url">
                </div>
                <div class="clearfix visible-xs">&nbsp;</div>
                <div class="col-md-2">
                    <select class="rc-selection-picker rc-selection-picker-advanced" ng-model="numberDetails.voice_fallback_method">
                        <option value="POST">POST</option>
                        <option value="GET">GET</option>
                    </select>
                </div>
            </div>

            <div class="row details-box advanced" ng-show="showVoiceAdvanced">
                <div class="col-md-2 col-sm-2 col-xs-12 account-field-title">
                    <h4 class="details-field-title">Voice Callback URL</h4>
                </div>
                <div class="col-md-8">
                    <input class="rc-textbox rc-textbox-advanced" type="text" placeholder="http://restcomm-demo.appspot.com/app/voice/welcome.xml" ng-model="numberDetails.status_callback">
                </div>
                <div class="clearfix visible-xs">&nbsp;</div>
                <div class="col-md-2">
                    <select class="rc-selection-picker rc-selection-picker-advanced" ng-model="numberDetails.status_callback_method">
                        <option value="POST">POST</option>
                        <option value="GET">GET</option>
                    </select>
                </div>
            </div>

            <div class="row details-box advanced" ng-show="showVoiceAdvanced">
                <div class="col-md-2 col-sm-2 col-xs-12 account-field-title">
                    <h4 class="details-field-title">Refer URL</h4>
                </div>
                <rc-endpoint-url details-loaded="numberDetails.$resolved" sid-var="numberDetails.refer_application_sid" url-only-var="false" method-var="numberDetails.refer_method" url-var="numberDetails.refer_url" apps="localVoiceApps"></rc-endpoint-url>
            </div>

            <h3 class="details-section-title">SMS</h3>
            <span class="pull-right details-advanced-link">
                <a href="" class="number-advanced-toggle" ng-click="showSmsAdvanced = !showSmsAdvanced"><span ng-show="!showSmsAdvanced">show</span><span ng-show="showSmsAdvanced">hide</span> advanced</a>
            </span>
            <div class="row details-box">
                <div class="col-md-2 col-sm-2 col-xs-12 account-field-title">
                    <h4 class="details-field-title">SMS Request</h4>
                </div>
                <rc-endpoint-url details-loaded="numberDetails.$resolved" sid-var="numberDetails.sms_application_sid" url-only-var="false" method-var="numberDetails.sms_method" url-var="numberDetails.sms_url" apps="localSmsApps"></rc-endpoint-url>
            </div>
            <div class="row details-box advanced" ng-show="showSmsAdvanced">
                <div class="col-md-2 col-sm-2 col-xs-12 account-field-title">
                    <h4 class="details-field-title">SMS Callback URL</h4>
                </div>
                <div class="col-md-8">
                    <input class="rc-textbox rc-textbox-advanced" type="text" placeholder="http://restcomm-demo.appspot.com/app/voice/welcome.xml" ng-model="numberDetails.sms_fallback_url">
                </div>
                <div class="clearfix visible-xs">&nbsp;</div>
                <div class="col-md-2">
                    <select class="rc-selection-picker rc-selection-picker-advanced" ng-model="numberDetails.sms_fallback_method">
                        <option value="POST">POST</option>
                        <option value="GET">GET</option>
                    </select>
                </div>
            </div>

            <h3 class="details-section-title">USSD</h3>
            <span class="pull-right details-advanced-link">
                <a href="" class="number-advanced-toggle" ng-click="showUssdAdvanced = !showUssdAdvanced"><span ng-show="!showUssdAdvanced">show</span><span ng-show="showUssdAdvanced">hide</span> advanced</a>
            </span>
            <div class="row details-box">
                <div class="col-md-2 col-sm-2 col-xs-12 account-field-title">
                    <h4 class="details-field-title">USSD Request</h4>
                </div>
                <rc-endpoint-url details-loaded="numberDetails.$resolved" sid-var="numberDetails.ussd_application_sid" url-only-var="false" method-var="numberDetails.ussd_method" url-var="numberDetails.ussd_url" apps="localUssdApps"></rc-endpoint-url>
            </div>
            <div class="row details-box advanced" ng-show="showUssdAdvanced">
                <div class="col-md-2 col-sm-2 col-xs-12 account-field-title">
                    <h4 class="details-field-title">USSD Fallback URL</h4>
                </div>
                <div class="col-md-8">
                    <input class="rc-textbox rc-textbox-advanced" type="text" placeholder="http://restcomm-demo.appspot.com/app/voice/welcome.xml" ng-model="numberDetails.ussd_fallback_url">
                </div>
                <div class="clearfix visible-xs">&nbsp;</div>
                <div class="col-md-2">
                    <select class="rc-selection-picker rc-selection-picker-advanced" ng-model="numberDetails.ussd_fallback_method">
                        <option value="POST">POST</option>
                        <option value="GET">GET</option>
                    </select>
                </div>
            </div>

            <div class="clearfix">&nbsp;</div>

            <div class="row">
                <div class="col-md-4 col-xs-2">
                    <button class="rc-btn delete-btn" ng-click="confirmNumberDelete(numberDetails)">
                        <span class="hidden-xs">Delete Number</span>
                        <span class="visible-xs"><i class="fa fa-trash-o"></i></span>
                    </button>
                </div>
                <div class="col-md-8 col-xs-10">
                    <span class="pull-right">
                        <button class="rc-btn close-btn" ng-click="$root.goTo('/numbers/incoming')">
                            <span class="hidden-xs">Close</span>
                            <span class="visible-xs"><i class="fa fa-times"></i></span>
                        </button>
                        <button class="rc-btn save-btn" ng-disabled="editingPass && pwdStrength < 50" ng-click="updateIncomingNumber(numberDetails)">
                            <span class="hidden-xs">Save Changes</span>
                            <span class="visible-xs"><i class="fa fa-check"></i></span>
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="clearfix visible-xs">&nbsp;</div>
