<!--<rc-numbers-pills></rc-numbers-pills>-->

<!--<rc-page-title icon="phone" title="NUMBERS" sub-title="RESTCOMM NUMBERS"></rc-page-title>-->

<div class="row">
    <div class="col-md-12">
        <div id="search-register">
            <div id="search">
                <form method="get" action="/search">
                    <img id="search-icon" src="resources/img/v2/search-icon.png">
                    <input name="q" type="text" size="40" placeholder="Search..." ng-model="query.phone_number">
                </form>
            </div>
            <div>
                <a href="#/numbers/register-incoming" class="btn-register pull-right"><b>+</b> Register number</a>
            </div>
        </div>

        <div ng-hide="(numbersList | filter:query).length > 0" class="jumbotron no-records-alert">
            <h2><i class="fa fa-exclamation-circle"></i> No incoming numbers <span ng-show="numbersList.length == 0">registered</span> <span ng-show="numbersList.length > 0">matching query</span>. <small>Register one now!</small></h2>
        </div>

        <table ng-show="(numbersList | filter:query).length > 0" class="table table-hover" ng-cloak>
            <thead style="font-size: 18px;">
             <th class="width-20pc" ng-click="sortBy('phone_number');toggleD=!toggleD;reverse=toggleD;pageChanged()">
            Number<span class="pull-right" ng-show="predicate === 'phone_number'"><i ng-class="{'fa fa-chevron-up':toggleD,'fa fa-chevron-down':!toggleD}"></i></span></th>
            <th>&nbsp;</th>
            <th class="width-30pc" ng-click="sortBy('friendly_name');toggleC=!toggleC;reverse=toggleC;pageChanged()">Name<span class="pull-right" ng-show="predicate === 'friendly_name'"><i ng-class="{'fa fa-chevron-up':toggleC,'fa fa-chevron-down':!toggleC}"></i></span></th>
      <th>
    			Features</th>
            <th class="width-10pc">&nbsp;</th>
            </thead>
            <tbody>
            <tr class="number-row" ng-repeat="pn in filtered = (numbersList | filter:query| orderBy:predicate:reverse)">
                <td><h4><a href="#/numbers/incoming/{{pn.sid}}">{{ pn.phone_number  }}</a></h4></td>
                <td class="edit-number"><h5><i class="fa fa-pencil clickable" ng-click="editingFriendlyName = pn.phone_number"></i></h5></td>
                <td>
                    <h5 class="" ng-hide="editingFriendlyName == pn.phone_number">{{ pn.friendly_name  }} </h5>
                    <h5 class="col-md-10" ng-show="editingFriendlyName == pn.phone_number"><input type="text" class="form-control input-sm" onkeyup="if(event.keyCode == 13) {this.blur()}" ng-model="pn.friendly_name" ng-blur="editingFriendlyName = undefined; setFriendlyName(pn)" autofocus /></h5>
                </td>
                <td style="font-size: 14px;">
                    <div ng-show="{{ pn.voice_url.length > 0 || pn.voice_application_sid.length > 0 }}"><i class="fa fa-microphone available-feature"></i> <small title='{{ pn.voice_url }}{{ pn.voice_application_sid }}'> {{ pn.voice_url }} {{ pn.voice_application_name }} </small></div>
                    <!-- <span class="opacity30" ng-hide="{{ pn.voice_url.length > 0 || pn.voice_application_sid.length > 0 }}"><i class="fa fa-microphone-slash unavailable-feature"></i> <small> http://www.restcomm.org/demo/voice/</small></span> -->
                    <div ng-show="{{ pn.sms_url.length > 0 || pn.sms_application_sid.length > 0  }}"><i class="fa fa-comment available-feature"></i> <small title='{{pn.sms_url}}{{pn.sms_application_sid}}'> {{ pn.sms_url  }} {{ pn.sms_application_name }}</small></div>
                    <!-- <span class="opacity30" ng-hide="{{ pn.sms_url.length > 0 || pn.sms_application_sid.length > 0 }}"><i class="fa fa-comment-o unavailable-feature"></i> <small> http://www.restcomm.org/demo/sms/</small></span> -->
                    <div ng-show="{{ pn.ussd_url.length > 0 || pn.ussd_application_sid.length > 0  }}"><i class="fa fa-sitemap available-feature"></i> <small title='{{pn.ussd_url}}{{pn.ussd_application_sid}}'> {{ pn.ussd_url  }} {{ pn.ussd_application_name }}</small></div>
                    <!-- <span class="opacity30" ng-hide="{{ pn.ussd_url.length > 0 || pn.ussd_application_sid.length > 0 }}"><i class="fa fa-sitemap unavailable-feature"></i> <small> http://www.restcomm.org/demo/ussd/</small></span> -->
                    <div ng-show="{{ pn.refer_url.length > 0 || pn.refer_application_sid.length > 0  }}"><i class="fa fa-retweet available-feature"></i> <small title='{{pn.refer_url}}{{pn.refer_application_sid}}'> {{ pn.refer_url  }} {{ pn.refer_application_name }}</small></div>
                    <!-- <span class="opacity30" ng-hide="{{ pn.refer_url.length > 0 || pn.refer_application_sid.length > 0 }}"><i class="fa fa-retweet unavailable-feature"></i> <small> http://www.restcomm.org/demo/refer/</small></span> -->
                    <!--
                    <span ng-show="{{ $index % 4 == 1  }}"><span class="available-feature"><strong>#</strong></span> <small> {{ pn.voice_url.substring(0, pn.voice_url.indexOf("demos/") + 6) }}ussd/ussd-menu.xml </small></span>
                    <span class="opacity30" ng-hide="{{ $index % 4 == 1  }}"><span class="unavailable-feature"><strong>#</strong></span> <small> http://www.restcomm.org/demo/ussd/</small></span>
                    -->
                </td>
                <td class="text-right">
                    <div class="btn-delete-div"><button class="btn btn-link" ng-click="confirmNumberDelete(pn)"><img src="resources/img/v2/delete-number.png"></button></div>
                </td>
            </tr>
            </tbody>
             <tfoot>
        <td colspan="99">
            <div class="row">
                <div class="col-md-4">
                    <small class="pull-left">{{start}} to {{end}} of {{ totalNumbers }} Number{{ totalNumbers == 1 ? "" : "s" }}</small>
                </div>
                <div class="col-md-4">
                    <form class="form-inline text-center">
                        <h6>Items / Page</h6>
                        <div class="btn-group buttons-per-page">
                            <button type="button" class="btn btn-default btn-sm" ng-class="{'active':entryLimit === 10}" ng-click="setEntryLimit(10)">10</button>
                            <button type="button" class="btn btn-default btn-sm" ng-class="{'active':entryLimit === 25}" ng-click="setEntryLimit(25)">25</button>
                            <button type="button" class="btn btn-default btn-sm" ng-class="{'active':entryLimit === 50}" ng-click="setEntryLimit(50)">50</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <uib-pagination style="float:right" class="pagination pagination-sm" ng-change="pageChanged()" total-items="totalNumbers" items-per-page="entryLimit" ng-model="currentPage" data-boundary-links="true" data-current-page="currentPage" max-size="maxSize" previous-text="<" next-text=">" first-text="<<" last-text=">>"></uib-pagination>
                </div>
            </div>
        </td>
        </tfoot>
        </table>


    </div>
</div>