<div class="row ">
    <div class="col-md-12 col-xs-12">
        <div class="account-logo">{{ clientDetails.login  | limitTo : 1 | uppercase }}</div>
        <div class="account-info">
            <div class="account-name">{{ clientDetails.login }}</div>
            <div class="account-type">{{ clientDetails.friendly_name }}</div>
            <div class="account-status account-status-active">{{ clientDetails.status === '0' ? 'DISABLED' : 'ENABLED' }}</div>
        </div>
    </div>
</div>

<hr>

<div class="row ">
    <div class="col-md-12 col-xs-12">
        <form name="clientForm" class="form-horizontal profile-form">
            <h3 class="details-section-title">Authentication</h3>
            <div ng-class="{'has-error': (passDiffer = !!clientDetails.newPassword && passwordConfirmation && passwordConfirmation !== clientDetails.newPassword)}">
                <div class="row details-box">
                    <div class="col-md-2 col-sm-2 col-xs-12 account-field-title"><h4 class="details-field-title">New Password</h4></div>
                    <div class="col-md-4 col-sm-4 col-xs-12 account-field-value">
                        <div ng-show="clientDetails.newPassword" class="password-strength" ng-password-strength="clientDetails.newPassword" strength="pwdStrength" css-mode="bootstrap" inner-class="progress-bar" inner-class-prefix="progress-bar-">
                            <uib-progressbar value="pwdStrength"></uib-progressbar>
                        </div>
                        <input id="client-password" type="password" class="form-control rc-textbox" ng-class="{'password-transparent' : newPassword}" placeholder="Change password" ng-model="clientDetails.newPassword" />
                    </div>
                    <div class="clearfix visible-xs">&nbsp;</div>
                    <div class="col-md-2 col-sm-2 col-xs-12 account-field-title"><h4 class="details-field-title">Confirm Password</h4></div>
                    <div class="col-md-4 col-sm-4 col-xs-12 account-field-value">
                        <input id="client-password-confirmation" type="password" class="form-control rc-textbox" placeholder="Confirm password" ng-model="passwordConfirmation" />
                    </div>
                </div>
                <span class="help-block pull-right" ng-show="passDiffer">The passwords do not match</span>
            </div>

            <h3 class="details-section-title">Voice</h3>
            <span class="pull-right details-advanced-link">
                <a href="" class="number-advanced-toggle" ng-click="showVoiceAdvanced = !showVoiceAdvanced"><span ng-show="!showVoiceAdvanced">show</span><span ng-show="showVoiceAdvanced">hide</span> advanced</a>
            </span>
            <div class="row details-box">
                <div class="col-md-2 col-sm-2 col-xs-12 account-field-title">
                    <h4 class="details-field-title">Voice Request</h4>
                </div>
                <rc-endpoint-url details-loaded="clientDetails.$resolved" method-var="clientDetails.voice_method" url-var="clientDetails.voice_url" sid-var="clientDetails.voice_application_sid" apps="localApps" url-only-var="false"></rc-endpoint-url>
            </div>
            <div class="row details-box advanced" ng-show="showVoiceAdvanced">
                <div class="col-md-2 col-sm-2 col-xs-12 account-field-title">
                    <h4 class="details-field-title">Voice Fallback URL</h4>
                </div>
                <div class="col-md-8 col-sm-8">
                    <input class="rc-textbox rc-textbox-advanced" type="text" placeholder="http://restcomm-demo.appspot.com/app/voice/welcome.xml" ng-model="clientDetails.voice_fallback_url">
                </div>
                <div class="clearfix visible-xs">&nbsp;</div>
                <div class="col-md-2 col-sm-2">
                    <select class="rc-selection-picker rc-selection-picker-advanced" ng-model="clientDetails.voice_fallback_method">
                        <option value="POST">POST</option>
                        <option value="GET">GET</option>
                    </select>
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="row">
                <div class="col-md-4 col-xs-2">
                    <button class="rc-btn btn-danger" ng-click="confirmClientDelete(clientDetails)">
                        <span class="hidden-xs">Delete Client</span>
                        <span class="visible-xs"><i class="fa fa-trash-o"></i></span>
                    </button>
                </div>
                <div class="col-md-8 col-xs-10">
                    <span class="pull-right">
                        <button class="rc-btn close-btn" ng-click="$root.goTo('/numbers/clients')">
                            <span class="hidden-xs">Close</span>
                            <span class="visible-xs"><i class="fa fa-times"></i></span>
                        </button>
                        <button class="rc-btn btn-primary save-btn" ng-disabled="clientDetails.newPassword && (pwdStrength < 50 || passDiffer)" ng-click="updateSIPClient(clientDetails)">
                            <span class="hidden-xs">Save Changes</span>
                            <span class="visible-xs"><i class="fa fa-check"></i></span>
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="clearfix visible-xs">&nbsp;</div>
