<rc-numbers-pills></rc-numbers-pills>

<rc-page-title icon="phone" title="NUMBERS" sub-title="REGISTER NUMBER"></rc-page-title>

<div class="row">
    <div class="col-md-12" style="padding-left: 5px;" ng-init="newNumber = {}">
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li ng-class="{'active' : isProvider}"><a href="" data-toggle="tab"  ng-click="setProvider(true)">Provider Number</a></li>
            <li ng-class="{'active' : !isProvider}" ><a href="" data-toggle="tab" ng-click="setProvider(false)">SIP Number</a></li>
        </ul>
        <div>
            <div id="provider" ng-show="isProvider">
                <br>
                <script type="text/ng-template" id="countriesTemplate.html">
                    <a class="clickable f16" style="width: 400px;">
                        <span class="flag {{match.model.code|lowercase}}" style="padding-left: 20px;" bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
                    </a>
                </script>
                <form class="form-inline" role="form">
                    <div class="form-group col-md-4" style="padding-left: 0;">
                        <div class="input-group f16">
                            <span class="input-group-addon"><span ng-show="newNumber.countryCode" class="flag {{newNumber.countryCode.code|lowercase}}"></span><span ng-hide="newNumber.countryCode"><i class="fa fa-globe"></i></span></span>
                            <input type="text" ng-model="newNumber.countryCode" placeholder="Country" typeahead="country as (country.name + ' (' + country.dial_code + ')') for country in countries | filter:$viewValue | limitTo: 10 " typeahead-template-url="countriesTemplate.html" typeahead-editable="false" class="form-control" autofocus>
                            <div class="input-group-btn" ng-show="newNumber.countryCode.code === 'US'">
                                <button class="btn btn-default dropdown-toggle" style="width: 100px;" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                    {{newNumber.area_code || "Area Code"}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu scrollable-menu" role="menu">
                                    <li role="presentation" class="dropdown-header" ng-repeat-start="ac in areaCodes">{{ac.name}}</li>
                                    <li role="presentation" ng-repeat="code in ac.codes" ng-repeat-end><a role="menuitem" tabindex="-1" href="" ng-click="newNumber.area_code = code">{{code}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <input ng-disabled="!newNumber.countryCode" id="new-number-number" class="form-control" style="width: 100%;" ng-model="newNumber.phone_number" type="tel" placeholder="Number" popover-placement="bottom" popover-trigger="focus" popover="How would you like your number to look like. If the entered digits are not available, try a shorter number prefix."/>
                    </div>
                    <div class="form-group col-md-2">
                        <select class="capmultiselect" multiple="multiple" ng-model="newNumber.capabilities">
                            <option value="Voice">Voice</option>
                            <option value="Sms">SMS</option>
                            <option value="Mms" disabled>MMS</option>
                            <option value="Fax">Fax</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <select class="typmultiselect" multiple="multiple" ng-model="newNumber.types">
                            <option value="landline">Landline</option>
                            <option value="mobile">Mobile</option>
                            <option value="tollfree">Toll-Free</option>
                        </select>
                    </div>
                    <div class="form-group col-md-1">
                        <button class="btn" ng-class="{'btn-primary': !searching, 'btn-default': searching}" type="button" ng-click="findNumbers(newNumber.area_code, newNumber.countryCode)" ng-disabled="!newNumber.countryCode"><i class="fa fa-search" ng-hide="searching"></i><i class="fa fa-spinner fa-spin" ng-show="searching"></i> Search<span ng-show="searching">ing</span> Numbers</button>
                    </div>
                </form>
            </div>
            <div id="sip" ng-show="!isProvider">
                <br>
                <div class="alert alert-warning" role="alert"> <strong><i class="fa fa-bullhorn"></i> Attention!</strong> Any number can be registered in this mode, even existent PSTN numbers, make sure to handle SIP Traffic Routing yourself!</div>
                <form class="form-inline" role="form">
                    <div class="form-group col-md-4" style="padding-left: 0;">
                        <div class="input-group">
                            <span class="input-group-addon">SIP Address</span>
                            <input id="new-number-sip" class="form-control" style="width: 100%;" ng-model="$parent.newSIPNumber.phone_number" type="tel" placeholder="Number" popover-placement="bottom" popover-trigger="focus" popover=""/>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Friendly Name</span>
                            <input id="new-number-friendly-name" class="form-control" style="width: 100%;" ng-model="newSIPNumber.friendly_name" type="text" placeholder="Hot Line Number" />
                        </div>
                    </div>
                    <div class="form-group col-md-2 col-md-offset-1">
                        <button class="btn" ng-class="{'btn-primary': !searching, 'btn-default': searching}" type="button" ng-click="registerIncomingNumber(newSIPNumber, true)" ng-disabled="!newSIPNumber.phone_number"><i class="fa fa-search" ng-hide="searching"></i><i class="fa fa-spinner fa-spin" ng-show="searching"></i> Register<span ng-show="searching">ing</span> Number</button>
                    </div>
                </form>
            </div>
    </div>
</div>
<div class="row" ng-show="isProvider">

    <div class="col-md-12">
        <!--<form class="form-horizontal">-->
        <!--
            <dl class="dl-horizontal form-dl">
            <dt>Account SID</dt>
            <dd>
                <input type="text" class="form-control input-xlarge" id="new-number-account-sid" ng-model="sid" placeholder="Account SID" disabled />
            </dd>
        -->
        <hr class="small" />
        <div ng-show="!availableNumbers" class="jumbotron no-records-alert">
            <h2><i class="fa fa-info-circle"></i> Search for a number. <small>Enter your search criteria and click "Search"!</small></h2>
        </div>

        <div ng-show="availableNumbers.length == 0 && !searching" class="jumbotron no-records-alert">
            <h2><i class="fa fa-exclamation-circle"></i> No numbers available. <small>Review you search criteria and try again!</small></h2>
        </div>

        <div ng-show="searching" class="jumbotron no-records-alert">
            <h2><i class="fa fa-spinner fa-spin"></i> Searching for your number. <small>{{newNumber.countryCode.name}} is a lovely place..</small></h2>
        </div>

        <table ng-show="availableNumbers.length > 0" class="table table-striped table-hover" ng-cloak>
            <thead>
            <th class="width-10pc">NUMBER</th>
            <th class="width-10pc text-center">TYPE</th>
            <th class="width-30pc text-center" colspan="3">FEATURES</th>
            <th class="width-10pc text-center">COST</th>
            <th class="width-10pc">&nbsp;</th>
            </thead>
            <tbody>
            <tr ng-repeat="pn in filtered = (availableNumbers | filter:query)">
                <td><h4 class="text-center">{{ pn.friendlyName  }}</h4></td>
                <td><h5 class="text-center">-</h5></td>
                <td>
                    <h4 class="text-center">
                        <span ng-show="pn.voiceCapable"> <i class="fa fa-microphone available-feature" tooltip="Voice Capable"></i> <small> Voice </small> </span>
                        <span class="opacity30" ng-hide="pn.voiceCapable"><i class="fa fa-microphone-slash unavailable-feature"></i> <small> Not Voice Capable </small></span>
                    </h4>
                </td>
                <td>
                    <h4 class="text-center">
                        <span ng-show="pn.smsCapable"><i class="fa fa-comment available-feature"></i> <small> SMS </small></span>
                        <span class="opacity30" ng-hide="pn.smsCapable"><i class="fa fa-comment-o unavailable-feature"></i> <small> No SMS </small></span>
                    </h4>
                </td>
                <td>
                    <h4 class="text-center">
                        <span ng-show="pn.smsCapable"><i class="fa fa-picture-o available-feature"></i> <small> MMS </small></span>
                        <span class="opacity30" ng-hide="pn.smsCapable"><i class="fa fa-picture-o unavailable-feature"></i> <small> No MMS </small></span>
                    </h4>
                    <!--
                    <span ng-show="{{ $index % 4 == 1  }}"><span class="available-feature"><strong>#</strong></span> <small> {{ pn.voice_url.substring(0, pn.voice_url.indexOf("demos/") + 6) }}ussd/ussd-menu.xml </small></span>
                    <span class="opacity30" ng-hide="{{ $index % 4 == 1  }}"><span class="unavailable-feature"><strong>#</strong></span> <small> http://www.restcomm.org/demo/ussd/</small></span>
                    -->
                </td>
                <td><h5 class="text-center">$-.--</h5></td>
                <td class="text-right">
                    <div class="btn-delete-div"><button class="btn btn-default" ng-hide="pn.registered" ng-click="registerIncomingNumber(pn)">Register Number</button></div>
                    <div class="btn-delete-div"><button class="btn btn-success" ng-show="pn.registered" ng-click="confirmNumberRegister(pn)"><i class="fa fa-check"></i> Configure Number</button></div>
                </td>
            </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </table>
        <!--</form>-->

    </div>
</div>
<div class="row" ng-show="!isProvider">

    <div class="col-md-12">
        <hr class="small" />
        <div class="jumbotron no-records-alert">
            <h2><i class="fa fa-info-circle"></i> Enter your favorite number or address. <small>It's all free and unlimited!</small></h2>
        </div>
    </div>
</div>
 <script type="text/javascript">
     angular.element(document).ready(function () {
        $('.capmultiselect').multiselect({
            nonSelectedText: 'Any Capabilities',
            nSelectedText: 'All Capabilities',
            numberDisplayed: 4,
            buttonWidth: '100%',
            includeSelectAllOption: true,
            buttonText: function(options, select) {
                if (options.length == 0) {
                    return this.nonSelectedText + ' <b class="caret"></b>';
                }
                else {
                    if (options.length > this.numberDisplayed) {
                        return this.nSelectedText + ' <b class="caret"></b>';
                    }
                    else {
                        var selected = '';
                        options.each(function() {
                            var label = ($(this).attr('label') !== undefined) ? $(this).attr('label') : $(this).html();

                            selected += label + ', ';
                        });
                        return selected.substr(0, selected.length - 2) + ' <b class="caret"></b>';
                    }
                }
            }
        });
        $('.typmultiselect').multiselect({
            nonSelectedText: 'Any Type',
            nSelectedText: 'All Types',
            numberDisplayed: 2,
            buttonWidth: '100%',
            includeSelectAllOption: true,
            buttonText: function(options, select) {
                if (options.length == 0) {
                    return this.nonSelectedText + ' <b class="caret"></b>';
                }
                else {
                    if (options.length > this.numberDisplayed) {
                        return this.nSelectedText + ' <b class="caret"></b>';
                    }
                    else {
                        var selected = '';
                        options.each(function() {
                            var label = ($(this).attr('label') !== undefined) ? $(this).attr('label') : $(this).html();

                            selected += label + ', ';
                        });
                        return selected.substr(0, selected.length - 2) + ' <b class="caret"></b>';
                    }
                }
            }
        });
    });
</script>