<div class="row">
    <div class="col-md-4 col-xs-6">
        <form class="search-form">
            <i class="fa fa-search search-icon"></i>
            <input name="q" type="text" size="40" placeholder="Search..." ng-model="query.login">
        </form>
    </div>
    <div  class="col-md-4 col-md-offset-4 col-xs-6">
        <button id="register-client" class="rc-btn btn-primary pull-right hidden-xs" ng-click="showRegisterSIPClientModal()"><b>+</b> New Client</button>
        <button id="register-client-mobile" class="rc-btn btn-primary rc-btn-sm pull-right visible-xs" ng-click="showRegisterSIPClientModal()"><b>+</b> New Client</button>
    </div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-12">

        <div ng-show="!query.login && (!clientsList || (filtered.length === 0))" class="jumbotron rc-no-items">
            <h1><i class="fa fa-id-badge"></i> </h1>
            <h2>No Restcomm Clients</h2>
            <h5>Register one now!</h5>
        </div>

        <div ng-show="query.login && (!clientsList || (filtered.length === 0))" class="jumbotron rc-no-items">
            <h1><i class="fa fa-search"></i> </h1>
            <h2>No clients found for "{{ query.login }}"</h2>
            <h5>Please update your search and try again.</h5>
        </div>

        <table ng-show="filtered.length > 0" class="table table-hover rc-list clients-list" ng-cloak>
            <thead>
            <th class="clients-list-username" rc-list-sort by="predicate" order="'login'" reverse="reverse">Username</th>
            <th class="clients-list-edit-icon hidden-xs">&nbsp;</th>
            <th class="clients-list-friendly-name hidden-xs" rc-list-sort by="predicate" order="'friendly_name'" reverse="reverse">Friendly Name</th>
            <th class="clients-list-applications" >Applications</th>
            <th class="clients-list-delete-icon visible-xs">&nbsp;</th>
            </thead>
            <tbody>
            <tr class="number-row mobile-clickable-row" ng-repeat="sc in filtered = (clientsList | filter:query | orderBy:predicate:reverse)" ng-click="$root.goTo('/numbers/clients/' + sc.sid)">
                <td class="clients-list-username">
                    <div><a href="#/numbers/clients/{{sc.sid}}">{{ sc.login  }}</a></div>
                    <div class="visible-xs">{{ sc.friendly_name  }}</div>
                </td>
                <td class="clients-list-edit-icon hidden-xs">
                    <h5><i class="fa fa-pencil clickable" ng-click="editingFriendlyName = sc.login; $event.stopPropagation();"></i></h5>
                </td>
                <td class="clients-list-friendly-name hidden-xs">
                    <div class="" ng-hide="editingFriendlyName === sc.login">{{ sc.friendly_name  }} </div>
                    <div class="" ng-show="editingFriendlyName === sc.login">
                        <input type="text" class="form-control" onkeyup="if(event.keyCode === 13) {this.blur()}" ng-model="sc.friendly_name" ng-blur="editingFriendlyName = undefined; setFriendlyName(sc)" autofocus="editingFriendlyName === sc.login" />
                    </div>
                </td>
                <td class="clients-list-applications">
                    <div class="fit-to-size" ng-show="{{ sc.voice_url.length > 0 || sc.voice_application_sid.length > 0 }}"><i class="fa fa-microphone available-feature"></i>&nbsp;&nbsp;{{ sc.voice_url  }} {{ sc.voice_application_sid }} </div>
                    <div class="opacity30 fit-to-size" ng-hide="{{ sc.voice_url.length > 0 || sc.voice_application_sid.length > 0 }}"><i class="fa fa-microphone-slash unavailable-feature"></i>&nbsp;&nbsp;http://www.restcomm.org/demo/voice/ </div>
                </td>
                <td class="clients-list-delete-icon text-right visible-xs">
                    <div class="btn-delete-div"><i class="fa fa-chevron-right"></i></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>