<div class="row accounts-tabs-mobile visible-sm visible-xs">
    <div class="col-xs-5" ng-class="{'active': isProvider}" ng-click="setProvider(true)"><a href="">Provider</a></div>
    <div class="col-xs-5 col-xs-offset-2" ng-class="{'active': !isProvider}" ng-click="setProvider(false)"><a href="">SIP</a></div>
</div>

<div class="row">
    <div class="col-md-2 accounts-tabs hidden-sm hidden-xs">
        <div ng-class="{'active': isProvider}" ng-click="setProvider(true)" rc-fac="fac.DID"><a href="">Provider Number</a></div>
        <div ng-class="{'active': !isProvider}" ng-click="setProvider(false)"><a href="">SIP Number</a></div>
    </div>

    <div class="col-md-10" ng-show="!isProvider">
        <div class="row">
            <form>
                <div class="col-md-5 col-xs-12">
                    <h4>SIP Address</h4>
                    <input id="new-number-sip" class="form-control" ng-model="newSIPNumber.phone_number" type="tel" placeholder="Number"/>
                </div>
                <div class="clearfix visible-xs">&nbsp;</div>
                <div class="col-md-5 col-xs-12">
                    <h4>Friendly Name</h4>
                    <input id="new-number-friendly-name" class="form-control" ng-model="newSIPNumber.friendly_name" type="text" placeholder="Hot Line Number" />
                </div>
                <div class="col-md-2 col-xs-12 text-right">
                    <div>&nbsp;</div>
                    <button id="register-number-sip" class="rc-btn btn-primary" ng-disabled="!newSIPNumber.phone_number" ng-click="registerIncomingNumber(newSIPNumber, true)"><b>+</b> Register</button>
                </div>
            </form>
        </div>

        <div class="clearfix visible-xs">&nbsp;</div>

        <div class="jumbotron rc-no-items">
            <h1><i class="fa fa-tablet"></i></h1>
            <h2>Register SIP Number</h2>
            <h5>Enter your favorite number or address!</h5>
        </div>
    </div>

    <div class="col-md-10" ng-show="isProvider">
        <div class="row">
            <form ng-init="newNumber = {}">
                <div class="col-md-4 col-xs-12">
                    <h4>Country</h4>
                    <script type="text/ng-template" id="countriesTemplate.html">
                        <a class="clickable f16">
                            <span class="flag {{match.model.code|lowercase}}" ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
                        </a>
                    </script>
                    <div class="input-group f16">
                        <span class="input-group-addon countries-addon"><span ng-show="newNumber.countryCode" class="flag {{newNumber.countryCode.code|lowercase}}"></span><span ng-hide="newNumber.countryCode"><i class="fa fa-globe"></i></span></span>
                        <input type="text" id="number-country" class="form-control" ng-model="newNumber.countryCode" placeholder="Country" uib-typeahead="country as (country.name + ' (' + country.dial_code + ')') for country in countries | filter:$viewValue | limitTo: 10 " typeahead-template-url="countriesTemplate.html" typeahead-editable="false" autofocus>
                        <div class="input-group-btn" ng-if="newNumber.countryCode.code === 'US'" ng-init="newNumber.area_code = undefined">
                            <button class="btn btn-default dropdown-toggle" type="button" id="usAreaDropdown" data-toggle="dropdown">
                                {{newNumber.area_code || "Area Code"}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu scrollable-menu" role="menu">
                                <li role="presentation" class="dropdown-header" ng-repeat-start="ac in areaCodesUS">{{ac.name}}</li>
                                <li role="presentation" ng-repeat="code in ac.codes" ng-repeat-end><a role="menuitem" tabindex="-1" href="" ng-click="newNumber.area_code = code">{{code}}</a></li>
                            </ul>
                        </div>
                        <div class="input-group-btn" ng-if="newNumber.countryCode.code === 'CA'" ng-init="newNumber.area_code = undefined">
                            <button class="btn btn-default dropdown-toggle" type="button" id="caAreaDropdown" data-toggle="dropdown">
                                {{newNumber.area_code || "Area Code"}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu scrollable-menu" role="menu">
                                <li role="presentation" class="dropdown-header" ng-repeat-start="ac in areaCodesCA">{{ac.name}}</li>
                                <li role="presentation" ng-repeat="code in ac.codes" ng-repeat-end><a role="menuitem" tabindex="-1" href="" ng-click="newNumber.area_code = code">{{code}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-xs">&nbsp;</div>
                <div class="col-md-3 col-xs-12">
                    <h4>Number</h4>
                    <input type="tel" class="form-control" ng-disabled="!newNumber.countryCode" id="new-number-number" ng-model="newNumber.phone_number" placeholder="enter a number" popover-placement="bottom" popover-trigger="focus" popover="How would you like your number to look like. If the entered digits are not available, try a shorter number prefix."/>
                </div>
                <div class="clearfix visible-xs">&nbsp;</div>
                <div class="col-md-2 col-xs-12">
                    <h4>Capabilities</h4>
                    <label class="radio-inline">
                        <input type="radio" name="cap_radio" id="any-capability" ng-model="numberCaps" value="any" ng-init="numberCaps = 'any'">Any
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="cap_radio" id="specific-capability" ng-model="numberCaps" value="specific">Specific
                    </label>
                    <label class="radio-inline" ng-show="numberCaps === 'specific'">
                        <input type="checkbox" id="specific-capability-voice" ng-model="numberCapsVoice"> Voice
                    </label>
                    <label class="radio-inline" ng-show="numberCaps === 'specific'">
                        <input type="checkbox" id="specific-capability-sms" ng-model="numberCapsSms"> SMS
                    </label>
                </div>
                <div class="clearfix visible-xs">&nbsp;</div>
                <div class="col-md-2 col-xs-12">
                    <h4>Type</h4>
                    <label class="radio-inline">
                        <input type="radio" name="type_radio" id="any-type" ng-model="numberType" value="any" ng-init="numberType = 'any'">Any
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="type_radio" id="specific-type" ng-model="numberType" value="specific">Specific
                    </label>
                    <label class="radio-inline" ng-show="numberType === 'specific'">
                        <input type="checkbox" id="specific-type-landline" ng-model="numberTypeLL"> Landline
                    </label>
                    <label class="radio-inline" ng-show="numberType === 'specific'">
                        <input type="checkbox" id="specific-type-mobile" ng-model="numberTypeMB"> Mobile
                    </label>
                    <label class="radio-inline" ng-show="numberType === 'specific'">
                        <input type="checkbox" id="specific-type-tollfree" ng-model="numberTypeTF"> Toll-Free
                    </label>
                </div>
                <div class="col-md-1 col-xs-12">
                    <div>&nbsp;</div>
                    <button type="submit" id="search-number-provider" class="logs-search-button rc-btn btn-primary" ng-click="findNumbers(1)" ng-disabled="!newNumber.countryCode || {{ fac.DIDCountry.condition }}"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
        <div class="row"><div class="col-md-4 col-xs-12" rc-fac="fac.DIDCountry">&nbsp;</div></div>
        <div class="row">
            <div class="col-md-12">

                <hr/>

                <div class="jumbotron rc-no-items" ng-show="searching">
                    <h1><i class="fa fa-spinner fa-spin"></i></h1>
                    <h2>Searching for your number...</h2>
                    <h5>{{ newNumber.countryCode.name || 'That ' }} is a lovely place..</h5>
                </div>

                <div class="jumbotron rc-no-items" ng-show="!availableNumbers && !searching">
                    <h1><i class="fa fa-mobile-phone"></i></h1>
                    <h2>Register Number</h2>
                    <h5>Enter your search criteria and find a number!</h5>
                </div>

                <div class="jumbotron rc-no-items" ng-show="availableNumbers.length === 0 && !searching">
                    <h1><i class="fa fa-times"></i></h1>
                    <h2>No numbers available!</h2>
                    <h5>Change you search criteria and try again!</h5>
                </div>

                <table ng-show="availableNumbers.length > 0" class="table table-hover rc-list provider-numbers-list">
                    <thead class="logs-table-header">
                    <tr>
                        <th class="provider-numbers-list-number">Number</th>
                        <th class="provider-numbers-list-features text-right">Features</th>
                        <th class="provider-numbers-list-features"></th>
                        <th class="provider-numbers-list-cost text-center">Cost</th>
                        <th class="provider-numbers-list-action">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="pn in filtered = (availableNumbers | filter:query)" class="logs-table-row">
                        <td class="provider-numbers-list-number">{{ pn.friendlyName  }}</td>
                        <td class="provider-numbers-list-features">
                            <span ng-if="pn.voiceCapable">
                                <i class="fa fa-microphone"></i><span class="hidden-xs"> Voice</span>
                            </span>
                        </td>
                        <td class="provider-numbers-list-features">
                            <span ng-if="pn.smsCapable">
                                <i class="fa fa-comment"></i><span class="hidden-xs"> Message</span>
                            </span>
                        </td>
                        <td class="provider-numbers-list-cost"><div class="text-center">${{ pn.cost || '-.--' }}</div></td>
                        <td class="provider-numbers-list-action">
                            <div class="btn-delete-div"><button id="register-number-provider" class="btn btn-default" ng-hide="pn.registered" ng-click="registerIncomingNumber(pn)">Register<span class="hidden-xs"> Number</span></button></div>
                            <div class="btn-delete-div"><button class="btn btn-success" ng-show="pn.registered" ng-click="confirmNumberRegister(pn)"><i class="fa fa-check"></i> Configure Number</button></div>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="7" class="text-right">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default btn-sm" ng-if="currentPage > 1" ng-click="prevRange()">&lt; Prev</button>
                                <button type="button" class="btn btn-default btn-sm" disabled>Page {{currentPage}}</button>
                                <button type="button" class="btn btn-default btn-sm" ng-if="availableNumbers.length === pageSize" ng-click="nextRange()">Next &gt;</button>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
</div>