<div class="row">
    <div class="col-md-4 col-xs-6">
        <form class="search-form">
            <i class="fa fa-search search-icon"></i>
            <input name="q" type="text" size="40" placeholder="Search..." ng-model="query.phone_number" ng-model-options="{ debounce: 500 }">
        </form>
    </div>
    <div  class="col-md-4 col-md-offset-4 col-xs-6">
        <button class="rc-btn btn-primary pull-right hidden-xs" ng-click="$root.goTo('/numbers/register-incoming')"><b>+</b> Register Number</button>
        <button class="rc-btn btn-primary rc-btn-sm pull-right visible-xs" ng-click="$root.goTo('/numbers/register-incoming')"><b>+</b> Register Number</button>
    </div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-12">

        <div ng-show="!query.phone_number && (!numbersList || (numbersList && numbersList.length === 0))" class="jumbotron rc-no-items">
            <h1><i class="fa fa-globe"></i> </h1>
            <h2>No incoming numbers</h2>
            <h5>Register one now!</h5>
        </div>

        <div ng-show="query.phone_number && (!numbersList || (numbersList && numbersList.length === 0))" class="jumbotron rc-no-items">
            <h1><i class="fa fa-search"></i> </h1>
            <h2>No numbers found for "{{ query.phone_number }}"</h2>
            <h5>Please update your search and try again.</h5>
        </div>

        <table ng-show="(numbersList | filter:query).length > 0" class="table table-hover rc-list numbers-list" ng-cloak>
            <thead>
            <th class="numbers-list-number" rc-list-sort by="predicate" order="'phone_number'" reverse="reverse" update="getNumbersList()">Number</th>
            <th class="numbers-list-edit-icon hidden-xs">&nbsp;</th>
            <th class="numbers-list-friendly-name hidden-xs" rc-list-sort by="predicate" reverse="reverse" order="'friendly_name'" update="getNumbersList()">Name</th>
            <th class="numbers-list-features" >Features</th>
            <th class="numbers-list-delete-icon">&nbsp;</th>
            </thead>

            <tbody>
            <tr class="number-row" ng-repeat="pn in numbersList">
                <td class="numbers-list-number">
                    <div><a href="#/numbers/incoming/{{ pn.sid}}">{{ pn.phone_number }}</a></div>
                    <div class="visible-xs">{{ pn.friendly_name  }}</div>
                </td>
                <td class="numbers-list-edit-icon hidden-xs">
                    <h5><i class="fa fa-pencil clickable" ng-click="editingFriendlyName = pn.phone_number; $event.stopPropagation();"></i></h5>
                </td>
                <td class="numbers-list-friendly-name hidden-xs">
                    <div ng-hide="editingFriendlyName === pn.phone_number">{{ pn.friendly_name  }} </div>
                    <div ng-show="editingFriendlyName === pn.phone_number">
                        <input type="text" class="form-control rc-list-inplace-edit" onkeyup="if(event.keyCode === 13) {this.blur()}" ng-model="pn.friendly_name" ng-blur="editingFriendlyName = undefined; setFriendlyName(pn)" autofocus="editingFriendlyName === pn.phone_number" />
                    </div>
                </td>

                <td class="numbers-list-features">
                    <div ng-if="pn.voice_url.length > 0 || pn.voice_application_sid.length > 0" uib-tooltip="{{ pn.voice_application_name || pn.voice_url }}" tooltip-append-to-body="true">
                        <i class="fa fa-microphone"></i>
                    </div>
                    <div ng-show="pn.sms_url.length > 0 || pn.sms_application_sid.length > 0" uib-tooltip="{{ pn.sms_application_name || pn.sms_url }}" tooltip-append-to-body="true">
                        <i class="fa fa-comment"></i>
                    </div>
                    <div ng-show="pn.ussd_url.length > 0 || pn.ussd_application_sid.length > 0" uib-tooltip="{{ pn.ussd_application_name || pn.ussd_url }}" tooltip-append-to-body="true">
                        <i class="fa fa-sitemap"></i>
                    </div>
                    <div ng-show="pn.refer_url.length > 0 || pn.refer_application_sid.length > 0" uib-tooltip="{{ pn.refer_application_name || pn.refer_url }}" tooltip-append-to-body="true">
                        <i class="fa fa-retweet"></i>
                    </div>
                </td>
                <td class="numbers-list-delete-icon text-right">
                    <div class="btn-delete-div visible-xs"><i class="fa fa-chevron-right"></i></div>
                </td>
            </tr>
            </tbody>
             <tfoot>
                <td colspan="99">
                    <div class="row">
                        <div class="col-md-4">
                            <small class="rc-list-summary">{{ start }} to {{ end }} of {{ totalNumbers }} Number{{ totalNumbers == 1 ? "" : "s" }}</small>
                        </div>
                        <div class="col-md-4">
                            <form class="form-inline text-center">
                                <div class="btn-group buttons-per-page">
                                    <button type="button" class="btn btn-sm" ng-class="{'active':entryLimit === 10}" ng-click="setEntryLimit(10)">10</button>
                                    <button type="button" class="btn btn-sm" ng-class="{'active':entryLimit === 25}" ng-click="setEntryLimit(25)">25</button>
                                    <button type="button" class="btn btn-sm" ng-class="{'active':entryLimit === 50}" ng-click="setEntryLimit(50)">50</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <ul uib-pagination class="pagination pagination-sm pull-right" ng-change="pageChanged()" total-items="totalNumbers" items-per-page="entryLimit" ng-model="currentPage" data-boundary-links="true" data-current-page="currentPage" max-size="maxSize" previous-text="<" next-text=">" first-text="<<" last-text=">>"></ul>
                        </div>
                    </div>
                </td>
        </tfoot>
        </table>
    </div>
</div>