<rc-numbers-pills></rc-numbers-pills>

<rc-page-title icon="phone" title="{{ clientDetails.login }}" sub-title="{{ clientDetails.friendly_name }}"></rc-page-title>

<div class="well well-sm">
    <h3 class="text-muted details-header">Authentication</h3>
    <form class="form-inline">
    <fieldset class="">
        <div class="checkbox" style="font-size: 18px;">
            <label>
                <input type=checkbox ng-checked="clientDetails.status == 1">
                <strong>Account Enabled</strong>
            </label>
        </div>
        <span class="pull-right row form-group">
            <span class="col-md-5">
                <label for="client-login" class="col-md-3 account-details-field">
                    <h4>Login</h4>
                </label>
                <span class="col-md-2">
                    <input id="client-login" type="text" class="form-control" placeholder="Login" ng-model="clientDetails.login" readonly />
                </span>
            </span>
            <span class="col-md-5">
                <label for="client-password" class="col-md-5 account-details-field">
                    <h4>Password</h4>
                </label>
                <span class="col-md-2">
                    <input id="client-password" type="password" class="form-control" placeholder="Voice Request URL" ng-model="clientDetails.password" />
                </span>
            </span>
        </span>
    </fieldset>
    </form>
</div>
<div class="well well-sm">
    <h3 class="text-muted details-header">Voice</h3>
    <fieldset>
        <label class="pull-left" for="voice-url">
            <h4 class="account-detail-field-name">Voice Request URL</h4>
        </label>
        <span class="col-md-9 pull-right">
            <rc-endpoint-url method-var="clientDetails.voice_method" url-var="clientDetails.voice_url" apps="localApps"></rc-endpoint-url>
            
        </span>
    </fieldset>
    <br>
    <fieldset>
        <label class="pull-left" for="voice-fallback-url">
            <h4 class="account-detail-field-name">Voice Fallback URL</h4>
        </label>
        <span class="col-md-9 pull-right">
            <rc-endpoint-url method-var="clientDetails.voice_fallback_method" url-var="clientDetails.voice_fallback_url" apps="localApps"></rc-endpoint-url>
        </span>
    </fieldset>
    <br>
    <fieldset>
        <label class="pull-left" for="status-callback-url">
            <h4 class="account-detail-field-name">Status Callback URL</h4>
        </label>
        <span class="col-md-9 pull-right">
            <rc-endpoint-url method-var="clientDetails.status_callback_method" url-var="clientDetails.status_callback"></rc-endpoint-url>
        </span>
    </fieldset>
</div>
<!--div class="well well-sm"> Commented because Restcomm API, does not support SMS functionality for Users/Clients.
    <h3 class="text-muted details-header">SMS</h3>
    <fieldset>
        <label class="pull-left" for="sms-url">
            <h4 class="account-detail-field-name">SMS Request URL</h4>
        </label>
        <span class="col-md-9 pull-right">
            <rc-endpoint-url method-var="clientDetails.sms_method" url-var="clientDetails.sms_url"></rc-endpoint-url>
        </span>
    </fieldset>
    <br>
    <fieldset>
        <label class="pull-left" for="sms-fallback-url">
            <h4 class="account-detail-field-name">SMS Fallback URL</h4>
        </label>
        <span class="col-md-9 pull-right">
            <rc-endpoint-url method-var="clientDetails.sms_fallback_method" url-var="clientDetails.sms_fallback_url"></rc-endpoint-url>
        </span>
    </fieldset>
</div-->
<div class="">
    <button class="btn btn-primary" ng-click="updateSIPClient(clientDetails)">Save Changes</button>
    <a href="#/numbers/clients" class="btn">Close</a>
    <button class="btn btn-danger pull-right" ng-click="confirmClientDelete(clientDetails)">Delete Client</button>
</div>
