<!--<rc-numbers-pills></rc-numbers-pills>-->

<!--<rc-page-title icon="phone" title="{{ numberDetails.phone_number }}" sub-title="{{ numberDetails.friendly_name }}"></rc-page-title>-->

<h3>{{ numberDetails.phone_number }}<small>_{{ numberDetails.friendly_name }}</small></h3>

<h4 class="voice-sms-ussd">Voice</h4>
<div class="row number-infos-border">
    <div class="col-md-2">
        <h4 class="voice-video-ussd-request">Voice Request</h4>
    </div>
    <rc-endpoint-url details-loaded="numberDetails.$resolved" sid-var="numberDetails.voice_application_sid" url-only-var="false" method-var="numberDetails.voice_method" url-var="numberDetails.voice_url" apps="localVoiceApps"></rc-endpoint-url>
</div>
<div class="row number-infos-border-expand" ng-show="showVoiceAdvanced">
    <div class="col-md-2" style="padding-right: 0;">
        <h4 class="number-advanced-label">Voice Fallback URL</h4>
    </div>
    <div class="col-md-10">
        <input class="textbox-url-expand" type="text" placeholder="http://restcomm-demo.appspot.com/app/voice/welcome.xml" ng-model="numberDetails.voice_fallback_url">
        <select class="selectpicker-post-get" ng-model="numberDetails.voice_fallback_method">
            <option value="POST">POST</option>
            <option value="GET">GET</option>
        </select>
    </div>
    <div class="col-md-2" style="padding-right: 0;">
        <h4 class="number-advanced-label">Voice Callback URL</h4>
    </div>
    <div class="col-md-10">
        <input class="textbox-url-expand" type="text" placeholder="http://restcomm-demo.appspot.com/app/voice/welcome.xml" ng-model="numberDetails.status_callback_url">
        <select class="selectpicker-post-get" ng-model="numberDetails.status_callback_method">
            <option value="POST">POST</option>
            <option value="GET">GET</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-md-offset-10">
        <a href="" class="number-advanced-toggle" ng-click="showVoiceAdvanced = !showVoiceAdvanced"><span ng-show="showVoiceAdvanced">hide </span>advanced</a>
    </div>
</div>

<h4 class="voice-sms-ussd">SMS</h4>
<div class="row number-infos-border">
    <div class="col-md-2">
        <h4 class="voice-video-ussd-request">Voice Request</h4>
    </div>
    <rc-endpoint-url details-loaded="numberDetails.$resolved" sid-var="numberDetails.sms_application_sid" url-only-var="false" method-var="numberDetails.sms_method" url-var="numberDetails.sms_url" apps="localSmsApps"></rc-endpoint-url>
</div>
<div class="row number-infos-border-expand" ng-show="showSmsAdvanced">
    <div class="col-md-2" style="padding-right: 0;">
        <h4 class="number-advanced-label">SMS Fallback URL</h4>
    </div>
    <div class="col-md-10">
        <input class="textbox-url-expand" type="text" placeholder="http://restcomm-demo.appspot.com/app/voice/welcome.xml" ng-model="numberDetails.sms_fallback_url">
        <select class="selectpicker-post-get" ng-model="numberDetails.voice_fallback_method">
            <option value="POST">POST</option>
            <option value="GET">GET</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-md-offset-10">
        <a href="" class="number-advanced-toggle" ng-click="showSmsAdvanced = !showSmsAdvanced"><span ng-show="showSmsAdvanced">hide </span>advanced</a>
    </div>
</div>

<h4 class="voice-sms-ussd">USSD</h4>
<div class="row number-infos-border">
    <div class="col-md-2">
        <h4 class="voice-video-ussd-request">USSD Request</h4>
    </div>
    <rc-endpoint-url details-loaded="numberDetails.$resolved" sid-var="numberDetails.ussd_application_sid" url-only-var="false" method-var="numberDetails.ussd_method" url-var="numberDetails.ussd_url" apps="localUssdApps"></rc-endpoint-url>
</div>
<div class="row number-infos-border-expand" ng-show="showUssdAdvanced">
    <div class="col-md-2" style="padding-right: 0;">
        <h4 class="number-advanced-label">USSD Fallback URL</h4>
    </div>
    <div class="col-md-10">
        <input class="textbox-url-expand" type="text" placeholder="http://restcomm-demo.appspot.com/app/voice/welcome.xml" ng-model="numberDetails.ussd_fallback_url">
        <select class="selectpicker-post-get" ng-model="numberDetails.ussd_fallback_method">
            <option value="POST">POST</option>
            <option value="GET">GET</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-md-offset-10">
        <a href="" class="number-advanced-toggle" ng-click="showUssdAdvanced = !showUssdAdvanced"><span ng-show="showUssdAdvanced">hide </span>advanced</a>
    </div>
</div>


<!--
<div class="well well-sm">
    <h3 class="text-muted details-header">Voice</h3>
    <fieldset>
        <label class="pull-left" for="voice-url">
            <h4 class="account-detail-field-name">Voice Request</h4>
        </label>
        <span class="col-md-9 pull-right">
            <rc-endpoint-url details-loaded="numberDetails.$resolved" sid-var="numberDetails.voice_application_sid" url-only-var="false" method-var="numberDetails.voice_method" url-var="numberDetails.voice_url" apps="localVoiceApps"></rc-endpoint-url>
        </span>
    </fieldset>
    <br>
    <fieldset>
        <label class="pull-left" for="voice-fallback-url">
            <h4 class="account-detail-field-name">Voice Fallback URL</h4>
        </label>
        <span class="col-md-9 pull-right">
            <rc-endpoint-url details-loaded="numberDetails.$resolved" sid-var="" url-only-var="true" method-var="numberDetails.voice_fallback_method" url-var="numberDetails.voice_fallback_url" apps="localVoiceApps"></rc-endpoint-url>
        </span>
    </fieldset>
    <br>
    <fieldset>
        <label class="pull-left" for="status-callback-url">
            <h4 class="account-detail-field-name">Status Callback URL</h4>
        </label>
        <span class="col-md-9 pull-right">
            <rc-endpoint-url details-loaded="numberDetails.$resolved" sid-var="" url-only-var="true" method-var="numberDetails.status_callback_method" url-var="numberDetails.status_callback"></rc-endpoint-url>
        </span>
    </fieldset>
</div>
<div class="well well-sm">
    <h3 class="text-muted details-header">SMS</h3>
    <fieldset>
        <label class="pull-left" for="sms-url">
            <h4 class="account-detail-field-name">SMS Request</h4>
        </label>
        <span class="col-md-9 pull-right">
            <rc-endpoint-url details-loaded="numberDetails.$resolved" sid-var="numberDetails.sms_application_sid" url-only-var="false" method-var="numberDetails.sms_method" url-var="numberDetails.sms_url" apps="localSmsApps"></rc-endpoint-url>
        </span>
    </fieldset>
    <br>
    <fieldset>
        <label class="pull-left" for="sms-fallback-url">
            <h4 class="account-detail-field-name">SMS Fallback URL</h4>
        </label>
        <span class="col-md-9 pull-right">
            <rc-endpoint-url details-loaded="numberDetails.$resolved" sid-var="" url-only-var="true" method-var="numberDetails.sms_fallback_method" url-var="numberDetails.sms_fallback_url" apps="localSmsApps"></rc-endpoint-url>
        </span>
    </fieldset>
</div>

<div class="well well-sm">
    <h3 class="text-muted details-header">USSD</h3>
    <fieldset>
        <label class="pull-left" for="ussd-url">
            <h4 class="account-detail-field-name">USSD Request</h4>
        </label>
        <span class="col-md-9 pull-right">
            <rc-endpoint-url details-loaded="numberDetails.$resolved" sid-var="numberDetails.ussd_application_sid" url-only-var="false" method-var="numberDetails.ussd_method" url-var="numberDetails.ussd_url" apps="localUssdApps"></rc-endpoint-url>
        </span>
    </fieldset>
    <br>
    <fieldset>
        <label class="pull-left" for="ussd-fallback-url">
            <h4 class="account-detail-field-name">USSD Fallback URL</h4>
        </label>
        <span class="col-md-9 pull-right">
            <rc-endpoint-url sid-var="" url-only-var="true" method-var="numberDetails.ussd_fallback_method" url-var="numberDetails.ussd_fallback_url"></rc-endpoint-url>
        </span>
    </fieldset>
</div>

<div class="well well-sm">
    <h3 class="text-muted details-header">MISC</h3>
    <fieldset>
        <label class="checkbox pull-left">
            <input type=checkbox ng-model="numberDetails.voice_caller_id_lookup"><h4 class="no-top-margin inline">Caller ID Lookup <small><i class="fa fa-info-sign inline" uib-tooltip="Uses CNAM database lookup to find Caller ID"></i></small></h4>
        </label>
    </fieldset>
</div>
-->
<div class="row" style="margin: 20px 0;">
    <div class="col-md-4">
        <button class="number-details-btn release-number-btn" ng-click="confirmNumberDelete(numberDetails)">Release Number</button>
    </div>
    <div class="col-md-8">
        <span class="pull-right">
            <a href="#/numbers"><button class="number-details-btn close-btn">Close</button></a>
            <button class="number-details-btn save-changes-btn" ng-click="updateIncomingNumber(numberDetails)">Save Changes</button>
        </span>
    </div>
</div>
