<rc-page-title icon="user" title="PROFILE" sub-title="{{ account.friendly_name }}"></rc-page-title>

<div class="row">
    <div class="col-md-3">
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs" style="margin: 0; width: 100%;" >
                <li ng-repeat-start="acc in accounts" class="disabled" ng-show="$index == 1"><a>SUB ACCOUNTS</a></li>
                <li ng-repeat-end ng-class="acc.sid == account.sid ? 'active grey-tab' : ''"><a href="#/profile/{{acc.sid}}" ng-class="$first ? 'fa fa-link' : ''"> {{ acc.friendly_name }}</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-9" style="padding: 0;">
        <form name="profileForm" class="form-horizontal">
        <div class="well">
            <h3 class="text-muted details-header"><i class="fa fa-cog"></i> Account Settings</h3>
            <div class="form-group">
                <label class="col-md-4 control-label" for="account-sid">Account SID</label>
                <div class="col-md-8">
                    <input id="account-sid" type="text" class="form-control" placeholder="Account SID" ng-value="currentAccount.sid" readonly />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="date-created">
                    <h5 class="no-margins">Date Created/Updated</h5>
                </label>
                <div class="col-md-4">
                    <input id="date-created" type="text" class="form-control" placeholder="Date Created" ng-value="currentAccount.date_created|date:'EEE, d MMMM y, HH:mm:ss'" readonly />
                </div>
                <div class="col-md-4">
                    <input id="date-updated" type="text" class="form-control" placeholder="Date Updated" ng-value="currentAccount.date_updated|date:'EEE, d MMMM y, HH:mm:ss'" readonly />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="friendly-name">
                    <h5 class="no-margins">Friendly Name</h5>
                </label>
                <div class="col-md-8">
                    <input id="friendly-name" type="text" class="form-control" placeholder="Friendly Name" maxlength="64" ng-model="currentAccount.friendly_name" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':!profileForm.newPassword.$valid}">
                <label class="col-md-4 control-label" for="date-created">
                    <h5 class="no-margins">Password</h5>
                </label>
                <div class="col-md-4">
                    <style type="text/css">div.password-strength span { right: 20px !important; }</style>
                    <div ng-show="newPassword" class="col-md-12 password-strength" ng-password-strength="newPassword" style="padding: inherit;"></div>
                    <input id="newPassword" name="newPassword" type="password" class="form-control" ng-class="{'password-transparent' : newPassword}" placeholder="New Password" ng-model="newPassword" />
                </div>
                <div class="col-md-4">
                    <input id="passwordConfirmation" name="newPassword2" type="password" class="form-control" placeholder="Confirm New Password" ng-model="newPassword2" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="account-type">
                    <h5 class="no-margins">Type</h5>
                </label>
                <div class="col-md-2">
                    <select ng-model="currentAccount.type" id="account-type" class="form-control">
                        <option value="Trial">Trial</option>
                        <option value="Basic">Basic</option>
                        <option value="Full">Full</option>
                    </select>
                </div>
                <label class="col-md-2 control-label">
                    <h5 class="no-margins">Status</h5>
                </label>
                <div class="col-md-4">
                    <div class="btn-group" data-toggle="buttons-radio">
                        <button type="button" class="btn btn-success" ng-class="currentAccount.status == 'active' ? 'active' : 'opacity70'" ng-click="currentAccount.status = 'active'"><i class="fa fa-check-circle"></i> Active</button>
                        <button type="button" class="btn btn-danger" ng-class="currentAccount.status == 'suspended' ? 'active' : 'opacity70'" ng-click="currentAccount.status = 'suspended'"><i class="fa fa-exclamation-circle"></i> Suspended</button>
                    </div>
                </div>
            </div>
            <div class="row form-horizontal">
                <div class="col-md-12">
                    <alert type="alert.type" close="closeAlert()" ng-show="$parent.alert.show">{{alert.msg}}</alert>
                </div>
            </div>
        </div>
        </form>

        <div class="">
            <button class="btn btn-primary pull-right margin-left-10" ng-click="updateProfile()" ng-show="accountChanged" ng-disabled="(newPassword && pwdStrength < 50) || !accountValid">Save</button>
            <button class="btn btn-default pull-right margin-left-10" ng-click="resetChanges()" ng-show="accountChanged">Reset Changes</button>
            <button class="btn btn-danger pull-left disabled">Delete Account</button>
        </div>

    </div>
</div>
