<div class="row accounts-tabs-mobile visible-xs">
    <div class="col-xs-5 active"><a href="#/profile/{{sid}}">Main Account</a></div>
    <div class="col-xs-5 col-xs-offset-2"><a href="#/subaccounts">Sub Accounts</a></div>
</div>
<div class="row">
    <div class="col-md-2 accounts-tabs hidden-xs">
        <div class="active"><a href="#/profile/{{sid}}">Main Account</a></div>
        <div class=""><a href="#/subaccounts">Sub Accounts</a></div>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="account-logo">{{ urlAccount.friendly_name  | limitTo : 1 | uppercase }}</div>
                <div class="account-info">
                    <div class="account-name">{{ urlAccount.friendly_name }}</div>
                    <div class="account-type">Main Account</div>
                    <div class="account-status account-status-active">{{ urlAccount.status | uppercase }}</div>
                </div>
            </div>
        </div>
        <hr>
        <form name="profileForm" class="form-horizontal profile-form">
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12 account-field-title">Account SID</div>
                <div class="col-md-4 col-sm-4 col-xs-12 account-field-value">{{ urlAccount.sid }}</div>
                <div class="clearfix visible-xs">&nbsp;</div>
                <div class="col-md-2 col-sm-2 col-xs-12 account-field-title">Auth Token</div>
                <div class="col-md-4 col-sm-4 col-xs-12 account-field-value">
                    <input type="{{authTokenType}}" class="account-sid-auth-token-input" value="{{ loggedAccount.auth_token }}" readonly ng-init="authTokenType = 'password'">
                    <img src="resources/img/v2/d-r-pass-visible.png" class="auth-token-toggle" ng-click="authTokenType = (authTokenType === 'password' ? 'text' : 'password')">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12 account-field-title"><strong>Email Address</strong></div>
                <div class="col-md-4 col-sm-4 col-xs-12 account-field-value">{{ urlAccount.email_address }}</div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12 account-field-title"><strong>Account Type</strong></div>
                <div class="col-md-4 col-sm-4 col-xs-12 account-field-value">{{ urlAccount.type }}</div>
                <div class="clearfix visible-xs">&nbsp;</div>
                <div class="col-md-2 col-sm-2 col-xs-12 account-field-title"><strong>Role</strong></div>
                <div class="col-md-4 col-sm-4 col-xs-12 account-field-value">Administrator</div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12 account-field-title"><strong>Date Created</strong></div>
                <div class="col-md-4 col-sm-4 col-xs-12 account-field-value">{{ urlAccount.date_created }}</div>
                <div class="clearfix visible-xs">&nbsp;</div>
                <div class="col-md-2 col-sm-2 col-xs-12 account-field-title"><strong>Last Update</strong></div>
                <div class="col-md-4 col-sm-4 col-xs-12 account-field-value">{{ urlAccount.date_updated }}</div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12 account-field-title"><strong>Password</strong></div>
                <div class="col-md-4 col-sm-4 col-xs-12 account-field-value">
                    <input id="newPassword" name="newPassword" type="password" class="form-control" ng-class="{'password-transparent' : newPassword}" placeholder="New Password" ng-model="newPassword" />
                </div>
                <div class="clearfix visible-xs">&nbsp;</div>
                <div class="col-md-2 col-sm-2 col-xs-12 account-field-title"><strong>Confirm Password</strong></div>
                <div class="col-md-4 col-sm-4 col-xs-12 account-field-value">
                    <input id="passwordConfirmation" name="newPassword2" type="password" class="form-control" placeholder="Confirm New Password" ng-model="newPassword2" />
                </div>
            </div>
        </form>
        <div>
            <button class="btn btn-primary pull-right margin-left-10" ng-click="updateProfile()" ng-show="profileForm.$dirty" ng-disabled="(newPassword && pwdStrength < 50) || passwordsDiffer">Save</button>
            <button class="btn btn-default pull-right margin-left-10" ng-click="resetChanges()" ng-show="profileForm.$dirty">Reset Changes</button>
            <button class="btn sign-in-btn pull-left" ng-show="urlAccount.status != 'closed'" ng-disabled="loggedAccount.sid === urlAccount.sid" ng-click="closeAccount(urlAccount)">Close Account</button>
        </div>
    </div>
</div>