<div class="rappmanager">

	<rc-page-title icon="shopping-cart" title="Restcomm Apps" sub-title=""></rc-page-title>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				&nbsp;<a  class="pull-right" target="_blank" href="http://{{rappManagerConfig.rasHost}}/how-to/#import-application">Help</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<form ng-submit="searchTextClicked(filterText)">
				<div class="input-group">
					<input ng-model="filterText" type="text" class="form-control" placeholder="My app">
					<span class="input-group-btn">
						<button type="submit" class="filter btn btn-default" title="Search listed applications"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</form>
		</div>
		<div class="col-md-5">
			<div class="btn-group" role="group">
			  <button ng-click="setFilter('all',filterText)" type="button" ng-class="{'active': filter=='all'}" class="filter btn btn-default" title="Display all applications, either locally installed or available from RAS">All</button>
			  <button ng-click="setFilter('local',filterText)" type="button" ng-class="{'active': filter=='local'}" class="filter btn btn-default" title="Display applications created in this instance">Local</button>
			  <button ng-click="setFilter('imported',filterText)" type="button" ng-class="{'active': filter=='imported'}" class="filter btn btn-default" title="Display applications imported as packages from RAS or other means">Imported</button>
			  <button ng-click="setFilter('packaged',filterText)" type="button" ng-class="{'active': filter=='packaged'}" class="filter btn btn-default" title="Display packaged applications to be exported">Packaged</button>
			  <button ng-click="setFilter('ras',filterText)" type="button" ng-class="{'active': filter=='ras'}" class="filter btn btn-default" title="Display applications available from RAS">RAS</button>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<div class='drop-area' ng-file-drop="onFileSelect($files)"
					ng-file-drag-over-class="dropping" ng-show="dropSupported">
					<div class="drop-prompt">Drop packaged apps here</div>
				</div>
				<div ng-file-drop-available="dropSupported=true"
					ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
			</div>
		</div>
	</div>
	
	<div class="row rapp-list">
		<table class="table">
			<thead>
				<tr class="text-muted">
					<th class="title-col text-center clickable" ng-click="sortPredicate = switchOrder('title',sortPredicate)"><span class="hover-underline">Title</span> &nbsp;<i ng-show="sortPredicate=='title'" class="fa fa-sort-asc"></i><i ng-show="sortPredicate=='-title'" class="fa fa-sort-desc"></i></th>
					<th class="type-col text-center clickable" ng-click="sortPredicate = switchOrder('type',sortPredicate)"><span class="hover-underline">Type</span> &nbsp;<i ng-show="sortPredicate=='type'" class="fa fa-sort-asc"></i><i ng-show="sortPredicate=='-type'" class="fa fa-sort-desc"></i></th>
					<th class="status-col text-center clickable" ng-click="sortPredicate = switchOrder('status',sortPredicate)"><span class="hover-underline">Status</span>  &nbsp;<i ng-show="sortPredicate=='status'" class="fa fa-sort-asc"></i><i ng-show="sortPredicate=='-status'" class="fa fa-sort-desc"></i></th>
					<th class="categories-col">Categories</th>
					<th class="description-col">Description</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="app in filteredApps | orderBy:sortPredicate" class="rapp-item">
					<!-- Title -->
					<td class="title-col" ng-show="app.isOnline" class="rapp-title">
						<div class="rapp-title-cell">
							<a href="{{app.link}}" target="_blank"><img class="img-thumbnail thumbnail" src="{{app.thumbnail}}"></a>
							<div class="text-center app-title-wrap app-ras">
								<a ng-show="app.isLocal" href="/restcomm-rvd/#/designer/{{app.projectName}}" target="_blank" title="{{app.appId}}">{{app.title}}</a>
								<span ng-show="!app.isLocal">{{app.title}}</span>
							</div>
							<!--<div class="text-center text-muted" title="application unique id">{{app.appId}}</div>-->
						</div>
					</td>
					<td class="title-col" ng-show="!app.isOnline" class="status-col">
						<div class="text-center app-title-wrap">
							<a href="/restcomm-rvd/#/designer/{{app.projectName}}" target="_blank" title="{{app.appId}}">{{app.title}}</a>
						</div>
						<!--<div class="text-center text-muted">{{app.appId}}</div>-->
					</td>	
					
					<td class="status-col text-center text-muted">
						{{getTypeForApp(app)}}
					</td>
							
					
					<!-- Status -->
					<td class="app-status status-col text-center text-muted">
						<div>
						{{getStatusForApp(app)}}
						</div>
					</td>
					
					<!-- Categories -->
					<td class="categories-col">
						<span ng-show="app.isOnline" ng-repeat="(catid, category) in app.category" class="label label-default category-tag">{{category.name}}</span>
					</td>
					
					<!-- Summary -->
					<td class="description-col" ng-show="app.isOnline">
						<div class="rapp-summary-cell">
							{{app.description}}
						</div>
					</td>
					<td class="description-col" ng-show="!app.isOnline">{{app.description}}</td>
					
					<!-- Actions -->
					<td class="action-col">
						<a ng-show="app.isOnline && !app.isLocal" href="{{app.link}}" target="_blank" type="button" class="btn btn-primary">Get application</a>
						<a ng-show="app.isOnline && app.isLocal" href="{{app.link}}" target="_blank">View in AppStore</a>
						<div ng-show="app.hasPackaging || app.wasImported">
							<a href="#/ras/config/{{app.projectName}}{{(app.hasPackaging ? '/dev':'')}}" ng-class="{'ras-bold': (!app.hasBootstrap)}">Configure</a>
						</div>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="5">Displaying {{filteredApps.length}} applications</th>
				</tr>
			</tfoot>
		</table>
	</div>
	<div>
		
	</div>
</div>
