<div class="ras row">
	<div class="col-md-12">
		<h1 class="page-header">{{projectName}} <small>configuration</small><i class="fa fa-cog pull-right"></i></h1>
		<p class="lead">
			Adjust this application to your local environment.  
		</p>
		<div ng-show='shouldShowHowToConfigure()' class="how-to-configure" >
			<div ng-bind-html="rappConfig.howTo">
			</div>
			<div class="spacer10"></div>
		</div>
		<form name="optionsForm" novalidate>
			<h4>Parameters</h4>
			
			<p ng-show="!rappConfig.options.length" class="text-muted">
				<em>No parameters were defined for this app</em>
			</p>
			
			<div class="form-group" ng-repeat="option in rappConfig.options">
				<label>{{option.label}}</label><abbr title="RVD variable syntax"><code>${{option.name}}</code></abbr> <small ng-show="option.required" class="text-muted">(required)</small>
				<input ng-model="option.value" type="text" class="form-control" ng-required="option.required"> 
				
				<span class="help-block">{{option.description}}</span>
			</div>
		
			<br/>
			<div class="form-group">
				<button ng-disabled="!optionsForm.$valid" ng-click="enableConfiguration(rappConfig)" type="button" class="btn btn-primary">Apply configuration</button>
			</div>
			{{watchOptionFormValidity(optionsForm.$valid)}}
		</form>
		
		<div ng-show="needsBootstrapping(rappConfig, rapp)">
			<div class="spacer10"></div>
			<form target="_blank" method="POST" action="{{buildBackendBoostrapUrl(rappConfig, rapp)}}">
			<div>
				<h5 style="margin-top:20px"><strong>Web UI</strong></h5>
				<span class="help-block">You can access the application Web UI by clicking the button below. Make sure all required fields are set and configuration changes applied.</span>
			</div>
			<span class="help-block"></span>
				<input type="hidden" ng-repeat="option in rappConfig.options | filter:filterInitOptions" name="{{option.name}}" value="{{option.value}}">
				<div class="spacer10"></div>
				<button ng-disabled="!optionsFormValid" class="btn btn-primary" type="submit">Launch Web UI</button>
			</form>
		</div>
		
					
		<br/><br>
		<div class="form-group">
			Back to <a href="#/ras">Restcomm Apps</a>
		</div>
	</div>
</div>
