<div class="rappmanager">

	<rc-page-title icon="shopping-cart" title="Restcomm Apps" sub-title=""></rc-page-title>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				&nbsp;<a  class="pull-right" target="_blank" href="http://{{rappManagerConfig.rasHost}}/how-to/#import-application">Help</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="btn-group" role="group">
			  <button ng-click="setFilter('all')" type="button" class="btn btn-default">All</button>
			  <button ng-click="setFilter('local')" ype="button" class="btn btn-default">Local</button>
			  <button ng-click="setFilter('remote')" type="button" class="btn btn-default">Remote</button>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<div class='drop-area' ng-file-drop="onFileSelect($files)"
					ng-file-drag-over-class="dropping" ng-show="dropSupported">
					<div class="drop-prompt">Drop packaged apps here</div>
				</div>
				<div ng-file-drop-available="dropSupported=true"
					ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
			</div>
		</div>
	</div>
	
	<div class="row rapp-list">
		<table class="table">
			<thead>
				<tr class="text-muted">
					<th class="text-center">Title</th>
					<th>Status</th>
					<th>Categories</th>
					<th>Description</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="app in filteredApps" class="rapp-item">
					<!-- Title -->
					<td ng-show="app.isOnline" class="rapp-title">
						<div class="rapp-title-cell">
							<a href="{{app.link}}" target="_blank"><img class="img-thumbnail thumbnail" src="{{app.thumbnail}}"></a>
							<a href="{{app.link}}" target="_blank"><h4 class="text-center">{{app.title}}</h4></a>
							<div class="text-center text-muted" title="application unique id">{{app.appId}}</div>
						</div>
					</td>
					<td ng-show="!app.isOnline">
						<div class="text-center">{{app.title}}</div>
						<div class="text-center text-muted">{{app.appId}}</div>
					</td>			
					
					<!-- Status -->
					<td class="status-col">
						<div>
						status message
						</div>
					</td>
					
					<!-- Categories -->
					<td>
						<span ng-show="app.isOnline" ng-repeat="(catid, category) in app.category" class="label label-default category-tag">{{category.name}}</span>
					</td>
					
					<!-- Summary -->
					<td ng-show="app.isOnline">
						<div class="rapp-summary-cell">
							{{app.description}}
						</div>
					</td>
					<td ng-show="!app.isOnline">{{app.description}}</td>
					
					<!-- Actions -->
					<td class="action-col">
						<a ng-show="app.isOnline && !app.isLocal" href="{{app.link}}" target="_blank" type="button" class="btn btn-primary">Get application</a>
						<a ng-show="app.isOnline && app.isLocal" href="{{app.link}}" target="_blank">View in AppStore</a>
						<div ng-show="app.hasPackaging || app.wasImported">
							<a href="#/ras/config/{{app.projectName}}" ng-class="{'ras-bold': (!app.hasBootstrap)}">Configure</a>
						</div>
						<div ng-show="app.isLocal">
							<a href="/restcomm-rvd/#/designer/{{app.projectName}}" target="_blank">Design</a>
						</div>						
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="5">Displaying {{filteredApps.length}} applications</th>
				</tr>
			</tfoot>
		</table>
	</div>
	<div>
		
	</div>
</div>
