<div class="row accounts-tabs-mobile visible-sm visible-xs">
    <div class="col-xs-5"><a href="#/profile/{{sid}}"><i class="fa fa-user"></i></a></div>
    <div class="col-xs-5 col-xs-offset-2 active"><a href="#/subaccounts"><i class="fa fa-users"></i></a></div>
</div>

<div class="row">
    <div class="col-md-2 accounts-tabs hidden-sm hidden-xs">
        <div class=""><a href="#/profile/{{sid}}">Main Account</a></div>
        <div class="active"><a href="#/subaccounts">Sub Accounts</a></div>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-4 col-xs-6">
                <form class="search-form">
                    <i class="fa fa-search search-icon"></i>
                    <input name="q" type="text" size="40" placeholder="Search..." ng-model="search.friendly_name">
                </form>
            </div>
            <div  class="col-md-4 col-md-offset-4 col-xs-6">
                <button id="register-sub-account" class="rc-btn btn-primary pull-right hidden-xs" rc-fac="fac.SubAccountsLimit" ng-click="showRegisterAccountModal()"><b>+</b> New Account</button>
                <button id="register-sub-account-mobile" class="rc-btn btn-primary rc-btn-sm pull-right visible-xs" ng-click="showRegisterAccountModal()"><b>+</b> New Account</button>
            </div>
        </div>
        <hr>

        <div ng-hide="filtered.length > 0" class="jumbotron rc-no-items">
            <h1><i class="fa fa-users"></i> </h1>
            <h2>No Sub Accounts</h2>
            <h5>Why don't you get some friends in?</h5>
        </div>

        <table ng-show="(subAccountsList | filter:search).length > 0" class="table table-hover rc-list sub-accounts-list" ng-cloak>
            <thead>
            <th class="sub-accounts-list-name" rc-list-sort by="predicate" order="'friendly_name'" reverse="reverse">Name</th>
            <th class="sub-accounts-list-account-sid">Account SID</th>
            <th class="sub-accounts-list-role hidden-xs" rc-list-sort by="predicate" order="'role'" reverse="reverse">Role</th>
            <th class="sub-accounts-list-status" rc-list-sort by="predicate" order="'status'" reverse="reverse">Status</th>
            <th class="sub-accounts-list-action"></th>
            </thead>
            <tbody>
            <tr class="sub-accounts-row" ng-repeat="subAccount in filtered = (subAccountsList | filter:search | orderBy:predicate:reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit" ng-click="$root.goTo('/profile/' + subAccount.sid)">
                <td class="sub-accounts-list-name">
                    <div class="account-logo">{{ subAccount.friendly_name  | limitTo : 1 | uppercase }}</div>
                    <div class="fit-to-size"><a href="#/profile/{{subAccount.sid}}">{{ subAccount.friendly_name }}</a></div>
                    <small><small class="visible-xs">{{ subAccount.role }}</small></small>
                </td>
                <td class="sub-accounts-list-account-sid">
                    <div class="fit-to-size">{{ subAccount.sid }}</div>
                </td>
                <td class="sub-accounts-list-role hidden-xs">
                    <div class="fit-to-size">{{ subAccount.role }}</div>
                </td>
                <td class="sub-accounts-list-status">
                    <div class="account-status-{{ subAccount.status }}-text">{{ subAccount.status }}</div>
                </td>
                <td class="sub-accounts-list-action visible-xs">
                    <div><i class="fa fa-chevron-right"></i></div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <td colspan="4">
                <div class="row">
                    <div class="col-md-4">
                        <small class="rc-list-summary">{{ filtered.length }} Account{{ filtered.length == 1 ? "" : "s" }}</small>
                    </div>
                    <div class="col-md-4">
                        <form class="form-inline text-center">
                            <div class="btn-group buttons-per-page">
                                <button type="button" class="btn btn-sm" ng-class="{'active':entryLimit === 10}" ng-click="setEntryLimit(10)">10</button>
                                <button type="button" class="btn btn-sm" ng-class="{'active':entryLimit === 25}" ng-click="setEntryLimit(25)">25</button>
                                <button type="button" class="btn btn-sm" ng-class="{'active':entryLimit === 50}" ng-click="setEntryLimit(50)">50</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <ul uib-pagination class="pagination pagination-sm pull-right" ng-change="pageChanged()" total-items="filtered.length" items-per-page="entryLimit" ng-model="currentPage" data-boundary-links="true" data-current-page="currentPage" max-size="maxSize" previous-text="<" next-text=">" first-text="<<" last-text=">>"></ul>
                    </div>
                </div>
            </td>
            </tfoot>
        </table>
    </div>
</div>