<rc-page-title icon="user" title="SubAccounts" sub-title=""></rc-page-title>
<div class="row">
    <div class="col-md-12">
        <div ng-show="subAccountsList.length > 0"
			class="record-filter-div pull-right">
            <form class="form-horizontal" role="form">
                <!--<div class="form-inline">-->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon">Sid</span>
                            <input type="text"
								class="input-sm form-control" placeholder="Sid"
								ng-model="search.sid" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon">Name</span>
                            <input type="text"
								class="input-sm form-control" placeholder="Friendly Name"
								ng-model="search.friendly_name" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon">Role</span>
                            <input type="text"
								class="input-sm form-control" placeholder="Role"
								ng-model="search.role" />
                        </div>
                    </div>
                </div>
                <button class="btn btn-default hidden" disabled>
                    <i class="fa fa-filter"></i> Filter
				
                </button>
            </form>
        </div>
        <table
			ng-show="(subAccountsList | orderBy:predicate:reverse | filter:search| filter:paginate).length > 0"
			class="table table-striped table-hover" ng-cloak>
            <thead>
                <th class="width-5pc"
					style="border-bottom: 3px solid #428bca; text-align: center;">SID
                    <span
					class="pull-right">
                        <button
							style="border-style: solid; border-color: #DCDCDC; border-width: 0px; background-color: #fff;"
							ng-click="order('sid')" ;toggleD=!toggleD;reverse=toggleD">
                            <i
								ng-class="{'fa fa-chevron-up':toggleD,'fa fa-chevron-down':!toggleD}"></i>
                        </button>
                    </span>
                </th>
                <th class="width-5pc"
					style="border-bottom: 3px solid #428bca; text-align: center;">FRIENDLY
					NAME
                    <span class="pull-right">
                        <button
							style="border-style: solid; border-color: #DCDCDC; border-width: 0px; background-color: #fff;"
							ng-click="order('friendly_name')"
							;toggleD=!toggleD;reverse=toggleD">
                            <i
								ng-class="{'fa fa-chevron-up':toggleD,'fa fa-chevron-down':!toggleD}"></i>
                        </button>
                    </span>
                </th>
                <th class="width-10pc"
					style="border-bottom: 3px solid #428bca; text-align: center;">ROLE
                    <span
					class="pull-right">
                        <button
							style="border-style: solid; border-color: #DCDCDC; border-width: 0px; background-color: #fff;"
							ng-click="order('role')" ;toggleD=!toggleD;reverse=toggleD">
                            <i
								ng-class="{'fa fa-chevron-up':toggleD,'fa fa-chevron-down':!toggleD}"></i>
                        </button>
                    </span>
                </th>
            </thead>
            <tbody>
                <tr ng-hide="subAccount.sid == sid"
					ng-repeat="subAccount in filtered = (subAccountsList | filter:search | orderBy:predicate:reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                    <td>
                        <div class="text-center"><a href="#/profile/{{subAccount.sid}}">{{ subAccount.sid }}</a></div>
                    </td>
                    <td>
                        <div class="text-center"
							title="{{ notification.message_text }}">{{
							subAccount.friendly_name}}</div>
                    </td>
                    <td>
                        <div class="text-center"
							title="{{ notification.message_text }}">{{
							subAccount.role}}</div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <td colspan=1>
                    <small class="pull-left">{{filtered.length}} Account{{ filtered.length == 1 ? "" : "s" }}</small>
                </td>
                <td colspan=1>
                    <form class="form-inline text-center">
                        <h6>Items / Page</h6>
                        <div class="btn-group buttons-per-page"
							data-toggle="buttons-radio">
                            <button type="button" class="btn btn-default btn-sm"
								ng-class="entryLimit == 10 ? 'active' : ''"
								ng-click="setEntryLimit(10)">10</button>
                            <button type="button" class="btn btn-default btn-sm"
								ng-class="entryLimit == 25 ? 'active' : ''"
								ng-click="setEntryLimit(25)">25</button>
                            <button type="button" class="btn btn-default btn-sm"
								ng-class="entryLimit == 50 ? 'active' : ''"
								ng-click="setEntryLimit(50)">50</button>
                        </div>
                    </form>
                </td>
                <td colspan=1>
                    <uib-pagination total-items="totalItems"
						ng-model="currentPage" max-size="maxSize" boundary-links="true"
						items-per-page="entryLimit"
						class="pagination pagination-sm pull-right"></uib-pagination>
                </td>
            </tfoot>
        </table>
        <div ng-hide="(subAccountsList | filter:search).length > 0"
			class="jumbotron no-records-alert">
            <h2>
                <i class="fa fa-exclamation-circle"></i> No Account
                <span
					ng-show="subAccountsList.length == 0"></span>
                <span
					ng-show="subAccountsList.length > 0"> matching query</span>. 
                <small></small>
            </h2>
        </div>
    </div>
</div>