<div class="row accounts-tabs-mobile visible-xs">
    <div class="col-xs-5"><a href="#/profile/{{sid}}"><i class="fa fa-user"></i></a></div>
    <div class="col-xs-5 col-xs-offset-2 active"><a href="#/subaccounts"><i class="fa fa-users"></i></a></div>
</div>

<div class="row">
    <div class="col-md-2 accounts-tabs hidden-xs">
        <div class=""><a href="#/profile/{{sid}}">Main Account</a></div>
        <div class="active"><a href="#/subaccounts">Sub Accounts</a></div>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-4 col-xs-6">
                <form class="search-form">
                    <img class="search-icon" src="resources/img/v2/search-icon.png">
                    <input name="q" type="text" size="40" placeholder="Search..." ng-model="query.phone_number">
                </form>
            </div>
            <div  class="col-md-4 col-md-offset-4 col-xs-6">
                <button class="rc-btn pull-right hidden-xs" ng-click="showRegisterAccountModal()"><b>+</b> New Account</button>
                <button class="rc-btn rc-btn-sm pull-right visible-xs" ng-click="showRegisterAccountModal()"><b>+</b> New Account</button>
            </div>
        </div>
        <hr>
        <div class="row visible-md visible-lg" ng-show="filtered.length > 0">
            <div class="col-md-2 col-md-offset-1">
                <strong>Name</strong>
            </div>
            <div class="col-md-4">
                <strong>Account SID</strong>
            </div>
            <div class="col-md-2">
                <strong>Role</strong>
            </div>
            <div class="col-md-3">
                <strong>Status</strong>
            </div>
        </div>

        <div>&nbsp;</div>

        <div ng-hide="filtered.length > 0" class="jumbotron rc-no-items">
            <h1><i class="fa fa-users"></i> </h1>
            <h2>No Sub Accounts</h2>
            <h5>Why don't you get some friends in?</h5>
        </div>

        <div class="row sub-accounts-row" ng-repeat="subAccount in filtered = (subAccountsList | filter:search | orderBy:predicate:reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit" ng-click="$root.goTo('/profile/' + subAccount.sid)">
            <div class="col-md-3 col-xs-6">
                <div class="account-logo">{{ subAccount.friendly_name  | limitTo : 1 }}</div>
                <div class="fit-to-size"><a href="#/profile/{{subAccount.sid}}">{{ subAccount.friendly_name }}</a></div>
                <div class="visible-xs sub-account-role-mobile">Administrator</div>
            </div>
            <div class="col-md-4 col-xs-3">
                <div class="fit-to-size">{{ subAccount.sid }}</div>
            </div>
            <div class="col-md-2 hidden-xs hidden-sm">
                <div class="fit-to-size">{{ subAccount.role || "Administrator" }}</div>
            </div>
            <div class="col-md-3 col-xs-2">
                <div class="account-status-active-text">{{ subAccount.status }}</div>
            </div>
            <div class="col-md-3 col-xs-1 visible-xs">
                <div><i class="fa fa-chevron-right"></i></div>
            </div>
        </div>
    </div>
</div>