<div class="row">
     <div class="col-md-8 col-md-offset-2 well well-large">
        <legend>Update Password</legend>
        <form name="updatePassForm" class="form-horizontal" ng-submit="update()">
            <div class="row">
                <div class="control-group text-center col-md-8 col-md-offset-2">
                    <i class="fa fa-warning fa-3x"></i>
                    <h4>Hello <em>{{userName}}</em>, since this is the first time logging in to RestComm, you are required to update your password.</h4>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-4 col-xs-12 account-field-title">
                    <label class="control-label" for="newPassword">New Password</label>
                </div>
                <div class="col-md-6 col-xs-12 account-field-value">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i> </span>
                        <div class="password-in-modal">
                            <input id="newPassword" type="password" class="col-md-3 form-control" ng-class="{'password-transparent' : newPassword}" placeholder="Password" ng-model="newPassword" required />
                            <div class="password-strength" ng-password-strength="newPassword" strength="pwdStrength" css-mode="bootstrap" inner-class="progress-bar" inner-class-prefix="progress-bar-">
                                <uib-progressbar value="pwdStrength"></uib-progressbar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-4 col-xs-12 account-field-title">
                    <label class="control-label" for="confPassword">Confirm Password</label>
                </div>
                <div class="col-md-6 col-xs-12 account-field-value">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i> </span>
                        <input id="confPassword" type="password" class="col-md-3 form-control" placeholder="Confirm Password" ng-model="confPassword" ng-disabled="pwdStrength < 50" required password-match="newPassword" />
                    </div>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-danger" ng-disabled="pwdStrength < 50 || updatePassForm.$invalid">Update</button>
                </div>
            </div>
            <div>
                <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
            </div>
        </form>
    </div>
</div>
