<div class="row">
    <div class="text-center"><img src="resources/img/restcomm-logo.png" />&nbsp;&nbsp;&nbsp;<img src="resources/img/restcomm-letters.png" /><hr></div>
</div>
<div class="row">
     <div class="col-md-8 col-md-offset-2 well well-large">
        <legend>Update Password</legend>
        <form name="updatePassForm" class="form-horizontal" ng-submit="update()">
            <div class="control-group text-center">
                <i class="fa fa-warning fa-3x"></i>
                <h4>Hello <em>{{credentials.sid}}</em>, since this is the first time logging in to RestComm, you are required to update your password.</h4>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="oldPassword">Old Password</label>
                <div class="controls">
                    <div class="input-group col-md-6">
                        <span class="input-group-addon"><i class="fa fa-lock"></i> </span>
                        <div style="position:relative">
                            <input id="oldPassword" type="password" class="col-md-3 form-control" placeholder="Old Password" ng-model="oldPassword" required/>
                        </div>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="newPassword">New Password</label>
                <div class="controls">
                    <div class="input-group col-md-6">
                        <span class="input-group-addon"><i class="fa fa-lock"></i> </span>
                        <div style="position:relative">
                            <input id="newPassword" type="password" class="col-md-3 form-control" ng-class="{'password-transparent' : newPassword}" placeholder="Password" ng-model="newPassword" required />
                            <div class="password-strength" ng-password-strength="newPassword" strength="pwdStrength" css-mode="bootstrap" inner-class="progress-bar" inner-class-prefix="progress-bar-" style="padding: inherit;">
                                <uib-progressbar value="pwdStrength"></uib-progressbar>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="confPassword">Confirm Password</label>
                <div class="controls">
                    <div class="input-group col-md-6">
                        <span class="input-group-addon"><i class="fa fa-lock" style="z-index: 100;"></i> </span><input id="confPassword" type="password" class="col-md-3 form-control" placeholder="Confirm Password" ng-model="confPassword" ng-disabled="pwdStrength < 50" required password-match="newPassword" />
                    </div>
                </div>
            </div>

            <!--
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="newPassword">Password Strength</label>
                            <div class="controls">
                                <div class="col-md-6 password-strength" ng-password-strength="newPassword"></div>
                            </div>
                        </div>
            -->

            <div class="control-group">
                <div class="controls pull-right">
                    <button class="btn btn-danger" ng-disabled="pwdStrength < 50 || updatePassForm.$invalid">Update</button>
                </div>
            </div>
            <div>
                <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
            </div>
        </form>
    </div>
</div>
