<div class="rvd-packaging-download">
		
	<h3>{{'downloadApplicationPackageLabel' | translate}} {{projectName}}</h3>
	<p ng-hide="binaryInfo.exists">
		{{'downloadNotAvailableLabel' | translate}}
	</p>
	<p ng-show="binaryInfo.exists">
		{{'downloadIsAvailableLabel1' | translate}} <a ng-click='download(applicationSid,projectName)' href>{{'downloadIsAvailableLabel2' | translate}}</a> {{'downloadIsAvailableLabel3' | translate}}
	</p>
	<p>{{'downloadContinueLabel1' | translate}} <a href="#/designer/{{applicationSid}}={{projectName}}">{{'downloadContinueLabel2' | translate}}</a>, <a href="#/packaging/{{applicationSid}}={{projectName}}">{{'downloadContinueLabel3' | translate}}</a> {{'downloadContinueLabel4' | translate}} <a href="#/home">{{'downloadContinueLabel5' | translate}}</a></p>

</div>
