<div class="rvd-packaging">
		<div class="form-group">
			<h1 class="page-header">{{projectName}} 
				<small>packaging</small>  
				<i class="fa fa-archive pull-right"></i>  
				<small  class="pull-right packaging-menu"> 
					 <a class="rvd-clickable" href='#/designer/{{projectName}}'><i class="fa fa-pencil" title="keep editing in Designer"></i></a>&nbsp;
					 <a ng-class="{'rvd-grey':!submitPermitted, 'rvd-clickable':submitPermitted}" ng-click='submitPermitted && saveRapp(projectName,rapp)'><i class="fa fa-save" title="save current package configuration"></i></a>&nbsp;  
					 <a ng-show="!isNewRapp" class="rvd-clickable" ng-disabled="true" ng-click='preparePackage(projectName)'><i class="fa fa-download" title="download package"></i></a> 
					 <i ng-show="isNewRapp" class="fa fa-download" title="save package first to enable downloading"></i>
				</small>
			</h1>
			
			<p class="lead">
				Create a package from your application to submit it to the <a target="_blank" href="http://{{effectiveSettings.appStoreDomain}}">Restcomm Application Store</a>
			</p>
			<p> 
				Provide configuration options for plugging this application into the customer's environment.
			</p>
			
			<form name="packagingForm">
<!-- 
				<div class="rvd-appinfo" name="appinfoForm">
					<h3>General information</h3>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label><strong>Application name</strong></label>
								<input ng-model='rapp.info.name' class='form-control' name="name" required>
								<div class="validation-error" ng-show="appinfoForm.name.$invalid && showErrors">Required</div>
								<span class="help-block">Official application name for the app store</span>
							</div>
	
							<div class="rvd-appversion">
								<label><strong>Version</strong></label>
								<select ng-model='rapp.info.appVersion' class="form-control" required>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
								</select>
								<span class="help-block">The version of your application</span>
							</div>
						</div>
						<div class="col-md-8">
							<label><strong>Summary</strong></label>
							<textarea ng-model='rapp.info.description' class='form-control' required></textarea>
							<span class="help-block">Describe your application. A small text of 40-60 words is optimal.</span>
						</div>
					</div>
				</div>
 -->				
				
				<div class="rvd-appconfig">
				<h3>Configuration</h3>
				
				<label>How to</label>
				<textarea ng-model='rapp.config.howTo' class="form-control"></textarea>
				<span class="help-block">Type a small text describing general configuration guidelines</span>
				
				<h4>Options</h4>
				<span class="help-block">Customize you app by adding options. Add an option for any piece of information you need to be adjusted by the end user. Users of this application will have the opportunity to fill in these options in order to customize their installation.</span>
				
				<div basic-sortable list-model='rapp.config.options'>
					<div ng-repeat="configOption in rapp.config.options" class='form-group'>
						<rvd-panel on-close='removeConfigurationOption(configOption)'>
							<div class="row">
								<div class="form-group col-md-3">
									<label tooltip-popup-delay="1000" tooltip-trigger="mouseenter" tooltip="An identifier for this option. It will be used to map this option to an RVD variable">Name *</label>
									<input ng-model='configOption.name' class="form-control" ng-pattern="/^[A-Za-z]+[A-Za-z0-9_]*$/" required placeholder="{{$index==0 ? 'welcomeMsg' : ''}}">
								</div>
								<div class="form-group col-md-3">
									<label tooltip-popup-delay="1000" tooltip-trigger="mouseenter" tooltip="A label for the generated option field. Try to choose an appropriate label.">Label *</label>
									<input ng-model='configOption.label' class="form-control" required placeholder="{{$index==0 ? 'Welcome Message' : ''}}">
								</div>	
								<div class="form-group col-md-3">
									<label tooltip-popup-delay="1000" tooltip-trigger="mouseenter" tooltip="Type an optional default value for the field. It will be pre-filled with it.">Default value</label>
									<input ng-model='configOption.defaultValue' class="form-control" placeholder="{{$index==0 ? 'Welcome to the IVR clinic. Nice to see you.' : ''}}">
								</div>	
								<div class="form-group col-md-3">
									<label tooltip-popup-delay="1000" tooltip-trigger="mouseenter" tooltip="Is this field required ?  Your application should handle absence of this field properly.">Required</label>
									<div>
										<input type='checkbox' ng-model='configOption.required'>
									</div>
								</div>									
							</div>
							<div class="row">
								<div class="form-group col-md-6">
									<label tooltip-popup-delay="1000" tooltip-trigger="mouseenter" tooltip="Describe what this field is used for and how it should be completed">Description *</label>
									<textarea ng-model='configOption.description' class="form-control" required placeholder="{{$index==0 ? 'This is the first message you callers hear. Welcome them and inform them what comes next.' : ''}}"></textarea>
								</div>
						</div>				
						</rvd-panel>
					</div>
				</div>
				
			</div>
				{{watchFormStatus(packagingForm.$valid)}}
			</form>
		</div>

		<multibutton ng-click='addConfigurationOption(selectedOption)' options="['Add value']" button-class="btn-primary"></multibutton>
		
	<!-- </div> -->


</div>
