<div class="rvd-packaging">
	<div class="form-group">
		<h1 class="page-header" title="{{applicationSid}}">{{projectName}}
			<small>{{'formPackingLabel' | translate}}</small>
			<i class="fa fa-archive pull-right"></i>
			<small  class="pull-right packaging-menu">
				<a class="rvd-clickable" href='#/designer/{{applicationSid}}={{projectName}}'><i class="fa fa-pencil" title="{{'formKeepEditingTitle' | translate}}"></i></a>&nbsp;
				<a ng-class="{'rvd-grey':!submitPermitted, 'rvd-clickable':submitPermitted}" ng-click='saveRappClicked(applicationSid,rapp,submitPermitted)'><i class="fa fa-save" title="{{(submitPermitted ? 'formSaveTitle' : 'formSaveCompleteRequiredHint') | translate}}"></i></a>&nbsp;
				<a ng-show="!isNewRapp" class="rvd-clickable" ng-disabled="true" ng-click='preparePackage(applicationSid, projectName)'><i class="fa fa-download" title="{{'formDownloadTitle' | translate}}"></i></a>
				<i ng-show="isNewRapp" class="fa fa-download" title="{{'formDownloadNewTitle' | translate}}"></i>
			</small>
		</h1>

		<p class="lead">
			{{'formPackageAppLabel1' | translate}} <a target="_blank" href="http://{{effectiveSettings.appStoreDomain}}">{{'formPackageAppLabel2' | translate}}</a>
		</p>
		<p>
			{{'formProvideConfigurationLabel' | translate}}
		</p>

		<form name="packagingForm" novalidate>
			<div class="rvd-appinfo" name="appinfoForm">
				<h3>{{'formGeneralInfoLabel' | translate}}</h3>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label><strong>{{'formAppNameLabel' | translate}} *</strong></label>
							<input ng-model='rapp.info.name' class='form-control' name="name" required>
							<div class="validation-error" ng-show="appinfoForm.name.$invalid && showErrors">{{'formGeneralInfoRequiredLabel' | translate}}</div>
							<span class="help-block">{{'formOfficialNameLabel' | translate}}</span>
						</div>

						<div class="rvd-appversion">
							<label><strong>{{'formVersionLabel' | translate}}</strong></label>
							<input type="text" ng-model="rapp.info.appVersion" class="form-control">
							<span class="help-block">{{'formVersionHelp' | translate}}</span>
						</div>
					</div>
					<div class="col-md-8">
						<label><strong>{{'formSummaryLabel' | translate}} *</strong></label>
						<textarea ng-model='rapp.info.description' class='form-control' required></textarea>
						<span class="help-block">{{'formDescribeAppLabel' | translate}}</span>
					</div>
				</div>
			</div>
			<!-- -->

			<div class="rvd-appconfig">
				<h3>{{'formConfigurarionLabel' | translate}}</h3>

				<label>{{'formHowToLabel' | translate}}</label>
				<textarea ng-model='rapp.config.howTo' class="form-control"></textarea>
				<span class="help-block">{{'formHowToHelp' | translate}}</span>

				<label>{{'formConfigurationProvisioningUrlLabel'|translate}}</label>
				<input ng-model="rapp.config.provisioningUrl" type="text" class="form-control">
				<span class="help-block">{{'formConfigurationProvisioningUrlHelp1' | translate}} <a href="http://{{effectiveSettings.appStoreDomain}}/application-provisioning-api-spec" target="_blank">{{'formConfigurationProvisioningUrlHelp2' | translate}}</a> {{'formConfigurationProvisioningUrlHelp3' | translate}}</span>

				<label>{{'formConfigurationWebUILabel' | translate}}</label>
				<input ng-model="rapp.config.bootstrapUrl" type="text" class="form-control">
				<span class="help-block">{{'formConfigurationWebUIHelp' | translate}} </span>


				<div class="rvd-spacer10">&nbsp;</div>
				<h4>{{'formAppParametersLabel' | translate}}</h4>
				<span class="help-block">{{'formAppParametersHelp' | translate}}</span>

				<div basic-sortable list-model='rapp.config.options'>
					<div ng-repeat="configOption in rapp.config.options" class='form-group'>
						<rvd-panel on-close='removeConfigurationOption(configOption)' panel-title="configOption.label">
							<div class="row">
								<div class="form-group col-md-3">
									<label >{{'formNameLabel' | translate}}</label>
									<input ng-model='configOption.name' class="form-control" ng-pattern="/^[A-Za-z]+[A-Za-z0-9_]*$/" required placeholder="{{$index==0 ? 'formNamePlaceholder' : '' | translate}}" tooltip-popup-delay="1000" tooltip-trigger="mouseenter" tooltip="{{'formNameTooltip' | translate}}">
								</div>
								<div class="form-group col-md-3">
									<label>{{'formLabelLabel' | translate}}</label>
									<input ng-model='configOption.label' class="form-control" required placeholder="{{$index==0 ? 'formLabelPlaceholder' : '' | translate}}"  tooltip-popup-delay="1000" tooltip-trigger="mouseenter" tooltip="{{'formLabelTooltip' | translate}}">
								</div>
								<div class="form-group col-md-3">
									<label>{{'formDefaultValueLabel' | translate}}</label>
									<input ng-model='configOption.defaultValue' class="form-control" placeholder="{{$index==0 ? 'formDefaultValuePlaceholder' : '' | translate}}"  tooltip-popup-delay="1000" tooltip-trigger="mouseenter" tooltip="{{'formDefaultValueTooltip' | translate}}">
								</div>
								<div class="form-group col-md-3">
									<label>{{'formAppParamsRequiredLabel' | translate}}</label>
									<div>
										<input type='checkbox' ng-model='configOption.required'  tooltip-popup-delay="1000" tooltip-trigger="mouseenter" tooltip="{{'formAppParamsRequiredTooltip' | translate}}">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-6">
									<label>Description *</label>
									<textarea ng-model='configOption.description' class="form-control" required placeholder="{{$index==0 ? 'formDescriptionPlaceholder' : '' | translate}}"  tooltip-popup-delay="1000" tooltip-trigger="mouseenter" tooltip="{{'formDescriptionTooltip' | translate}}"></textarea>
								</div>
								<div class="form-group col-md-6">
									<label>{{'formConfigurationInitOptionLabel' | translate}}</label>
									<div>
										<input type='checkbox' ng-model='configOption.isInitOption'  placeholder='true' tooltip-popup-delay="1000" tooltip-trigger="mouseenter" tooltip="{{'formConfigurationInitOptionTooltip' | translate}} ">
									</div>
								</div>
							</div>
						</rvd-panel>
					</div>
				</div>

				<button class="btn btn-primary" ng-click="addConfigurationOption('value')">{{'formAddParameterButton' | translate}}</button>

				<div class="rvd-spacer10">&nbsp;</div>

			</div>
			{{watchFormStatus(packagingForm.$valid)}}
		</form>
	</div>

	<!-- </div> -->


</div>
