<!--
 Telestax, Open Source Cloud Communications
 Copyright 2013, Telestax, Inc. and individual contributors
 by the @authors tag. See the copyright.txt in the distribution for a
 full listing of individual contributors.
 
 This is free software; you can redistribute it and/or modify it
 under the terms of the GNU Lesser General Public License as
 published by the Free Software Foundation; either version 2.1 of
 the License, or (at your option) any later version.
 
 This software is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 Lesser General Public License for more details.
 
 You should have received a copy of the GNU Lesser General Public
 License along with this software; if not, write to the Free
 Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 02110-1301 USA, or see the FSF site: http://www.fsf.org.
-->
<div class="dashboard">
	<div class="dashboard-main-menu-bar">
		<div class="dashboard-main-menu-panel">
			<div class="dashboard-main-menu-item"><a class="dashboard-main-menu-item-selected">Dashboard</a></div>
			<div class="dashboard-main-menu-item"><a class="dashboard-main-menu-item" href="#/user/account/phone-numbers/incoming">Numbers</a></div>
			<div class="dashboard-main-menu-item"><a class="dashboard-main-menu-item" href="#/user/account/log/calls">Logs</a></div>
			<div class="dashboard-main-menu-item"><img class="dashboard-busy-indicator" src="images/spinner.gif" /></div>
			<div class="dashboard-main-menu-help"><a class="dashboard-main-menu-help" href="https://mobicents.ci.cloudbees.com/job/RestComm/lastSuccessfulBuild/artifact/restcomm.docs/jdocbook-mobicents/target/docbook/publish/en-US/html_single/index.html" target="_blank">Help</a></div>
			<div style="clear:both;margin-top:-1px;height:1px;overflow:hidden;"></div>
		</div>
	</div>
	
</div>