.dropdown-menu.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    right: 0;
    left: inherit;
}

.ng-invalid {
	/*background-color: #0ff;*/
}

.separator {
	min-height: 60px;
	margin-bottom: 5px;
	margin-top: 5px;
	color: #BBBBBB;
}

.separator-active {
	background-color: #D9EDF7;
	/*height: 20px;*/
}


label {
	font-weight: normal;
}

.ng-invalid.form-control:focus {
	border-color: rgba(255, 0, 0, 0.6);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 0, 0, 0.6)
}

.ng-invalid.form-control.warn-unfocused {
	border-color: rgba(255, 0, 0, 0.6);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 0, 0, 0.6)
}

.validation-error, .error-message {
	font-size: 85%;
	color: rgba(255, 0, 0, 0.6);
	font-style: italic;
}

.error-message {
	font-size: 85%;
	color: #FBA01B;
	font-style: italic;
}

.validation-warning {
	font-size: 85%;
	color: #EDB859;
}


.navbar-rvd-centered {
	float: none;
	text-align: center;
}

.rvd-clickable {
	cursor: pointer;
	opacity: 0.6
}

.rvd-clickable-text {
	cursor: pointer;
}
.rvd-clickable-text:hover {
	opacity: 1.0;
}

.rvd-pickable {
	cursor: move;
}

.rvd-clickable:hover {
	opacity: 1.0;
}

.rvd-handle {
	cursor: move;
}

.project-list {
	list-style-type: none;
}

.rvd-active {
	color: rgb(66, 139, 202);
	opacity: 1.0;
}

.rvd-appurl:hover {
	text-decoration: underline;
}


.say-language-dropdown {
	max-width: 250px;
}

.say-step .language {
	width: 250px;
	margin-right: 20px;
}

.say-step .voice {
	margin-right: 20px;
}

.say-step .loop, .play-step .loop {
	width: 250px;
}

.step-warning-icon {
	margin-left: 10px;
	color: orange;
}

/* control-step styling */

.step.control-step .conditions {
    border-right-width: 1px;
    border-right-style: inset;
}
.control-step .condition, .control-step .action{
    margin-bottom: 10px;
}
.control-step .action .reorder-buttons {
    margin-right: 5px;
}
.control-step .trailing-buttons-wrap {
    text-align: right;
}
.control-step .action-capture .form-group.regex-field, .control-step .action-capture .form-group.data-field {
    width: 49%;
}
.control-step .condition .type-chooser {
    margin-left: 5px;
}

/* record-step styling */

/* 'fok stands for finish-on-key */
.fok .form-group {
    margin-bottom: 15px;
}
.fok .fok-mode.form-group {
    width: 50%;
}


/* variable definition */

vardef .vardef {
    position: relative;
}
vardef .dropdown {
    position: absolute;
    top: 7px;
    right: 10px;
}

vardef .vardef-input {
    padding-right: 50px;
    padding-left: 25px;
}

vardef .assign-arrow {
    position: absolute;
    top: 11px;
    left: 8px;
}

/* type-chooser */
.type-chooser .chosen-label {
    color: #999;
}



/* override jquery-ui colors since theme-roller never responded */
/*
.ui-widget-header {
	background: none;
	background-color: #428BCA;

	border: 1px solid #428BCA;
	color: #fff;
}
*/


.node-header { /* refers the the band that contains the expand/collapse buttons */
	margin-top: 10px;
	min-height: 34px;
}

.node-header input {
	width: 100px;
	display: inline;
}

.node-header a {
		padding: 6px 12px;
		cursor: pointer;
}

.advancedView.bs-callout {
		margin-top: 5px;
		margin-bottom: 0px;
		border-left: 5px solid #CCC;
		background-color: #eee;
}

.step .help-block {
	margin-bottom: 5px;
}

.say-step .step-options {
	width: 304px;
}

.nav-tabs > li.controlnodes {
	float: right;
}

.verb-button {
	z-index: 1;
}

.label.verb-button {
	font-size: 100%;
	font-weight: normal;
	display: block;
	margin-bottom: 5px;
	padding: 8px;
	text-align: left;
}


.leftmenu > li {
	width: 100%;
	margin-bottom: 5px;
}

.step-list {
	min-height: 500px;
}

.rvd-project-item {
	margin-bottom:4px;
}

.rvd-project-item .buttonarea i {
	margin: 10px 5px 5px 0px;
}

.rvd-project-item .delete-confirmation {
	margin-top:5px;
	margin-bottom:15px;
}

.rvd-node {
	padding-top: 10px;
}

value-extractor .btn.pull-right {
	margin-left: 5px;
}

.assignment .remove-button, .route-mapping .remove-button {
	margin-top: 7px;

}

.service-url-wrap {
	margin-bottom: 25px;
	margin-top: 10px;
}


li.verb {
	margin-bottom:10px;
}


/* a fix for displaying small <select>s inside input groups */
.routing-decision-controls.input-group-sm .height-fix {
    height: 32px;
}

.field-info-link {
    padding-left:5px;
    padding-right:5px;
}

.help-tooltip {
    cursor:help;
}

.wellinfo-rollup {
    text-align: right;
}

.drop-area {
	background: none repeat scroll 0% 0% rgb(248, 248, 248);
	border: 5px dashed rgb(221, 221, 221);
	text-align: center;
}

.drop-area-image {
	min-height: 36px;
	background-image:url('../images/plus-small.png');
	opacity: 0.6;
	background-repeat:no-repeat;
	background-position:center;
	border: 1px dashed rgb(221, 221, 221);
}

.drop-area.drop-area-nouns {
	border: 1px dashed rgb(221, 221, 221);
}

.drop-area .drop-prompt {
	padding: 7px;
	opacity: 0.6;
}

.drop-area.dropping {
	background-color:beige;
	cursor:copy;
}

.drop-area-nouns {
	position:absolute;
	top:0;
	width:96%;
}

.dial-nouns {
	min-height:50px;
}

.nested-steps {
	min-height: 50px;
}

.button-say {
}


/* make draggable .label's occupy some space when dragged onto to sortables */
.label.ui-sortable-placeholder:empty {
	display: inline;
}


.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.sortable-placeholder {
	height: 20px;
	width: 100px;
}

.more-audio-resources {
	margin-top: 10px;
}

.rvd-disabled {
	opacity: 0.5;
}

/* all rvd-alerts will be drawn relatively to this element */
.alert-container {
	position: relative
}

.rvd-alerts {
	position: absolute;
	z-index: 2;
	right: 0;
	width: 200px;
}

.spinner-save {
	margin-left: 18px;
}

/* --- Dial step customizations */
.conference-noun .noun-advanced {
	margin-top: 5px;
	margin-left: 10px;
}
/* --- /Dial step customizations */

.project-kind-thumb {
	font-size: 84px;
	opacity: 0.6
}

.sms-project .project-kind-thumb {
	font-size: 70px;
	padding: 7px;
}

.target-mapping .close {
	margin-right: 12px;
}

.rvd-panel {
	border: 1px solid #d0d0d0;
}

.rvd-panel .panel-heading {
	background-color: #f0f0f0;
}

/* jquery-ui customizations */

.ui-sortable .ui-state-highlight {
	border: 1px solid #f69c55;
    background: #f69c55;
    border-radius: 5px;
	color: #f69c55;
    height: 10px;
    margin-bottom: 5px;
}


/*
 *
 * BOOTSTRAP CUSTOMIZATIONS
 *
 */

.form-control.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/* used in rvdDropdown control (at least) */
.input-group-btn:not(:first-child) > .btn {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.input-group-btn:not(:last-child) > .btn {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.ussd-letter-counter {
	margin-bottom: 13px;
	margin-left: 8px;
}

.packaging-config-option {
	box-shadow: rgb(136, 136, 136) 0px 0px 3px;
	padding-left: 12px;
	padding-top: 1px;
	border-radius: 2px;
	background-color: white;
}

.packaging-config-option .close-button {
	position: absolute;
	right: 26px;
	top: 9px;
}
label {
	color: #737373;
}



/* Bootstrap extension for having a lot of stuff on nav-tabs */

.nav-tabs > li > span.navtab {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    line-height: 1.42857;
    margin-right: 2px;
    cursor: pointer;
}
.nav > li > span.navtab {
    display: block;
    padding: 10px 15px;
    position: relative;
}

.nav-tabs > li > span.navtab:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs > li.active > span.navtab,
.nav-tabs > li.active > span.navtab:hover,
.nav-tabs > li.active > span.navtab:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
}

.nav > li > span.navtab:hover,
.nav > li > span.navtab:focus {
  text-decoration: none;
  background-color: #eeeeee;
}


.navtab input {
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    font-size: 12px;
    line-height: 1.42857;
    padding: 2px 7px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;

}

.glyphicon {
	margin-right: 10px;
}

/* /Bootstrap extension for having a lot of stuff on nav-tabs */

textarea.medium {
	height: 150px;
}


/* ------------------ #/designer --------------------------- */
.rvd-designer .rvd-menu {
	margin-bottom: 9px;
}

.rvd-designer .rvd-submenu {
	margin-bottom: 9px;
}

.rvd-view-selector .nav li > a {
	padding: 5px 20px;
}

.rvd-subheader-message {
	margin-left: 10px;
}

.rvd-ccview {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.editor .panel-heading {
	padding: 5px 10px;
}

.header .cogs {
	font-size: 41px;
}

.editor {
	min-height: 580px;
	background-color: rgb(240, 240, 240);
}

.toggle_step:hover {
	opacity:0.6;
}

.step.panel {
	margin-bottom: 5px;
}

.node-bootstrap {
	margin-bottom: 15px;
	text-align: right;
}

.node-bootstrap textarea {
	margin-top: 10px;
	height: 170px;
}

.collapse-button {
	font-size: 21px;
	font-weight: bold;
}

.container {
	margin-top: 85px;
	/*min-height: 500px;*/
}

.panel-rvdstep > .panel-heading {
	background-color: #f0f0f0;
}

.panel-rvdstep {
	/*border: none;*/
	box-shadow: 1px 1px 1px 1px #ccc;
}

.editor .nav > li > a {
	padding: 7px 15px;
	margin-right:5px;
}

.editor .nav .caret {
	border-top-color: white;
}

.editor .top-menu .btn-primary:hover {
	background-color: #428BCA;
	opacity: 0.8;
}

.editor .top-menu .btn-primary:focus {
	background-color: #428BCA;
	opacity: 0.8;
}

.rvd-designer .module-filter {
	width: 200px;
}

.rvd-designer .no-modules-warning {
	text-align: center;
	padding-top: 100px;
}

/* Graph */
.graph {
	border: 1px solid #D3D3D3;
	border-radius: 3px;
}
#paper {
	padding: 20px;
	
	/*display: inline-block;*/
	overflow: hidden;
}
#paperContainer {

}
.graph .graph-controls {
	position:absolute;
	right:20px;
}



/* ------------------ #/packaging/ view -------------------- */
.rvd-packaging .col-md-4 .rvd-appversion {
	width: 200px;
}

.packaging-config-option {
	box-shadow: rgb(136, 136, 136) 0px 0px 3px;
	padding-left: 12px;
	padding-top: 1px;
	border-radius: 2px;
	background-color: white;
}

.packaging-config-option .close-button {
	position: absolute;
	right: 26px;
	top: 9px;
}

/* ----------------- #/project-manager/* view */
.rvd-project-manager .rvd-project-item i {
	color: #333;
}
.packaging-menu {
	margin-right: 15px;
}

/* ----------------- #/login view -------------------------- */

/* ----------------- #/designer/_/log view ----------------- */
#rvd-log-textarea {
	height: 300px;
}

/* ----------------- index.html ---------------------------- */
.notifications-wrapper {
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 2000;
    top: 51px;
}

.navbar-brand .rvd-head {
	color: #999;
}
.navbar-brand .rvd-head:hover {
	text-decoration: none;
	color: #CCC;
}

/* ------------------ index.html - top menu ---------------- */
.rvd-phone-image {
	margin-top: -6px;
	height: 25px;
}

.rvd-telestax-image {
	margin-top: -9px;
}

/* ------------------ global formatting -------------------- */
.rvd-spacer5 {
	height: 5px;
}

.rvd-spacer10 {
	margin-top: 10px;
}

.rvd-spacer20 {
	margin-top: 20px;
}

.rvd-grey {
	color: #888;
}

/* ----------------- Web Trigger modal -------------------- */
.web-trigger .footer-warning {
	float: left;
	width: 66%;
	text-align: left;
}


/* ------------------ directives -------------------- */
/*.variable-lookup button {
	border-radius: 0 4px 4px 0;
}

.input-group-sm>.variable-lookup.input-group-btn>.btn {
	border-radius: 0;
}
*/

.input-group-btn.variable-lookup:not(:first-child):not(:last-child) button {
	border-radius: 0;
}

.input-group-btn.variable-lookup:not(:first-child):last-child button {
	border-radius: 0 4px 4px;
}

.connection-wrap, .link-tool , .link-tools { display: none; }
.marker-arrowhead { display: none }
.marker-vertices { display: none }


