<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ TeleStax, Open Source Cloud Communications
  ~ Copyright 2011-2014, Telestax Inc and individual contributors
  ~ by the @authors tag.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation; either version 3 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>
  ~
  -->

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--
  @author thomas.quintana@telestax.com (Thomas Quintana)
-->
<configuration>
    <environments default="production">
        <environment id="production">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.hsqldb.jdbcDriver"/>
                <property name="url" value="jdbc:hsqldb:file:MYBATIS_SANDBOX_PATH/restcomm;create=true;hsqldb.write_delay=false;shutdown=true"/>
                <property name="username" value="sa"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>


    <mappers>
        <mapper  url="file:MYBATIS_SANDBOX_PATH/accounts.xml"/>
    </mappers>
</configuration>