@CHARSET "UTF-8";

.restcomm-site-doc-links-panel {
  float: left;
  border-left-color: #666;
  border-left-style: solid;
  border-left-width: 1px;
}

.restcomm-site-doc-links {
  list-style: none;
}

.restcomm-site-doc-link {
  font-size: 18px;
  margin-top: 20px;
}

.restcomm-site-error-content {
  float: left;
  width: 75%;
}

.restcomm-site-error-heading1 {
  font-size: 38px;
  padding-bottom: 25px;
}

.restcomm-site-error-heading2 {
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.restcomm-site-error-message {
  color: #ff0000;
  font-size: 24px;
}