@CHARSET "UTF-8";

html, body {
  height: 100%;
}

body {
  color: #666;
  font-family: arial, sans-serif;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

#canvas {
  min-height: 100%;
  height: auto;
  height: 100%;
  margin-bottom: -32px;
}

.restcomm-site-header {
  background-color: #021F2F;
  padding: 20px;
}

.restcomm-site-menu {
  float: right;
  list-style: none;
}

.restcomm-site-menu-item, .restcomm-site-login-menu-item {
  color: #eeeeee;
  display: inline-block;
  font-size: 24px;
  width: 100px;
}

.restcomm-site-login-menu-item {
  color: #ff9c00;
}

.restcomm-site-content-panel {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 75%;
}

.restcomm-site-footer {
  background-color: #021F2F;
  color: #eeeeee;
  height: 20px;
}
