<!--
 Telestax, Open Source Cloud Communications
 Copyright 2013, Telestax, Inc. and individual contributors
 by the @authors tag. See the copyright.txt in the distribution for a
 full listing of individual contributors.
 
 This is free software; you can redistribute it and/or modify it
 under the terms of the GNU Lesser General Public License as
 published by the Free Software Foundation; either version 2.1 of
 the License, or (at your option) any later version.
 
 This software is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 Lesser General Public License for more details.
 
 You should have received a copy of the GNU Lesser General Public
 License along with this software; if not, write to the Free
 Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 02110-1301 USA, or see the FSF site: http://www.fsf.org.
-->
<div class="login-top-border"></div>
<div class="login-dialog">
	<h1 class="login-dialog-form-header">Welcome to RestComm</h1>
	<div class="login-dialog-form">
		<ul class="login-dialog-form-row">
			<li class="login-dialog-form-column">
				<label class="login-dialog-form-label">Host:</label>
			</li>
			<li class="login-dialog-form-column">
				<input class="login-dialog-form-input" id="host" type="text"/>
			</li>
		</ul>
		<ul class="login-dialog-form-row">
			<li class="login-dialog-form-column">
				<label class="login-dialog-form-label">Account SID:</label>
			</li>
			<li class="login-dialog-form-column">
				<input class="login-dialog-form-input" id="sid" type="text"/>
			</li>
		</ul>
		<ul class="login-dialog-form-row">
			<li class="login-dialog-form-column">
				<label class="login-dialog-form-label">Auth Token:</label>
			</li>
			<li class="login-dialog-form-column">
				<input class="login-dialog-form-input" id="auth-token" type="password"/>
			</li>
		</ul>
		<div align="center">
			<input id="login-button" type="button" value="Login" />
			<input id="clear-button" type="button" value="Clear" />
		</div>
	</div>
</div>