<h4 class="panel-title">
	<i ng-click='stepModel.iface.isCollapsed = !stepModel.iface.isCollapsed' class="fa rvd-clickable pull-left" ng-class="{'fa-caret-right': stepModel.iface.isCollapsed, 'fa-caret-down': !stepModel.iface.isCollapsed}"></i>
 	<i ng-click='removeStep(stepModel)' class='fa fa-trash-o pull-right rvd-clickable'></i>
	<div class="rvd-handle">
		&nbsp;
		<span  title='{{stepModel.name}}'>{{stepModel.title}}</span>
		<span ng-show="stepModel.iface.isCollapsed" ng-transclude></span>
		<i ng-show='stepModel.iface.showWarning' class="fa fa-warning step-warning-icon"></i>
	</div>
</h4>
