<h4 class="panel-title">
	<i ng-click='step.iface.isCollapsed = !step.iface.isCollapsed' class="fa rvd-clickable pull-left" ng-class="{'fa-caret-right': step.iface.isCollapsed, 'fa-caret-down': !step.iface.isCollapsed}"></i>
 	<i ng-click='removeStep(stepModel)' class='fa fa-trash-o pull-right rvd-clickable'></i>
	<div class="rvd-handle">
		&nbsp;
		<span  title='{{stepModel.name}}'>{{step.label}}</span>
		<span ng-show="step.iface.isCollapsed" ng-transclude></span>
		<i ng-show='step.iface.headWarning' ng-click="step.iface.headWarning = undefined" class="fa fa-warning step-warning-icon rvd-clickable-text" title="{{step.iface.headWarning.title}}"></i>
	</div>
</h4>
