	<div class="step log-step panel panel-rvdstep">
		<div class="panel-heading">
			<step-heading><small></small></step-heading>
		</div>
		<div class="panel-body" ng-hide='step.iface.isCollapsed'>
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<form lookup-context name="form" novalidate>
						<div class="form-group">
								<span class="help-block">{{'logStepTextLabel' | translate}} &nbsp;<i class="fa fa-info-circle rvd-clickable" popover="{{'logStepTextLabelPopover' | translate}}" popover-placement='top'></i></span>
								<textarea ng-model='step.message' lookup-target name="message" class="form-control" required></textarea>	
								<div ng-show="form.invalid.$invalid" class="validation-error pull-left">{{'logStepValidationError' | translate}}</div>
						</div>
						<div class="form-group pull-right">
							<variable-lookup variable="step.message" view="standalone"></variable-lookup>
						</div>
					</form>
				</div>
			</div>
					

<!-- 
			<i ng-click='step.iface.optionsVisible = !step.iface.optionsVisible' class='fa fa-cog rvd-clickable' ng-class="{'rvd-active': step.iface.optionsVisible }"></i>
			<div collapse='!step.iface.optionsVisible' class='row'>
				<br/>
				<div class="col-lg-12">
					<div class="input-group form-group pull-left language">
						<span class="input-group-addon ">Language</span>
						<select ng-model='step.language' auto-clear ng-options='language.name as language.text for language in languages'  id="languageSelect" class="form-control say-language-dropdown" >
							<option value=""></option>
						</select>
					</div>
					<div class="btn-toolbar voice" role="toolbar">
					  <span class="btn-group">
						<button ng-click='step.voice="man"' ng-class="{active:step.voice=='man'}"  type="button" class="btn btn-default"><i class='fa fa-male'></i></button>
						<button ng-click='step.voice="woman"' ng-class="{active:step.voice=='woman'}" type="button" class="btn btn-default"><i class='fa fa-female'></i></button>
					  </span>
					</div>
					<div class="input-group form-group loop">
						<span class='input-group-addon help-tooltip' tooltip-trigger='mouseenter' tooltip-popup-delay='1000' tooltip="How many times the text will be repeated. Default is '1'. '0' will loop until the call is hang up.">Loop</span>
						<input ng-model='step.loop' auto-clear type='number' class='form-control' placeholder='1' />
					</div>
				</div>
			</div>
 -->
			
		</div>
	</div>
