<div class="step pause-step panel panel-rvdstep">
	<div class="panel-heading">
			<step-heading></step-heading>
	</div>

	<div class="panel-body" ng-hide='step.iface.isCollapsed'>
		<div class="row">
			<div class="col-md-12">				
				<form name="form" novalidate>
					<div class="input-group input-group-sm">
						<span class="input-group-addon htlp-tooltip" tooltip-trigger='mouseenter' tooltip-popup-delay='1000' tooltip="{{'pauseStepLengthTooltip' | translate}}">{{'pauseStepLengthLabel' | translate}}</span>
						<input name="length" type="number" ng-pattern='/^[0-9]*$/' ng-model='step.length' auto-clear class="form-control" placeholder="{{'pauseStepLengthInputPlaceholder' | translate}}" />
					</div>
				</form>
				
			</div>
		</div>
	</div>
</div>
