
<div class="step play-step panel panel-rvdstep">
	<div class="panel-heading">
			<step-heading></step-heading>
	</div>
	<div class="panel-body" ng-hide='step.iface.isCollapsed'>
		<form name="form" novalidate>
			<div class='form-group row'>
				<div lookup-context class="col-md-12">
					<span class="help-block">{{'playStepUrlFileLabel' | translate}}</span>
					<div class="input-group">
						<span class='input-group-addon'>{{'playStepUrlFileAudioLabel' | translate}}</span>
						<span class="input-group-addon">
							<span>{{'playStepUrlFileLocalRadio' | translate}} &nbsp;</span>
							<input ng-model='step.playType' value='local' type="radio">
						</span>
						<span class="input-group-addon">
							<span>{{'playStepUrlFileRemoteRadio' | translate}} &nbsp;</span>
							<input ng-model='step.playType' value='remote' type="radio">
						</span>		
						<input  name='wavUrl' ng-show='step.playType=="remote"' null-if-empty ng-model='step.remote.wavUrl' lookup-target type='text' required class='form-control' placeholder="{{'playStepUrlFileInputPlaceholder' | translate}}"/>
						<variable-lookup variable="step.remote.wavUrl" view="input-group" ng-show='step.playType=="remote"'></variable-lookup>
						<select name='wavLocalFilename' ng-show='step.playType=="local"' ng-model='step.local.wavLocalFilename' ng-options='wavItem.filename as wavItem.filename for wavItem in wavList' class="form-control" required></select>
					</div>
					<div class="validation-error" ng-show="step.playType=='remote' && form.wavUrl.$invalid">{{'playStepUrlFileError1' | translate}}</div>
					<div class="validation-error" ng-show="step.playType=='local' && form.wavLocalFilename.$invalid">{{'playStepUrlFileError2' | translate}}</div>
				</div>	
			</div>	
			
			<div class="row">
				<div class='col-md-12'>
					<i ng-click='step.iface.optionsVisible = !step.iface.optionsVisible' class='fa fa-cog rvd-clickable' ng-class="{'rvd-active': step.iface.optionsVisible }"></i>
					<div collapse='!step.iface.optionsVisible'>
						<br/>
						<div class="input-group form-group loop">
							<span class='input-group-addon help-tooltip' tooltip-trigger='mouseenter' tooltip-popup-delay='1000' tooltip="{{'playStepLoopTooltip' | translate}}">{{'playStepLoopLabel' | translate}}</span>
							<input ng-model='step.loop' auto-clear type='number' class='form-control' placeholder="{{'playStepLoopPlaceholder' | translate}}" />
						</div>
					</div>
				</div>
			</div>
		</form>	
	</div>
</div>
