<div class="step reject-step panel panel-rvdstep">
	<div class="panel-heading">
			<step-heading></step-heading>
	</div>	

	<div class="panel-body" ng-hide='step.iface.isCollapsed'>
		<div class="row">
			<div class="col-md-12">				
				<form name="form" novalidate>
					<div class="input-group input-group-sm">
						<span class="input-group-addon">{{'rejectStepReasonLabel' | translate}}</span>
						<select name="method" auto-clear ng-model='step.reason' ng-options='pair.value as pair.caption for pair in rejectOptions' class="form-control">
							<option value=""></option>
						</select>
					</div>
				</form>
				
			</div>
		</div>
	</div>
</div>
