<h4 class="panel-title">
	<i ng-click='step.iface.isCollapsed = !step.iface.isCollapsed' class="fa rvd-clickable pull-left" ng-class="{'fa-caret-right': step.iface.isCollapsed, 'fa-caret-down': !step.iface.isCollapsed}"></i>
 	<i ng-click='removeStep(step,listModel)' class='fa fa-trash-o pull-right rvd-clickable'></i>
	<div class="rvd-handle">
		&nbsp;
		<span  title='{{step.name}}'>{{step.title}}</span>
		<span ng-show="step.iface.isCollapsed" ng-transclude></span>
		<i ng-show='step.iface.showWarning' class="fa fa-warning step-warning-icon"></i>
	</div>
</h4>
