<div class="step ussdSay-step panel panel-rvdstep">
	<div class="panel-heading">
			<step-heading></step-heading>
	</div>

	<div class="panel-body" ng-hide='step.iface.isCollapsed'>
		<div class="row">
			<div class="col-md-12">				
				<form lookup-context name="form" novalidate>
					<div class="form-group">
						<span class="help-block">{{'ussdSayStepTextLabel' | translate}} &nbsp;<i class="fa fa-info-circle rvd-clickable" popover="{{'ussdSayStepTextLabelPopover' | translate}}" popover-placement='top'></i></span>
						<textarea ng-model='step.text' lookup-target class="form-control medium"></textarea>	
						<div class='help-block pull-left' ng-show='countUssdChars(step.text) > 0'>{{countUssdChars(step.text)}} {{'ussdSayStepChacarctersLabel' | translate}}</div>
						<!--  <div class="validation-error" ng-show="countUssdChars(step.text) < 0">Text will be truncated!</div> -->
					</div>	
					<div class="form-group pull-right">
						<variable-lookup variable="step.text" view="standalone"></variable-lookup>
					</div>	
								
					<!-- 
					<i ng-click='step.iface.optionsVisible = !step.iface.optionsVisible' class='fa fa-cog rvd-clickable' ng-class="{'rvd-active': step.iface.optionsVisible }"></i>
					<div collapse='!step.iface.optionsVisible' class='form-group'>
						<br/>
						<div class="input-group form-group pull-left language">
							<span class="input-group-addon ">Language</span>
							<select ng-model='step.language' null-if-empty ng-options='language.name as language.text for language in languages'  id="languageSelect" class="form-control say-language-dropdown" >
								<option value=""></option>
							</select>
						</div>
					</div>
					 -->
												
				</form>
			</div>
		</div>
	</div>
</div>
