<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand"><img src="resources/img/telestax-logo-dark.png" class="navbar-telestax" /> <img src="resources/img/restcomm-logo.png" class="navbar-restcomm" /> RESTCOMM</span>
        </div>
        <div class="navbar-collapse collapse">
            <div ng-if="!!loggedAccount" ng-controller="UserMenuCtrl">
                <ul class="nav navbar-nav">
                    <li><a> </a></li>
                    <li><a ng-href="#/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    <li class="divider-vertical"></li>
                    <li><a ng-href="#/numbers"><i class="fa fa-phone"></i> Numbers</a></li>
                    <li class="divider-vertical"></li>
                    <li><a ng-href="#/logs"><i class="fa fa-file-text-o"></i> Logs</a></li>
                    <li class="divider-vertical"></li>
                    <!--<li><a ng-click="testNotifications()"><i class="fa fa-flag-checkered"></i> Notification</a></li>-->
                    <!--<li class="divider-vertical"></li>-->
                    <li><a ng-href="/restcomm-rvd/" target="_blank"><i class="fa fa-pencil"></i> Visual Designer</a></li>
                    <li class="divider-vertical"></li>
                    <li><a ng-href="#/ras" ><i class="fa fa-shopping-cart"></i> Restcomm Apps</a></li>
                    <li class="divider-vertical"></li>
                    <!--<li><a ng-href="#/providers"><i class="fa fa-cogs"></i> Providers</a></li>-->
                    <!--<li class="divider-vertical"></li>-->
                    <!--<li><a ng-href="#/usage"><i class="fa fa-bar-chart"></i> Usage</a></li>-->
                    <!--<li class="divider-vertical"></li>-->
                </ul>
                <i ng-show="loggedAccount.role == 'Administrator'" class="fa fa-info-circle pull-right text-danger clickable" style="padding-top: 12px;" ng-click="showAboutModal()"></i>
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ friendlyName }} <b class="caret"></b></a>
                        <ul id="dropdown-list" class="dropdown-menu pull-right">
                            <li><a href="#/profile/{{sid}}"><i class="fa fa-cog"></i> Account Settings</a></li>
                            <li class="divider"></li>
                            <li class="navbar-header text-muted" style="margin-left: 10px;">Sub Accounts</li>
                            <li ng-repeat="account in accountsList" ng-hide="account.sid == sid"><a href="#/profile/{{account.sid}}"><i ng-class="account.type == 'Full' ? 'fa fa-suitcase' : 'fa fa-code'"> </i> {{account.friendly_name}}</a></li>
                            <li class="disabled"><a href="#"></a> </li>
                            <li class="disabled"><a href="#"></a> </li>
                            <li class=""><a href="#" onclick="return false;" ng-click="showRegisterAccountModal();"><i class="fa fa-plus"></i> Create New Account...</a> </li>
                            <li ng-show="loggedAccount.role=='Administrator' && identityServerConfigured" class="divider"></li>
                            <li ng-show="loggedAccount.role=='Administrator' && !!identity && identityServerConfigured"><a href="#/identity/edit"><i class="fa fa-lock"></i> Identity Instance</a></li>
                            <li ng-show="loggedAccount.role=='Administrator' && !identity && identityServerConfigured"><a href="#/identity/register"><i class="fa fa-unlock"></i> Register Identity</a></li>
                            <li class="divider"></li>
                            <li><a href ng-click="logout()"><i class="fa fa-sign-out"></i> Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!--/.nav-collapse -->
    </div>
</div>