<div class="col-md-2 custom-width-select in-box-separator">
    <select ng-change="onTargetChanged(targetVar)" ng-model="targetVar" class="selectpicker-custom">
        <option value="URL">URL</option>
        <option value="Application">RVD Application</option>
    </select>
</div>
<div class="col-md-7 custom-width-url-app in-box-separator" ng-show="targetVar === 'URL'">
    <input class="textbox-url" type="text" placeholder="http://restcomm-demo.appspot.com/app/voice/welcome.xml" ng-model="urlVar" ng-show="targetVar === 'URL'">
    <select ng-model="methodVar" class="selectpicker-post-get">
        <option value="POST">POST</option>
        <option value="GET">GET</option>
    </select>
</div>
<div class="col-md-7 custom-width-url-app in-box-separator" ng-show="targetVar === 'Application'">
    <select ng-change="setApp()" class="app-selection-picker" ng-model="appNameVar">
        <option value="">No application selected</option>
        <option value="create_new_project">Create new project</option>
        <option ng-repeat="app in apps | orderBy:'projectName'" value={{app.sid}}>{{ app.projectName }}</option>
    </select>
</div>

<!--
<div class="input-group">
    <div class="input-group-btn" ng-show="urlOnlyVar == false">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{targetVar}} <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href ng-click="setTarget('URL')"><span class="fa fa-check" ng-show="targetVar === 'URL'"></span> URL</a></li>
            <li><a href ng-click="setTarget('Application')"><span class="fa fa-check" ng-show="targetVar === 'Application'"></span> Application</a></li>
        </ul>
    </div>
    <input type="text" class="form-control col-md-10" placeholder="http://restcomm-demo.appspot.com/app/voice/welcome.xml" ng-model="urlVar" ng-show="targetVar === 'URL'"/>
    <div class="input-group-btn" ng-show="targetVar === 'URL'">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{methodVar}} <span class="caret"></span></button>
        <ul class="dropdown-menu" ng-init="methodVar='POST'" >
            <li><a href ng-click="setMethod('GET')"><span class="fa fa-check" ng-show="methodVar === 'GET'"></span> GET</a></li>
            <li><a href ng-click="setMethod('POST')"><span class="fa fa-check" ng-show="methodVar === 'POST'"></span> POST</a></li>
        </ul>
    </div>
    <input type="text" class="form-control col-md-10" placeholder="Select one Application from the list at the right side" ng-model="appNameVar" ng-show="targetVar === 'Application'" ng-readonly="true"/>
    <div class="input-group-btn" ng-if="apps.length > 0" ng-show="targetVar === 'Application'">
        <button type="button" class="btn btn-default" ng-click="clearSelectedApp()" ng-show="!!appNameVar"><i class="fa fa-times"></i></button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-sitemap"></i> <span class="caret"></span></button>
        <ul class="dropdown-menu scrollable-menu">
            <li><a href="{{PublicConfig.rvdUrl}}/" target="_blank"><i class="fa fa-sitemap"></i> Create New...</a></li>
            <li class="divider"></li>
            <li ng-repeat="app in apps|orderBy:'projectName'">
                <a href title="{{app.startUrl}}" ng-click="setApplication(app)">{{app.projectName}}</a>
            </li>
            <li role="presentation" class="dropdown-header">{{apps.length}} applications</li>
        </ul>
    </div>
</div>
-->