<div class="row">
    <ul class="nav nav-pills" style="margin-bottom: 15px;">
        <li ng-class="{'active': location.indexOf('/logs/calls') === 0}"><a ng-href="#/logs/calls">CALLS</a></li>
        <li ng-class="{'active': location.indexOf('/logs/messages') === 0}"><a href="#/logs/messages">MESSAGES</a></li>
        <li ng-class="{'active': location.indexOf('/logs/recordings') === 0}"><a href="#/logs/recordings">RECORDINGS</a></li>
        <li ng-class="{'active': location.indexOf('/logs/transcriptions') === 0}"><a href="#/logs/transcriptions">TRANSCRIPTIONS</a></li>
        <li ng-class="{'active': location.indexOf('/logs/notifications') === 0}"><a href="#/logs/notifications">NOTIFICATIONS</a></li>
    </ul>
</div>