<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand"><img src="resources/img/telestax-logo-dark.png" class="navbar-telestax" /> <img src="resources/img/restcomm-logo.png" class="navbar-restcomm" /> RESTCOMM</span>
        </div>
        <!--
            <div ui-view="usermenu" class="navbar-collapse collapse">

            </div>
        -->
    </div>
</div>
<div class="container" ui-view="content"></div>
