<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--
  @author thomas.quintana@telestax.com (Thomas Quintana)
-->
<configuration>
  <environments default="production">
    <environment id="production">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.hsqldb.jdbcDriver"/>
        <property name="url" value="jdbc:hsqldb:file://${data}/restcomm;ifexists=true;hsqldb.write_delay=false;shutdown=true"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
      </dataSource>
    </environment>
  </environments>
  
  
  <mappers>
    <mapper class="org.mobicents.servlet.restcomm.mappers.AccountsMapper" />
    <mapper class="org.mobicents.servlet.restcomm.mappers.AnnouncementsMapper" />
    <mapper class="org.mobicents.servlet.restcomm.mappers.ApplicationsMapper" />
    <mapper class="org.mobicents.servlet.restcomm.mappers.AvailablePhoneNumberMapper" />
    <mapper class="org.mobicents.servlet.restcomm.mappers.CallDetailRecordsMapper" />
    <mapper class="org.mobicents.servlet.restcomm.mappers.ClientsMapper" />
    <mapper class="org.mobicents.servlet.restcomm.mappers.GatewaysMapper" />
    <mapper class="org.mobicents.servlet.restcomm.mappers.HttpCookiesMapper" />
    <mapper class="org.mobicents.servlet.restcomm.mappers.IncomingPhoneNumbersMapper" />
    <mapper class="org.mobicents.servlet.restcomm.mappers.InstanceIdMapper" />
    <mapper class="org.mobicents.servlet.restcomm.mappers.NotificationsMapper" />
    <mapper class="org.mobicents.servlet.restcomm.mappers.OutgoingCallerIdsMapper" />
    <mapper class="org.mobicents.servlet.restcomm.mappers.RecordingsMapper" />
    <mapper class="org.mobicents.servlet.restcomm.mappers.RegistrationsMapper" />
    <mapper class="org.mobicents.servlet.restcomm.mappers.ShortCodesMapper" />
    <mapper class="org.mobicents.servlet.restcomm.mappers.SmsMessagesMapper" />
    <mapper class="org.mobicents.servlet.restcomm.mappers.TranscriptionsMapper" />
    <mapper class="org.mobicents.servlet.restcomm.mappers.UsageMapper" />
  </mappers>
</configuration>